/*
    description Of variables for build for theme layouts
        1) menu-caption-color
            List of color for sidebar menu caption

        2) brand-background
            List of color for logo background

        3) header-dark-background
            List of color for Dark Header

        4) header-light-background
            List of color for light Header

        5) menu-dark-background
            List of color for Dark sidebar menu

        6) menu-light-background
            List of color for light sidebar menu

        7) menu-active-color
            List of color for Active item highliter

        8) menu-icon-color
            List of color for sidebar menu items icon colors
*/
                        /**  =====================
      Rtl css start
==========================  **/
body {
  direction: rtl;
  text-align: right;
}

.scroll-div > .scroll-element.scroll-y {
  right: auto;
  left: 6px;
}

.card .card-header h5 {
  margin-right: 0;
  margin-left: 10px;
}
.card .card-header h5:after {
  left: auto;
  right: -25px;
}
.card .card-header .card-header-right {
  display: none;
  left: 10px;
  right: auto;
}

/* ======    Header   ========== */
/* ======    Bootstrap   ========== */
.mr-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.ml-auto {
  margin-right: auto !important;
  margin-left: 0 !important;
}

.float-left {
  float: right !important;
}

.float-right {
  float: left !important;
}

.text-right {
  text-align: left !important;
}

.list-group {
  padding-right: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-left: 8px;
}

/* ======    Bootstrap   ==========*/
/**  =====================
      Generic-class css start
========================== **/
.p-l-0 {
  padding-right: 0px;
  padding-left: 0;
}
.p-l-0[class*='col'] {
  padding-left: 15px;
}
.p-r-0 {
  padding-left: 0px;
  padding-right: 0;
}
.p-r-0[class*='col'] {
  padding-right: 15px;
}

.m-l-0 {
  margin-right: 0px;
  margin-left: 0;
}
.m-r-0 {
  margin-left: 0px;
  margin-right: 0;
}

.p-l-5 {
  padding-right: 5px;
  padding-left: 0;
}
.p-r-5 {
  padding-left: 5px;
  padding-right: 0;
}

.m-l-5 {
  margin-right: 5px;
  margin-left: 0;
}
.m-r-5 {
  margin-left: 5px;
  margin-right: 0;
}

.p-l-10 {
  padding-right: 10px;
  padding-left: 0;
}
.p-r-10 {
  padding-left: 10px;
  padding-right: 0;
}

.m-l-10 {
  margin-right: 10px;
  margin-left: 0;
}
.m-r-10 {
  margin-left: 10px;
  margin-right: 0;
}

.p-l-15 {
  padding-right: 15px;
  padding-left: 0;
}
.p-r-15 {
  padding-left: 15px;
  padding-right: 0;
}

.m-l-15 {
  margin-right: 15px;
  margin-left: 0;
}
.m-r-15 {
  margin-left: 15px;
  margin-right: 0;
}

.p-l-20 {
  padding-right: 20px;
  padding-left: 0;
}
.p-r-20 {
  padding-left: 20px;
  padding-right: 0;
}

.m-l-20 {
  margin-right: 20px;
  margin-left: 0;
}
.m-r-20 {
  margin-left: 20px;
  margin-right: 0;
}

.p-l-25 {
  padding-right: 25px;
  padding-left: 0;
}
.p-r-25 {
  padding-left: 25px;
  padding-right: 0;
}

.m-l-25 {
  margin-right: 25px;
  margin-left: 0;
}
.m-r-25 {
  margin-left: 25px;
  margin-right: 0;
}

.p-l-30 {
  padding-right: 30px;
  padding-left: 0;
}
.p-r-30 {
  padding-left: 30px;
  padding-right: 0;
}

.m-l-30 {
  margin-right: 30px;
  margin-left: 0;
}
.m-r-30 {
  margin-left: 30px;
  margin-right: 0;
}

.p-l-35 {
  padding-right: 35px;
  padding-left: 0;
}
.p-r-35 {
  padding-left: 35px;
  padding-right: 0;
}

.m-l-35 {
  margin-right: 35px;
  margin-left: 0;
}
.m-r-35 {
  margin-left: 35px;
  margin-right: 0;
}

.p-l-40 {
  padding-right: 40px;
  padding-left: 0;
}
.p-r-40 {
  padding-left: 40px;
  padding-right: 0;
}

.m-l-40 {
  margin-right: 40px;
  margin-left: 0;
}
.m-r-40 {
  margin-left: 40px;
  margin-right: 0;
}

.p-l-45 {
  padding-right: 45px;
  padding-left: 0;
}
.p-r-45 {
  padding-left: 45px;
  padding-right: 0;
}

.m-l-45 {
  margin-right: 45px;
  margin-left: 0;
}
.m-r-45 {
  margin-left: 45px;
  margin-right: 0;
}

.p-l-50 {
  padding-right: 50px;
  padding-left: 0;
}
.p-r-50 {
  padding-left: 50px;
  padding-right: 0;
}

.m-l-50 {
  margin-right: 50px;
  margin-left: 0;
}
.m-r-50 {
  margin-left: 50px;
  margin-right: 0;
}

/*====== Padding , Margin css ends ======*/
.pcoded-header {
  margin-left: auto;
  margin-right: 264px;
}
.pcoded-header .input-group .input-group-text {
  margin-right: auto;
  margin-left: 0;
}
.pcoded-header .navbar-nav {
  padding-right: 0;
}
.pcoded-header .navbar-nav > li:first-child {
  padding-right: 25px;
  padding-left: 12px;
}
.pcoded-header .navbar-nav > li:last-child {
  padding-left: 30px;
  padding-right: 12px;
}
.pcoded-header .mr-auto .dropdown-menu {
  margin-left: auto;
  margin-right: -20px;
}
.pcoded-header .ml-auto .dropdown-menu {
  margin-right: auto;
  margin-left: -20px;
}
.pcoded-header .main-search.open .input-group {
  padding: 5px 20px 5px 5px;
}
.pcoded-header .main-search.open .input-group .search-btn {
  margin-left: auto;
  margin-right: 5px;
}
.pcoded-header .dropdown .dropdown-toggle {
  padding-right: 0;
  padding-left: 15px;
}
.pcoded-header .dropdown .dropdown-toggle:after {
  right: auto;
  left: 0;
}
.pcoded-header .dropdown.show:before {
  left: 0;
  right: -5px;
}
.pcoded-header .dropdown .notification .noti-body img {
  margin-right: auto;
  margin-left: 20px;
}
.pcoded-header .dropdown .notification .noti-body li .n-time {
  float: left;
}
.pcoded-header .dropdown .notification ul {
  padding-right: 0;
}
.pcoded-header .dropdown .profile-notification .pro-head img {
  margin-right: auto;
  margin-left: 10px;
}
.pcoded-header .dropdown .profile-notification .pro-head .dud-logout {
  padding-left: 0;
  right: auto;
  left: 0;
}

/* ======    Header   ========== */
/* ======    menu   ========== */
.b-brand .b-title {
  margin-left: 0;
  margin-right: 10px;
}

.pcoded-navbar {
  direction: rtl;
  text-align: right;
}
.pcoded-navbar ul {
  padding-left: 0;
  padding-right: 0;
}
.pcoded-navbar .mobile-menu {
  right: auto;
  left: 10px;
}
.pcoded-navbar .pcoded-badge {
  right: auto;
  left: 35px;
}
.pcoded-navbar .pcoded-inner-navbar li > a {
  text-align: right;
}
.pcoded-navbar .pcoded-inner-navbar li.pcoded-hasmenu > a:after {
  right: auto;
  left: 20px;
}
.pcoded-navbar .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu li > a {
  text-align: right;
  padding: 7px 60px 7px 7px;
}
.pcoded-navbar .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu li > a:before {
  left: auto;
  right: 35px;
}
.pcoded-navbar .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu li .pcoded-submenu > li > a {
  padding: 7px 80px 7px 7px;
}
.pcoded-navbar .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu li .pcoded-submenu > li > a:before {
  left: auto;
  right: 55px;
}
.pcoded-navbar .pcoded-inner-navbar > li a .pcoded-micon {
  margin-right: 0;
  margin-left: 7px;
}
.pcoded-navbar .pcoded-inner-navbar > li.active:after, .pcoded-navbar .pcoded-inner-navbar > li.pcoded-trigger:after {
  left: auto;
  right: 0;
}
.pcoded-navbar.navbar-collapsed .header-logo .logo-thumb {
  left: auto;
  right: calc((80px / 2) - 20px);
}
.pcoded-navbar.navbar-collapsed .pcoded-menu-caption:after {
  left: auto;
  right: 15px;
}
.pcoded-navbar.navbar-collapsed ~ .pcoded-header,
.pcoded-navbar.navbar-collapsed ~ .pcoded-main-container {
  margin-left: auto;
  margin-right: 80px;
}
.pcoded-navbar.navbar-collapsed:hover .header-logo .mobile-menu {
  right: auto;
  left: 0;
}
.pcoded-navbar.navbar-collapsed .pcoded-inner-navbar > li.pcoded-hasmenu > a:after {
  left: 12px;
  right: auto;
}
.pcoded-navbar.mob-open ~ .pcoded-header,
.pcoded-navbar.mob-open ~ .pcoded-main-container, .pcoded-navbar.navbar-collapsed:hover ~ .pcoded-header,
.pcoded-navbar.navbar-collapsed:hover ~ .pcoded-main-container {
  margin-left: auto;
  margin-right: 80px;
}
.pcoded-navbar.mob-open ~ .pcoded-header:before,
.pcoded-navbar.mob-open ~ .pcoded-main-container:before, .pcoded-navbar.navbar-collapsed:hover ~ .pcoded-header:before,
.pcoded-navbar.navbar-collapsed:hover ~ .pcoded-main-container:before {
  left: auto;
  right: 0;
}


.pcoded-main-container {
  margin-left: 0;
  margin-right: 264px;
}

.pcoded-main-container-withoutSidebar {
  margin-left: 0;
  margin-right: 0;
}

/* ======    menu   ========== */
/* ======    dropdown   ========== */
.dropdown .dropdown-menu {
  text-align: right;
  left: auto;
}
.dropdown .dropdown-menu.dropdown-menu-right {
  right: auto;
  left: 0;
}

.note-card .note-box-aside {
  border-left: 1px solid #eaeaea;
  border-right: none;
}

/* ======    dropdown   ========== */
/* ======    Header Chat   ========== */
.header-chat,
.header-user-list {
  right: auto;
  left: -350px;
}
.header-chat.open,
.header-user-list.open {
  right: auto;
  left: 0;
}

.header-user-list .h-list-body .userlist-box .media-left {
  padding-right: 0;
  padding-left: 10px;
}
.header-user-list .h-list-body .userlist-box .live-status {
  right: auto;
  left: 20px;
}
.header-user-list.open .h-close-text {
  left: auto;
  right: -99px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header-chat .h-list-header .h-back-user-list {
  left: auto;
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header-chat .h-list-body .chat-messages .photo-table {
  padding-right: 0;
  padding-left: 15px;
}
.header-chat .h-list-body .chat-messages .chat-menu-content .chat-time,
.header-chat .h-list-body .chat-messages .chat-menu-reply .chat-time {
  margin: 9px 10px 0 8px;
}
.header-chat .h-list-body .chat-messages .chat-menu-reply {
  text-align: left;
}
.header-chat .h-list-body .chat-messages .chat-menu-reply > div p {
  margin-left: 25px;
  margin-right: 0;
}
.header-chat .h-list-body .chat-messages .chat-menu-reply > div p:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 8px;
}
.header-chat .h-list-body .chat-messages .chat-menu-reply > div:before {
  content: "\65";
  right: auto;
  left: 5px;
}
.header-chat .h-list-body .chat-messages .chat-menu-content > div p {
  border-radius: 4px;
}
.header-chat .h-list-body .chat-messages .chat-menu-content > div p:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
}
.header-chat .h-list-body .chat-messages .chat-menu-content > div:before {
  content: "\67";
  color: #1de9b6;
  left: auto;
  right: -20px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}
.header-chat .h-list-footer .input-group {
  border-radius: 0 20px 20px 10px;
}
.header-chat .h-list-footer .input-group .btn-attach {
  margin-right: 0;
  margin-left: 5px;
}
.header-chat .h-list-footer .input-group .btn-attach > i {
  margin-left: 0;
}
.header-chat .h-list-footer .input-group .btn-send {
  margin-left: 0;
  margin-right: 5px;
  right: auto;
  left: -45px;
}
.header-chat .h-list-footer .input-group .btn-send i {
  margin-left: 0;
}
.header-chat .h-list-footer .input-group:after {
  content: "\68";
  right: auto;
  left: -23px;
  text-shadow: -4px 10px 20px rgba(0, 0, 0, 0.1);
}

/* ======    Header Chat   ========== */
/* ======    Menu Styler Start     ======== */
.menu-styler h6:after {
  right: 0;
  left: auto;
}
.menu-styler .style-toggler > a {
  right: auto;
  left: 0;
}
.menu-styler .style-toggler > a:before {
  content: "\62";
  right: auto;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  left: -45px;
  text-shadow: 1px 0 8px rgba(4, 169, 245, 0.9), 6px 0 8px rgba(0, 0, 0, 0.1);
}
.menu-styler .style-toggler > a:after {
  right: auto;
  left: 4px;
}
.menu-styler.open .style-toggler > a {
  right: auto;
  left: 400px;
}
.menu-styler.open .style-toggler > a:before {
  right: auto;
}
.menu-styler.open .style-toggler > a:after {
  content: "\e849";
  right: auto;
}
.menu-styler.open .style-block {
  right: auto;
  left: 0;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.menu-styler .style-block {
  right: auto;
  left: -400px;
}
.menu-styler .theme-color > a {
  margin-right: 0;
  margin-left: 5px;
}
.menu-styler .theme-color > a span:before {
  left: auto;
  right: 0;
}
.menu-styler .theme-color > a span:after {
  right: auto;
  left: 0;
}
.menu-styler .theme-color > a.active:before {
  left: auto;
  right: 14px;
}
.menu-styler .theme-color > a.active:after {
  left: auto;
  right: 0;
}
.menu-styler .theme-color.small > a.active:before {
  right: 5px;
}

/* ======    Menu Styler end     ======== */
/* ======    Radio & Checked Start     ======== */
.checkbox {
  margin-right: 0;
  margin-left: 5px;
}
.checkbox input[type=checkbox] + .cr {
  padding-right: 0;
}
.checkbox input[type=checkbox] + .cr:before {
  margin-right: 0;
  margin-left: 10px;
}
.checkbox.checkbox-fill input[type=checkbox] + .cr:after {
  margin-right: 0;
  margin-left: 10px;
  left: auto;
  right: 3px;
}

.radio {
  margin-right: 0;
  margin-left: 5px;
}
.radio input[type=radio] + .cr {
  padding-right: 0;
}
.radio input[type=radio] + .cr:after, .radio input[type=radio] + .cr:before {
  margin-right: 0;
  margin-left: 10px;
}
.radio input[type=radio] + .cr:after {
  left: auto;
  right: 5px;
}
.radio.radio-fill input[type=radio] + .cr:after {
  left: auto;
  right: 2px;
}

.menu-styler .radio input[type=radio] + .cr {
  margin-right: 0;
}

.custom-control {
  padding-right: 1.5rem;
  padding-left: 0;
}
.custom-control .custom-control-label:after, .custom-control .custom-control-label:before {
  left: auto;
  right: -1.5rem;
}

.task-list:after {
  right: 30px;
}
.task-list li {
  padding-right: 55px;
  padding-left: 0;
}
.task-list .task-icon {
  right: 22px;
}

.dashboard-kit li {
  margin-left: 3px;
  margin-right: 0;
}

/**====== Radio & Checked css end ======**/
/* ==========================    Rsponsive Menu rtl  start   ====================== */
@media only screen and (max-width: 991px) {
  .pcoded-header .mobile-menu {
    right: auto;
    left: 0;
  }
  .pcoded-header .mobile-menu {
    left: 20px;
    right: auto;
  }

  .pcoded-navbar {
    margin-left: 0;
    margin-right: -264px;
  }
  .pcoded-navbar ~ .pcoded-header,
  .pcoded-navbar ~ .pcoded-main-container {
    margin-right: 0;
  }
  .pcoded-navbar.mob-open {
    margin-right: 0;
  }
  .pcoded-navbar.mob-open ~ .pcoded-header,
  .pcoded-navbar.mob-open ~ .pcoded-main-container {
    margin-right: 0;
  }
}
/* ==========================    Rsponsive Menu rtl  end   ====================== */
/* ==========================    basic componant rtl  start   ==================== */
.alert-dismissible {
  padding-left: 40px;
  padding-right: 20px;
}
.alert-dismissible .close {
  right: auto;
  left: 0;
}

.dropdown-toggle::after {
  margin-left: 0;
  margin-right: 0.255em;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group,
.btn-group-vertical .btn + .btn,
.btn-group-vertical .btn + .btn-group,
.btn-group-vertical .btn-group + .btn,
.btn-group-vertical .btn-group + .btn-group {
  margin-left: 0;
  margin-right: -1px;
}

.dropdown-toggle-split::after,
.dropright .dropdown-toggle-split::after,
.dropup .dropdown-toggle-split::after {
  margin-right: 0;
}

[class*="language"] {
  direction: ltr;
}

.nav-tabs {
  padding-right: 0;
}

.list-inline,
.list-unstyled {
  padding-right: 0;
}

.modal-header .close {
  margin: -1rem auto -1rem -1rem;
}

.btn {
  margin-right: 0;
  margin-left: 10px;
}

.label {
  margin-right: 0;
  margin-left: 5px;
}

.input-group .btn {
  margin-left: 0;
}
.input-group > .custom-select + .custom-file,
.input-group > .custom-select + .custom-select,
.input-group > .custom-select + .form-control,
.input-group > .form-control + .custom-file,
.input-group > .form-control + .custom-select,
.input-group > .form-control + .form-control,
.input-group > .custom-file + .custom-file,
.input-group > .custom-file + .custom-select,
.input-group > .custom-file + .form-control {
  margin-left: 0;
  margin-right: -1px;
}
.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.input-group > .custom-file:not(:last-child) .custom-file-label, .input-group > .custom-file:not(:last-child) .custom-file-label::after {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group > .custom-file:not(:first-child) .custom-file-label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.input-group-append .btn + .btn,
.input-group-append .btn + .input-group-text,
.input-group-append .input-group-text + .btn,
.input-group-append .input-group-text + .input-group-text,
.input-group-prepend .btn + .btn,
.input-group-prepend .btn + .input-group-text,
.input-group-prepend .input-group-text + .btn,
.input-group-prepend .input-group-text + .input-group-text {
  margin-left: 0;
  margin-right: -1px;
}

.input-group-prepend {
  margin-right: 0;
  margin-left: -1px;
}

.input-group-append {
  margin-left: 0;
  margin-right: -1px;
}

.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child),
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child),
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.custom-file-label {
  width: 100%;
}
.custom-file-label:after {
  right: auto;
  left: 0;
  border-left: none;
  border-right: 1px solid #ced4da;
}

table > tbody > tr > td > span.footable-toggle {
  margin-right: 0;
  margin-left: 8px;
}

.select-card select {
  display: none;
}

.minicolors-slider {
  right: 152px;
}

.minicolors-opacity-slider {
  right: 173px;
}

/* ==========================    basic componant rtl  end   ====================== */
/* =========   chart start  ============= */
.dial-chart {
  direction: ltr;
}

/* =========   chart end ============= */
/* =========   Extra pages Start ============= */
.job-meta-data i {
  margin-right: 0;
  margin-left: 5px;
}

.invoice-table.table {
  padding-right: 20px;
  padding-left: 0;
}

.h-list-body .userlist-box .media-left {
  padding-left: 10px;
}
.h-list-body .chat-messages .photo-table {
  padding-right: 0;
  padding-left: 15px;
}

.note {
  float: right;
}

.task-board-left .user-box .media-left {
  margin-right: 0;
  margin-left: 10px;
}
.task-board-left .btn {
  margin: 0;
}

.task-attachment .file-attach {
  margin-right: 0;
  margin-left: 20px;
}

.btn-msg-send {
  margin: 0;
}

.assign-user .media-left,
.task-comment .media-left {
  margin-right: 0 !important;
  margin-left: 16px;
}

.task-comment .btn {
  margin: 0;
}

div.dataTables_wrapper div.dataTables_filter {
  margin-top: 10px;
}
div.dataTables_wrapper div.dataTables_filter input {
  margin-right: 7px;
}
div.dataTables_wrapper div.dataTables_filter label {
  float: left;
}

.form-material .right-icon-control .form-icon {
  right: auto;
  left: 0;
}
.form-material .right-icon-control .form-icon .btn {
  margin-right: 10px;
  margin-left: 0;
}

.note-bar .photo-table,
.widget-lorem .photo-table,
.widget-timeline .photo-table,
.widget-todo .photo-table {
  margin-right: 0 !important;
  margin-left: 16px;
}

.to-do .to-do-button {
  right: auto;
  left: 22px;
}

.ticket-customer i {
  right: auto;
  left: 32px;
}

.card-event i {
  right: auto;
  left: 27px;
}

.bitcoin-wallet i {
  right: auto;
  left: 50px;
}

.Active-visitor .card-active > div + div,
.card-social .card-active > div + div {
  border-right: 1px solid #eaeaea;
  border-left: 0 !important;
}

.br-theme-bars-reversed .br-widget .br-current-rating {
  text-align: left;
}

.jstree-default .jstree-node {
  background-position: -320px -4px;
}

.sw-theme-dots > ul.step-anchor > li > a:after {
  right: 49%;
}

.dtp > .dtp-content {
  right: 50%;
  margin-right: -150px;
}

.note-card .Note-delete {
  left: 10px;
}

.filter-bar .nav {
  padding-right: 0;
}

.footable .pagination {
  padding: 0;
}

.h-list-body .chat-messages .chat-menu-content > div:before {
  content: "\67";
  font-family: "pct";
  color: #1de9b6;
  left: auto;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  right: -19px;
}
.h-list-body .chat-messages .chat-menu-content p:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 0 !important;
}
.h-list-body .chat-messages .chat-menu-reply {
  text-align: left;
}
.h-list-body .chat-messages .chat-menu-reply > div:before {
  content: "\65";
  right: auto;
  left: 5px;
}
.h-list-body .chat-messages .chat-menu-reply > div p:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 8px;
}
.h-list-body .chat-messages .chat-menu-reply > div .chat-cont {
  margin-left: 25px;
  margin-right: 0;
}

.chat-sanders .send-chat .msg:after {
  left: -12px;
  right: auto;
  border-bottom-color: transparent;
  border-top-color: #1dc8e5;
}
.chat-sanders .received-chat .msg:after {
  right: -12px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: auto;
}

.form-check {
  padding-left: 0;
  padding-right: 1.25rem;
}
.form-check input {
  margin-right: -20px;
}

.form-check-input {
  margin-right: 0;
}
.form-check-input + label {
  margin-right: 1.3rem;
}

.bs-tooltip-right .arrow::before {
  left: auto;
  right: -8px;
}

.br-theme-bars-1to10 .br-widget .br-current-rating,
.br-theme-bars-1to10 .br-widget a,
.br-theme-bars-movie .br-widget a,
.br-theme-bars-reversed .br-widget .br-current-rating,
.br-theme-bars-reversed .br-widget a,
.br-theme-bars-square .br-widget a,
.br-theme-css-stars .br-widget a {
  float: right;
}

.br-theme-bars-reversed .br-widget .br-current-rating {
  text-align: right;
}

.tool-container.tool-top .arrow {
  margin-right: -7px;
}

.sw-theme-arrows > ul.step-anchor > li:first-child > a {
  padding-right: 15px;
  padding-left: 30px;
}

.minicolors .form-control {
  padding: 6px 44px 5px 12px;
}

.minicolors-theme-bootstrap .minicolors-swatch {
  right: 3px;
}

.minicolors-position-left .minicolors-panel {
  right: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  float: right;
}

/* =========   Extra pages end ============= */
@media only screen and (max-width: 768px) {
  .sw-theme-dots > ul.step-anchor:before {
    right: 1px;
    margin-left: 10px;
    margin-right: 0;
  }
  .sw-theme-dots > ul.step-anchor > li > a:before {
    right: -23px;
    margin-right: 10px;
  }
  .sw-theme-dots > ul.step-anchor > li > a:after {
    right: -40px;
  }
}
.mce-menu.mce-menu-align .mce-caret,
.mce-menu.mce-menu-align .mce-menu-shortcut {
  left: 0;
  right: auto;
}

.mce-menu-item .mce-caret {
  margin-left: 6px;
}

.ux-designer .btn {
  right: auto;
  left: 20px;
}

.owl-carousel {
  direction: ltr;
}

/* ========= mobile menu start ============ */
@media only screen and (max-width: 991px) {
  .pcoded-header .m-header .mobile-menu {
    right: auto;
  }
  .pcoded-header .m-header .b-brand {
    margin-left: 0;
    margin-right: 20px;
  }
  .pcoded-header .navbar-nav.mr-auto li.nav-item:not(.dropdown) {
    padding-left: 0;
    padding-right: 20px;
  }
  .pcoded-header #mobile-header {
    left: 20px;
    right: auto;
  }

  .pcoded-header .ml-auto {
    float: left;
  }
}
@media only screen and (max-width: 575px) {
  .pcoded-header .dropdown .dropdown-menu {
    right: 0;
    left: 0;
    margin-left: auto;
  }
}
/* ======== mobile menu and ============== */
/**====== RTl css end ======**/
.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  right: calc(100% - 15px) !important;
}

body.layout-1 .pcoded-navbar .side-content .sidelink .pcoded-inner-navbar > li > a {
  padding: 12px 20px 12px 10px;
}
body.layout-1 .pcoded-navbar .side-content .sidelink .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu li > a {
  padding: 7px 40px 7px 7px;
}
body.layout-1 .pcoded-navbar .side-content .sidelink .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu li > a:before {
  right: 20px;
}
body.layout-1 .pcoded-navbar .side-content .sidelink .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu li .pcoded-submenu > li > a {
  padding: 7px 60px 7px 7px;
}
body.layout-1 .pcoded-navbar .side-content .sidelink .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu li .pcoded-submenu > li > a:before {
  right: 40px;
}
body.layout-1 .pcoded-navbar .side-content .sidelink .pcoded-inner-navbar li.pcoded-menu-caption:after {
  left: auto;
  right: 18px;
}
body.layout-1 .pcoded-navbar .sidemenu {
  -webkit-box-shadow: inset 1px 0 0 0 rgba(169, 183, 208, 0.2);
          box-shadow: inset 1px 0 0 0 rgba(169, 183, 208, 0.2);
  right: auto;
}
body.layout-1 .pcoded-navbar .sidemenu li.active:after {
  right: auto;
  left: 0;
}
body.layout-1 .pcoded-navbar[class*='navbar-'] .sidemenu {
  -webkit-box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.3);
          box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.3);
}
body.layout-1 .pcoded-navbar.menu-light .sidemenu {
  -webkit-box-shadow: inset 1px 0 0 0 rgba(169, 183, 208, 0.4);
          box-shadow: inset 1px 0 0 0 rgba(169, 183, 208, 0.4);
}
body.layout-1 .pcoded-navbar .toggle-sidemenu {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-radius: 0 0 5px 0;
  left: auto;
  right: 0;
}
body.layout-1 .pcoded-navbar.hide-sidemenu .sidemenu {
  left: auto;
  right: -80px;
}
