<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        SARA - {% block title %}{% endblock %}
    </title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Favicon icon -->
    <link rel="icon" href="/static/assets/images/favicon-16x16.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/assets/fonts/material/css/materialdesignicons.min.css">

    <!-- animation css -->
    <link rel="stylesheet" href="/static/assets/plugins/animation/css/animate.min.css">


    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

    <!-- vendor css -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/layouts/dark.css">
<!--    <style>-->
<!--        div{-->
<!--            font-size: 20px;-->
<!--        }-->
<!--        h3{-->
<!--            font-size: 35px;-->
<!--        }-->
<!--        h4{-->
<!--            font-size: 30px;-->
<!--        }-->
<!--        h5{-->
<!--            font-size: 26px;-->
<!--        }-->
<!--        h6{-->
<!--            font-size: 23px;-->
<!--        }-->
<!--        strong{-->
<!--            font-size: 18px;-->
<!--        }-->
<!--        p{-->
<!--            font-size: 16px;-->
<!--        }-->
<!--        .btn{-->
<!--            font-size: 20px;-->
<!--        }-->
<!--        .table {-->
<!--            font-size: 20px;-->
<!--        }-->
<!--        li{-->
<!--            font-size: 20px;-->
<!--        }-->
<!--        a{-->
<!--            font-size: 20px;-->
<!--        }-->
<!--        .badge{-->
<!--            font-size: 18px;-->
<!--        }-->
<!--        .form-control{-->
<!--            font-size: 18px;-->
<!--        }-->
<!--        span{-->
<!--            font-size: 16px;-->
<!--        }-->
<!--        th{-->
<!--            font-size: 23px;-->
<!--        }-->
<!--    </style>-->
    <script>
        $(".jq-large").click(function (e) {
            Event.preventDefault(); //取消預設行為
            $("h3").css("font-size", "40px");
            $(".btn").css("font-size", "30px");
        });
    </script>

</head>

<body>
    <header class="navbar pcoded-header navbar-expand-lg">
        <span class="f-80 font-weight-bold" style="line-height: 50px; font-family: Arial, Helvetica, sans-serif; color:#FF6600;">sara</span>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <!-- <li>
                    <p>Date/Time: <span id="datetime"></span></p>

                    <script>
                        var dt = new Date();
                        document.getElementById("datetime").innerHTML = dt.toLocaleString();
                    </script>
                </li> -->

                {% if current_user.role == 'admin' %}

                <!-- <li>
                    <i class="mdi mdi-database-search f-36 text-c-blue" data-toggle="tooltip" data-placement="bottom"
                        title="資料查詢"></i>
                </li> -->
                <li>
                    <div class="row">
                        <span id="VERSION"></span>
                        <span id="PROGRESS"></span>
                    </div>
                </li>
                <li>
                    <div class="dropdown" id="NOTI">

                    </div>

                </li>
                <li>
                    <a href="/index">
                        <i class="mdi mdi-monitor-dashboard f-36" data-toggle="tooltip" data-placement="bottom"
                            title="即時總覽"></i>
                    </a>
                </li>
                <!-- <li>
                    <a href="/gantt"><i class="mdi mdi-chart-gantt f-36" data-toggle="tooltip" data-placement="bottom"
                            title="排程管理 / 動態重排"></i> </a>
                </li> -->

                <li>
                    <a href="/work_center"><i class="mdi mdi-animation-play f-36" data-toggle="tooltip"
                            data-placement="bottom" title="工作看板"></i> </a>
                </li>


                <li>
                    <a href="/performance"><i class="mdi mdi-chart-areaspline f-36" data-toggle="tooltip"
                            data-placement="bottom" title="績效報表"></i> </a>
                </li>

                <li>
                    <div class="dropdown drp-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- <i class="text-c-green icon feather icon-user"></i>  -->
                            <i class="feather icon-user f-36 text-white"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification f-24">
                            <div class="pro-head">
                                <!-- <img src="/static/assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image"> -->
                                <span>{{ current_user.username }} (管理者)</span>
                            </div>
                            <ul class="pro-body">
                                <li><a href="/process_list" class="dropdown-item"><i class="mdi mdi-cogs f-20"></i> <span class="f-20">製程管理</span></a></li>
                                <li><a href="/resource_list" class="dropdown-item"><i class="mdi mdi-sitemap f-20"></i> </i> <span class="f-20">資源管理</span></a></li>
                                <!-- <li><a href="/tbl_material" class="dropdown-item"><i class="fas fa-cubes f-20"></i> </i> <span class="f-20">物料管理</span></a></li> -->
                                <!-- <li><a href="/tbl_datatable_outsourcing" class="dropdown-item"><i class="mdi mdi-truck f-20"></i> </i> <span class="f-20">外包管理</span></a></li> -->
                                <hr>
                                <li><a href="/settings" class="dropdown-item"><i class="mdi mdi-tune f-20"></i> <span class="f-20">系統設定</span></a></li>
                                <!-- <li><a href="/user-list" class="dropdown-item"><i class="mdi mdi-account-multiple-check f-20"></i> <span class="f-20">使用者管理</span></a></li> -->
                                <hr>
<!--                                <li><a href="/import_data" class="dropdown-item"><i-->
<!--                                        class="mdi mdi-file-import f-20"></i> <span class="f-20">匯入資料</span></a></a></li>-->
                                <li>
                                <li><a href="/get_started" class="dropdown-item"><i
                                            class="feather icon-help-circle text-info f-20"></i> <span class="f-20">操作說明</span></a></a></li>
                                <li>
                                    <a href={{ url_for('base_blueprint.logout') }} class="dropdown-item">
                                        <i class="feather icon-log-out f-20"></i> <span class="f-20">登出</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                {% else %}
                <li>
                    <div class="dropdown" id="NOTI">

                    </div>

                </li>

                <li>
                    <a href="/work_center"><i class="mdi mdi-animation-play f-36" data-toggle="tooltip"
                            data-placement="bottom" title="執行管理 / 各站看板"></i> </a>
                </li>
                <li>
                    <div class="dropdown drp-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- <i class="text-c-green icon feather icon-user"></i>  -->
                            <i class="feather icon-user f-36 text-white"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification f-24">
                            <div class="pro-head">
                                <!-- <img src="/static/assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image"> -->
                                <span>{{ current_user.username }} (使用者)</span>
                            </div>
                            <ul class="pro-body">
                                <!-- <li><a href="/settings" class="dropdown-item"><i
                                            class="feather icon-settings text-warning"></i> 系統設定</a></li>
                                <li><a href="/user-list" class="dropdown-item"><i class="feather icon-users"></i> 使用者管理</a></li>
                                <li><a href="/get_started" class="dropdown-item"><i
                                            class="feather icon-help-circle text-info"></i> 操作說明</a></li>
                                <li> -->
                                    <a href={{ url_for('base_blueprint.logout') }} class="dropdown-item">
                                        <i class="feather icon-log-out f-20"></i> <span class="f-20">登出</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                {% endif %}
            </ul>

        </div>

    </header>
    <!-- <div class="modal fade" id="NotificationModal" tabindex="-1" role="dialog" aria-labelledby="NotificationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NotificationModalLabel">動態拆批</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form method="POST">
                    <input type="hidden" name="end" value="COMPLETE" />
                    <div class="modal-body">
                        <p>執行人員：</p>
                        <p>單號：</p>
                        <p>料號：</p>
                        <p>站點:</p>
                        <p>工序名稱：</p>
                        <p>更新時間：</p>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">忽略</button>
                        <button type="submit" class="btn btn-primary">確認回報</button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->


    {% block content %}{% endblock content %}

    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->

    {% block javascripts %}{% endblock javascripts %}
</body>

</html>
