{% extends "layouts/base.html" %}

{% block title %} Bottlenecks {% endblock %} 

{% block stylesheets %}

<!-- Specific CSS goes HERE -->

<!-- data tables css -->
<link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>瓶頸製程</h3>
                                        </div>
                                        <div class="card-block">
                                            <table class="table table-hover">
                                                <h6>排程版本</h6>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select class="js-example-basic-single form-control">
                                                                <optgroup label="最新排程">
                                                                    <option value="1">2020/08/17 16:35</option>
                                                                    <option value="2">2020/08/17 07:55</option>
                                                                    <option value="3">2020/08/16 16:35</option>
                                                                </optgroup>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h5 class="text-center">等待時間 (小時)</h5>

                                            <div class="table-responsive form-material">
                                                <table id="simpletable" class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>製程編號</th>
                                                            <th>製程名稱</th>
                                                            <th>今天</th>
                                                            <th>明天</th>
                                                            <th>後天</th>
                                                            <th class="float-right">動作</th>                                                   
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><a class="btn btn-sm btn-warning text-dark" href="/work-order-detail.html">PROC_ID00000010</a></td>
                                                            <td>機鑽</td>
                                                            <td class="font-weight-bold">3.5</td>
                                                            <td class="font-weight-bold">1.2</td>
                                                            <td class="font-weight-bold">12.8</td>
                                                            <td>
                                                                <a class="btn btn-sm btn-outline-primary float-right" href="#" role="button">分析</a>
                                                                <a class="btn btn-sm btn-outline-secondary float-right" href="#" role="button">警示設定</a>
                                                                <a class="btn btn-sm btn-outline-secondary float-right" href="#" role="button">忽略</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><a class="btn btn-sm btn-danger text-dark" href="/work-order-detail.html">PROC_ID00000011</a></td>
                                                            <td>裁板</td>
                                                            <td class="font-weight-bold">24.5</td>
                                                            <td class="font-weight-bold">22.2</td>
                                                            <td class="font-weight-bold">12.3</td>
                                                            <td>
                                                                <a class="btn btn-sm btn-outline-primary float-right" href="#" role="button">分析</a>
                                                                <a class="btn btn-sm btn-outline-secondary float-right" href="#" role="button">警示設定</a>
                                                                <a class="btn btn-sm btn-outline-secondary float-right" href="#" role="button">忽略</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><a class="btn btn-sm btn-warning text-dark" href="/work-order-detail.html">PROC_ID00000012</a></td>
                                                            <td>成型</td>
                                                            <td class="font-weight-bold">18.3</td>
                                                            <td class="font-weight-bold">11.0</td>
                                                            <td class="font-weight-bold">3.5</td>
                                                            <td>
                                                                <a class="btn btn-sm btn-outline-primary float-right" href="#" role="button">分析</a>
                                                                <a class="btn btn-sm btn-outline-secondary float-right" href="#" role="button">警示設定</a>
                                                                <a class="btn btn-sm btn-outline-secondary float-right" href="#" role="button">忽略</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Amchart ] start -->
                                <!-- <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>瓶頸區 <span class="badge badge-dark f-12"> PID00000010</span> <span class="badge badge-dark f-12"> A組</span>
                                                <span class="badge badge-dark f-12"> v2020/08/17 16:35</span></h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="p-2 text-center"> 
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400"><i class="feather icon-chevron-left f-18"></i></a>
                                                <a class="btn btn-round bg-white text-uppercase mx-3 px-4 f-w-400">7天</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400"><i class="feather icon-chevron-right f-18"></i></a>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 mb-5">
                                                    <h6>最大等待時間 (小時)</h6>
                                                    <hr>
                                                    <div id="line-waiting" class="lineAreaDashboard" style="height:300px;"></div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div> -->
                                <!-- [ Amchart ] End -->
                                <div class="col-12">
                                    <div class="card User-Activity">
                                        <div class="card-header">
                                            <h5>瓶頸分析 <span class="badge badge-dark f-16"> PROC_ID00000010</span>
                                            </h5>
                                        </div>
                                        
                                        <div class="card-block pb-0">
                                            <table class="table table-hover">
                                                <h6>日期</h6>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select class="js-example-basic-single form-control">
                                                                <optgroup label="選擇日期">
                                                                    <option value="1">2020/09/01</option>
                                                                    <option value="2">2020/09/02</option>
                                                                    <option value="3">2020/09/03</option>
                                                                    <option value="3">2020/09/04</option>
                                                                    <option value="3">2020/09/05</option>
                                                                    <option value="3">2020/09/06</option>
                                                                    <option value="3">2020/09/07</option>
                                                                </optgroup>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
 
                                            <br>
                                            <h5 class="text-center">可用資源</h5>
                                            <hr>
                                            <div class="table-responsive form-material">
                                                <table id="simpletable2" class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>名稱</th>
                                                            <th>類型</th>
                                                            <th>日期</th> 
                                                            <th>工作時間</th> 
                                                            <th>負荷率(%)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><a class="btn btn-sm btn-warning text-dark" href="/resource-detail.html">RESOURCE_ID00000010</a></td>
                                                            <td>
                                                                人員
                                                            </td>
                                                            <td>2020/09/01</td>
                                                            <td>日班人員</td>
                                                            <td>
                                                                <h6 class="m-0">85</h6>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <br>
                                            <h5 class="text-center">排定工作</h5> 
                                            <hr>
                                            <div class="table-responsive form-material">
                                                <table id="simpletable3" class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>工作編號</th>
                                                            <th>料號</th>
                                                            <th>排定資源</th>
                                                            <th>等待時間(小時)</th>
                                                            <th>寬裕時間(小時)</th> 
                                                            <th>工單排程狀態</th> 
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr> 
                                                            <td><a class="btn btn-sm btn-warning text-dark" href="/job-detail.html">JOB_ID00000010</a></td>
                                                            <td><a class="btn btn-sm btn-warning text-dark" href="/project-schedule.html">PROJECT_ID00000010</a></td>
                                                            <td>
                                                                <h6 class="m-0">H010</h6>
                                                            </td>                                                            
                                                            <td>0</td>
                                                            <td>3.5</td>
                                                            <td>
                                                                <span class="badge badge-danger f-12">逾時</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><a class="btn btn-sm btn-dark" href="/job-detail.html">JOB_ID00000011</a></td>
                                                            <td><a class="btn btn-sm btn-dark" href="/project-schedule.html">PROJECT_ID00000011</a></td>
                                                            <td>
                                                                <h6 class="m-0">H010</h6>
                                                            </td>
                                                            <td>5.0</td>
                                                            <td>7.0</td>
                                                            <td>
                                                                <span class="badge badge-success f-12">達交</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}


    <!-- Data tables.js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
            $('#simpletable2').DataTable();
            $('#simpletable3').DataTable();
        }, 600);
    </script>

{% endblock javascripts %}
