{% extends "layouts/base.html" %}

{% block title %} Create {% endblock %} 

{% block stylesheets %}

<!-- Specific CSS goes HERE -->

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">

                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="mt-4">新增</h5>
                                    <hr>
                                    
                                    <div class="card-deck">
                                        <div class="card">
                                            <img class="card-img-top" src="/static/assets/images/slider/img-slide-4.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">01 工單</h5>
                                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                            </div>
                                            <div class="card-block">
                                                <button type="button" class="btn btn-icon btn-rounded btn-success"><i class="feather icon-play"></i></button>
                                                <button type="button" class="btn btn-icon btn-rounded btn-primary"><i class="feather icon-thumbs-up"></i></button>
                                                <button type="button" class="btn btn-icon btn-rounded btn-warning"><i class="feather icon-alert-triangle"></i></button>
                                            </div>
                                            <div class="card-footer">
                                                <small class="text-muted">Last updated 3 mins ago</small>
                                            </div>
                                        </div>
                                        
                                        <div class="card">
                                            <img class="card-img-top" src="/static/assets/images/slider/img-slide-1.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">02 製程</h5>
                                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                            </div>
                                            <div class="card-footer">
                                                <small class="text-muted">Last updated 3 mins ago</small>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <img class="card-img-top" src="/static/assets/images/slider/img-slide-1.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">03 資源</h5>
                                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                            </div>
                                            <div class="card-footer">
                                                <small class="text-muted">Last updated 3 mins ago</small>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <img class="card-img-top" src="/static/assets/images/slider/img-slide-1.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">04 物料</h5>
                                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                            </div>
                                            <div class="card-footer">
                                                <small class="text-muted">Last updated 3 mins ago</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

<!-- Specific Page JS goes HERE  -->

{% endblock javascripts %}
