{% extends "layouts/base.html" %}

{% block title %} 新建物料 {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}


    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card Active-visitor">
                                    <div class="card-header">
                                        <h3>新建物料 / P10-B
                                            <span class="badge badge-success f-12 float-right">已確認</span>
                                            <span class="badge badge-warning f-12 float-right">建立中</span>
                                        </h3>
                                    </div>
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3>基本資訊
                                                </h3>
                                            </div>
                                                <div class="card-block">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>物料編號</label>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="P10-B">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="exampleFormControlSelect1">物料類型</label>
                                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                                        <option>原料</option>
                                                                        <option>半成品</option>
                                                                        <option>成品</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>庫存數量</label>
                                                                    <input type="text" class="form-control" placeholder="10">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>單位</label>
                                                                    <input type="text" class="form-control" placeholder="PCS">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row"> 
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>標準備料時間(天)</label>
                                                                    <input type="text" class="form-control" placeholder="5">
                                                                </div>
                                                            </div>           
                                                        </div>
                                                    </form>
                                                    <hr>
                                                    <button class="btn btn-secondary float-right disabled" type="submit">確認</button>
                                                    <button class="btn btn-primary float-right" type="submit">更新</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}