{% extends "layouts/base.html" %}

{% block title %} 新建資源 {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}


    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card Active-visitor">
                                    <div class="card-header">
                                        <h3>新建資源 / 1011
                                            <span class="badge badge-warning f-12 float-right">建立中</span>
                                        </h3>
                                    </div>
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3>基本資訊
                                                </h3>
                                            </div>
                                                <div class="card-block">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>資源名稱/編號</label>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="1011">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="exampleFormControlSelect1">行事曆</label>
                                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                                        <option>一廠 (自動線)</option>
                                                                        <option>一廠 (手動線)</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="exampleFormControlSelect1">資源類型</label>
                                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                                        <option>機台</option>
                                                                        <option>人員</option>
                                                                        <option>模治具</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="exampleFormControlSelect1">工作班表</label>
                                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                                        <option>24H</option>
                                                                        <option>日班 (現場)</option>
                                                                    </select>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                        <div class="row"> 
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>站點</label>
                                                                    <input type="text" class="form-control" placeholder="車床">
                                                                </div>
                                                            </div>         
                                                        </div>
                                                    </form>
                                                    <hr>
                                                    <button class="btn btn-primary float-right" type="submit">確認</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}