{% extends "layouts/base.html" %}

{% block title %} Delay Orders {% endblock %} 

{% block stylesheets %}

<!-- Specific CSS goes HERE -->

<!-- data tables css -->
<link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->

        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ HTML5 Export button ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>逾時工單</h3>
                                        </div>
                                        <div class="card-block">
                                            <div class="table-responsive">
                                                <table class="display table nowrap table-striped table-hover" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>工單編號</th>
                                                            <th>工單交期</th>
                                                            <th>預計完成</th>
                                                            <th>逾時時間(小時)</th>
                                                            <th>總等待時間(小時)</th>
                                                            <th>動作</th>                                                   
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><a class="btn btn-sm btn-warning text-dark" href="/gantt">MAA2060491</a></td>
                                                            <td>2020-09-10 10:00</td>
                                                            <td><span class="text-danger font-weight-bold">2020-09-11 16:30</span></td>
                                                            <td class="text-danger font-weight-bold">30.5</td>
                                                            <td>35.5</td>
                                                            <td>
                                                                <a class="btn btn-sm btn-outline-secondary" href="#" role="button">分析</a>
                                                                <!-- <a class="btn btn-sm btn-outline-secondary" href="#" role="button">編輯</a> -->
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ HTML5 Export button ] end -->
                                
                                <!-- [ Amchart ] start -->
                                <!-- <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>MAA2060491 排程裕度</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="p-2 text-center"> 
                                                <a class="btn btn-round bg-white text-uppercase mx-3 px-4 f-w-400">7天</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">14天</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">30天</a>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 mb-5">
                                                    <h6>寬裕時間(小時)</h6>
                                                    <hr>
                                                    <div id="line-slack" class="lineAreaDashboard" style="height:300px;"></div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div> -->
                                <!-- [ Amchart ] End -->                            
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>排程分析 <span class="badge badge-dark f-12"> MAA2060491</span></h3>      
                                        </div>
                                        <div class="card-block">
                                            <!-- <h6>工單交期剩餘時間</h6>
                                            <hr>
                                            <div class="counter text-center">
                                                <h4 id="timer" class="text-white m-0"></h4>
                                            </div>
                                            <hr> -->
                                            
                                            <table class="table table-hover">
                                                <h6>排程版本</h6>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select class="js-example-basic-single form-control">
                                                                <optgroup label="最新排程">
                                                                    <option value="1">2020/08/17 16:35</option>
                                                                    <option value="2">2020/08/17 07:55</option>
                                                                    <option value="3">2020/08/16 16:35</option>
                                                                </optgroup>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="m-b-20">
                                  
                                                <div class="table-responsive m-t-20">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr class="text-uppercase">
                                                                <th>狀態</th>
                                                                <th>製品</th>
                                                                <th>製品流程</th>
                                                                <th>製程名稱</th>
                                                                <th>前置零件</th>
                                                                <th>排定資源</th>
                                                                <th>預計開始</th>
                                                                <th>預計結束</th>
                                                                <th>等待時間(小時)</th>
                                                                <th>寬裕時間(小時)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="text-muted">
                                                            <tr>
                                                                <td><span class="badge badge-dark f-12 text-c-yellow">進行中</span></td>
                                                                <td>Product1</td>
                                                                <td>1</td>
                                                                <td>前段工序1</td>
                                                                <td>N/A</td>
                                                                <td>M001</td>
                                                                <td>2020-09-01 11:30</td>
                                                                <td>2020-09-01 13:30</td>
                                                                <td>0</td>
                                                                <td>9.5</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span class="badge badge-primary f-12">已排程</span></td>
                                                                <td>Product1</td>
                                                                <td>2</td>
                                                                <td>前段工序2</td>
                                                                <td>N/A</td>
                                                                <td>M002</td>
                                                                <td>2020-09-01 13:30</td>
                                                                <td>2020-09-01 17:30</td>
                                                                <td>0</td>
                                                                <td>9.5</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span class="badge badge-primary f-12">已排程</span></td>
                                                                <td>Product1</td>
                                                                <td>3</td>
                                                                <td>A組</td>
                                                                <td>N/A</td>
                                                                <td>H010</td>
                                                                <td>2020-09-02 14:30</td>
                                                                <td>2020-09-02 17:30</td>
                                                                <td>21.0</td>
                                                                <td class="text-danger font-weight-bold">0</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}



    <!-- amchart js -->
    <script src="/static/assets/plugins/amchart/js/amcharts.js"></script>
    <script src="/static/assets/plugins/amchart/js/gauge.js"></script>
    <script src="/static/assets/plugins/amchart/js/serial.js"></script>
    <script src="/static/assets/plugins/amchart/js/light.js"></script>
    <script src="/static/assets/plugins/amchart/js/pie.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/ammap.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/usaLow.js"></script>
    <script src="/static/assets/plugins/amchart/js/radar.js"></script>
    <script src="/static/assets/plugins/amchart/js/worldLow.js"></script>

    <!-- am-chart custom js -->
    <script src="/static/assets/js/pages/chart-am-custom.js"></script>

    <!-- chart js -->
    <!-- <script src="/static/assets/js/pages/chart-order-slack.js"></script> -->

    <!-- datatable Js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="/static/assets/js/pages/tbl-datatable-outsourcing.js"></script>

    <!-- select2 Js -->
    <script src="/static/assets/plugins/select2/js/select2.full.min.js"></script>

<!-- Chart code -->
<script>
    // [ Line with Area Chart 2 ] start
    var chart = AmCharts.makeChart("line-slack", {
        "type": "serial",
        "theme": "light",
        "marginTop": 10,
        "marginRight": 0,
        "dataProvider": [{
            "year": "09/01",
            "value": 9.5,
        }, {
            "year": "09/02",
            "value": 8.9,
        }, {
            "year": "09/03",
            "value": 7,
        }, {
            "year": "09/04",
            "value": 2.5,
        }, {
            "year": "09/05",
            "value": 0,
        }, {
            "year": "09/06",
            "value": 0,
        }, {
            "year": "09/07",
            "value": 0,
        }],
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left"
        }],
        "graphs": [{
            "id": "g1",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#10adf5",
            "lineThickness": 2,
            "negativeLineColor": "#10adf5",
            "valueField": "value",
            "title": "MAA2060491",
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true,
            "valueLineAlpha": 0.3,
            "fullWidth": true
        },
        "categoryField": "year",
        "categoryAxis": {
            "minorGridAlpha": 0,
            "minorGridEnabled": true,
            "gridAlpha": 0,
            "axisAlpha": 0,
            "lineAlpha": 0
        },
        "legend": {
            "useGraphSettings": true,
            "position": "top",
            "labelText": "[[title]]",
            "fontSize": 14,
            "horizontalGap": 20
        },
    });
    // [ Line with Area Chart 2 ] end

    // [ Line with Area Chart 2 ] start
    var chart = AmCharts.makeChart("line-waiting", {
        "type": "serial",
        "theme": "light",
        "marginTop": 10,
        "marginRight": 0,
        "dataProvider": [{
            "year": "09/01",
            "value": 5,
            "value2": 12,
            "value3": 10,
        }, {
            "year": "09/02",
            "value": 30,
            "value2": 65,
            "value3": 45,
        }, {
            "year": "09/03",
            "value": 25,
            "value2": 77,
            "value3": 48,
        }, {
            "year": "09/04",
            "value": 55,
            "value2": 285,
            "value3": 89,
        }, {
            "year": "09/05",
            "value": 45,
            "value2": 290,
            "value3": 88,
        }, {
            "year": "09/06",
            "value": 65,
            "value2": 87,
            "value3": 82,
        }, {
            "year": "09/07",
            "value": 60,
            "value2": 90,
            "value3": 75,
        }],
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left"
        }],
        "graphs": [{
            "id": "g1",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#10adf5",
            "lineThickness": 2,
            "negativeLineColor": "#10adf5",
            "valueField": "value",
            "title": "前段",
        }, {
            "id": "g2",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#1de9b6",
            "lineThickness": 2,
            "negativeLineColor": "#1de9b6",
            "valueField": "value2",
            "title": "成組",
        }, {
            "id": "g3",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#fdda08",
            "lineThickness": 2,
            "negativeLineColor": "#fdda08",
            "valueField": "value3",
            "title": "配線",
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true,
            "valueLineAlpha": 0.3,
            "fullWidth": true
        },
        "categoryField": "year",
        "categoryAxis": {
            "minorGridAlpha": 0,
            "minorGridEnabled": true,
            "gridAlpha": 0,
            "axisAlpha": 0,
            "lineAlpha": 0
        },
        "legend": {
            "useGraphSettings": true,
            "position": "top",
            "labelText": "[[title]]",
            "fontSize": 14,
            "horizontalGap": 20
        },
    });
    // [ Line with Area Chart 2 ] end

</script>

<script>
    // Set the date we're counting down to
    var d = new Date();
    d.setDate(d.getDate() + 5);
    var countDownDate = new Date(d).getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("timer").innerHTML = "<b>"+days + "</b>days : <b>" +  hours + "</b>h : <b>" +
            minutes + "</b>m : <b>" + seconds + "</b>s ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>

{% endblock javascripts %}
