{% extends "layouts/base.html" %}

{% block title %} Delay Orders {% endblock %}

{% block stylesheets %}

<!-- Specific CSS goes HERE -->

<!-- data tables css -->
<link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">
<script src="/static/assets/js/vendor-all.min.js"></script>
{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->

<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ HTML5 Export button ] start -->
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3>逾時工單</h3>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table class="display table nowrap table-striped table-hover"
                                            style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>製令編號</th>
                                                    <th>製令交期</th>
                                                    <th>預計完成</th>

                                                    <!-- <th>總異常資源數</th>
                                                            <th>工作異常數</th> -->

                                                    <th>逾時時間(小時)</th>
                                                    <th>總等待時間(小時)</th>
                                                    <th>瓶頸工作</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <td>
                                                    {% if DELAY['warning']!= "dark" %}
                                                    <a
                                                        class="btn btn-sm btn-{{DELAY['warning']}} font-weight-bold text-dark">{{DELAY["product_name"]}}_{{DELAY["lot_nbr"]}}</a>
                                                </td>
                                                {% else %}

                                                <a
                                                    class="btn btn-sm btn-{{DELAY['warning']}} font-weight-bold text-white">{{DELAY["product_name"]}}</a>
                                                </td>
                                                {% endif %}
                                                <td>{{ DELAY["due"] }}</td>
                                                <td class="text-danger font-weight-bold">{{DELAY["plan_end_time"]}}</td>
                                                <!-- <td></td>
                                                        <td></td> -->
                                                <td class="text-danger font-weight-bold">{{ '%0.2f'|
                                                    format(DELAY["delay_hour"]|float) }}</td>
                                                <td>{{ '%0.2f'| format(DELAY["waiting_time"]|float) }}</td>
                                                <td>
                                                    {% if DELAY["bottleneck"] | length > 0 %}
                                                    
                                                    
                                                    {% for jlb_name in DELAY["bottleneck"] %}

                                                    <button class=" badge badge-warning ">{{ jlb_name }}</button>

                                                    {% endfor %}
                                                    {% endif %}
                                                </td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- [ HTML5 Export button ] end -->

                        <!-- [ Amchart ] start -->
                        <!-- <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>MAA2060491 排程裕度</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="p-2 text-center"> 
                                                <a class="btn btn-round bg-white text-uppercase mx-3 px-4 f-w-400">7天</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">14天</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">30天</a>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 mb-5">
                                                    <h6>寬裕時間(小時)</h6>
                                                    <hr>
                                                    <div id="line-slack" class="lineAreaDashboard" style="height:300px;"></div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div> -->
                        <!-- [ Amchart ] End -->


                    </div>


                    <div class="row">
                        <div class="col-12">
                            <div class="card">

                                <div class="card-block">

                                    <h3>瓶頸分析 <span class="badge badge-dark f-12"> {{DELAY["product_name"]}}</span></h3>
                                    <div class="m-b-20">

                                        <div class="table-responsive m-t-20">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr class="text-uppercase">
                                                        <th>瓶頸製程</th>
                                                        <th>可用資源個數</th>
                                                        <th>排定資源</th>
                                                        <!-- <th>等待時間(小時)</th>
                                                            <th>寬裕時間(小時)</th> -->
                                                    </tr>
                                                </thead>

                                                <tbody class="text-muted">
                                                    {% for index in DELAY["bottleneck_detail"] %}
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-sm btn-warning text-dark"
                                                                href="/job_detail/{{jid}}">

                                                                [{{ DELAY["bottleneck_detail"][index]["process_name"]}}]
                                                                {{ DELAY["bottleneck_detail"][index]["jlb_name"]}}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            {{
                                                            DELAY["bottleneck_detail"][index]["candidate_resource"]["machine"]
                                                            | length}}

                                                        </td>

                                                        <td>
                                                            {% for rid in DELAY["bottleneck_detail"][index]["resource"]
                                                            %}
                                                            <a class="btn btn-sm btn-dark"
                                                                href="/resource_schedule?rid={{rid}}">{{DELAY["bottleneck_detail"][index]["resource"][rid]
                                                                }}</a>
                                                            {%endfor%}
                                                        </td>

                                                        {# td>
                                                        {{ '%0.2f'|
                                                        format(DELAY["bottleneck_detail"][jid]["waiting_time"] | float)
                                                        }}
                                                        </td>
                                                        <td>
                                                            {{ '%0.2f'|
                                                            format(DELAY["bottleneck_detail"][jid]["buffer_time"] |
                                                            float) }}
                                                        </td> #}
                                                    </tr>
                                                    {%endfor%}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <h3>排程分析 <span class="badge badge-dark f-12"> {{DELAY["product_name"]}}</span></h3>

                                    <div class="m-b-20">

                                        <div class="table-responsive m-t-20">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr class="text-uppercase">
                                                        <th>狀態</th>
                                                        <th>製品</th>
                                                        <th>製品流程</th>
                                                        <th>製程名稱</th>

                                                        <th>排定資源</th>
                                                        <th>預計開始</th>
                                                        <th>預計結束</th>
                                                        <th>等待時間(小時)</th>
                                                        <th>寬裕時間(小時)</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="text-muted">


                                                    {% for jid in DELAY["job_table"] %}

                                                    <tr>

                                                        {% if DELAY["job_table"][jid]["status"] %}
                                                        <td><span class="badge badge-dark f-12 text-c-yellow">{{
                                                                DELAY["job_table"][jid]["status"] }}</span></td>
                                                        {% else %}
                                                        <td><span class="badge badge-primary f-12">已排程</span></td>
                                                        {% endif %}
                                                        <td>{{ DELAY["job_table"][jid]["product_name"] }}</td>
                                                        <td>{{ DELAY["job_table"][jid]["job_sequence"] }}</td>
                                                        <td>{{ DELAY["job_table"][jid]["job_name"] }}
                                                            {% if DELAY["job_table"][jid]["waiting_time"] %}
                                                            {% if DELAY["job_table"][jid]["waiting_time"] > 4 %}
                                                            <button class="badge badge-danger">瓶頸工作</button>
                                                            {%endif%}
                                                            {% endif %}

                                                        </td>

                                                        <td>
                                                            {% for rid in DELAY["job_table"][jid]["resource"] %}
                                                            <a class="btn btn-sm btn-dark"
                                                                href="/resource_schedule?rid={{rid}}">{{
                                                                DELAY["job_table"][jid]["resource"][rid]}}</a>
                                                            {% endfor %}

                                                        </td>

                                                        <td>{{ DELAY["job_table"][jid]["plan_start_time"] }}</td>
                                                        <td>{{ DELAY["job_table"][jid]["plan_end_time"] }}</td>

                                                        <td>{{ '%0.2f'| format(
                                                            DELAY["job_table"][jid]["waiting_time"]|float) }}</td>
                                                        {% if DELAY["job_table"][jid]["buffer_time"] %}
                                                        {% if DELAY["job_table"][jid]["buffer_time"] < 0%} <td
                                                            class="text-danger font-weight-bold">{{ '%0.2f'| format(
                                                            DELAY["job_table"][jid]["buffer_time"]|float) }}</td>
                                                            {% else %}
                                                            <td>{{ '%0.2f'| format(
                                                                DELAY["job_table"][jid]["buffer_time"]|float) }}</td>

                                                            {% endif %}
                                                            {% endif %}

                                                    </tr>
                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

<!-- <script src="/static/assets/js/pages/chart-order-slack.js"></script> -->

<!-- datatable Js -->
<script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>
<script src="/static/assets/js/pages/tbl-datatable-outsourcing.js"></script>

<!-- select2 Js -->
<script src="/static/assets/plugins/select2/js/select2.full.min.js"></script>

<!-- Chart code -->
<script>
    // function bottleneckAnalysis() {
    //     var jid =this.getAttribute('jid');

    //     //var jid = $('#bottleneck-function').data("name");
    //     console.log(jid);


    //     $.ajax({
    //         url: "http://" + document.domain + "/usage/" + jid ,
    //         type: "GET",
    //         success: function (data) {
    //             $('#test').html(data);
    //         }
    //     });

    //   // Your javascript code to bring data from database. 
    // };
    // document.getElementById('magicAnchor').addEventListener('click', function() {
    //     var jid = this.getAttribute('jid');
    //     console.log(jid);
    // });

</script>

<script>
    // Set the date we're counting down to
    var d = new Date();
    d.setDate(d.getDate() + 5);
    var countDownDate = new Date(d).getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("timer").innerHTML = "<b>" + days + "</b>days : <b>" + hours + "</b>h : <b>" +
            minutes + "</b>m : <b>" + seconds + "</b>s ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>

{% endblock javascripts %}