{% extends "layouts/base.html" %}

{% block title %} Get Started {% endblock %} 

{% block stylesheets %}

<!-- Specific CSS goes HERE -->

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">

                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">

                                <div class="col-xl-12">
                                    <h3>操作說明</h3>
                                    <hr>
                                    <div class="card-deck">
                                        <div class="card">
                                            <img class="card-img-top" src="/static/assets/images/slider/img-slide-4.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">01 基本操作</h5>
                                                <p class="card-text">查看系統操作說明</p>
                                            </div>
                                            <div class="card-block">
                                                <a class="btn btn-rounded btn-secondary text-dark disabled" href="#"><i class="feather icon-play"></i>開始</a>
                                            </div>
                                            <!-- <div class="card-footer">
                                                <small class="text-muted">Coming Soon...</small>
                                            </div> -->
                                        </div>
                                        
                                        <div class="card">
                                            <img class="card-img-top" src="/static/assets/images/slider/img-slide-1.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">02 快速開始</h5>
                                                
                                            </div>
                                            <div class="card-block">
                                                <form method="POST" enctype=multipart/form-data>
                                                    <div class="row">
                                                        
                                                        <div class="col-4">
                                                            <p class="card-text">套用範例資料直接開始使用</p>
                                                        </div>
                                                        <div class="col-4">
                                                        </div>
                                                        <div class="col-4">
                                                            
                                                            <input type=submit class="btn btn-rounded btn-success text-dark float-right" name="quick_start" value=匯入範例資料>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        
                                                        <div class="col-6">
                                                            <p class="card-text">套用測試資料</p>
                                                        </div>
                                                        <div class="col-6 float-left">
                                                            <input type=file name=file>
                                                        </div>
                                                        
                                                        <div class="col-6">
                                                            <p class="card-text"> 欄位對照 </p>
                                                        </div>
                                                        <div class="col-6 float-left">
                                                            <input type=file name=file>
                                                        </div>
                                                        
                                                        <div class="col-12">
                                                            <input type=submit class="btn btn-rounded btn-success text-dark float-right" name="custom"value=匯入測試資料>
                                                        </div>
                                                    </div>
                                                        <!-- <div class="input-group cust-file-button col-12">
                                                            <div class="input-group-prepend">
                                                                <button class="btn btn-primary" type="button">匯入</button>
                                                            </div>
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="inputGroupFile03">
                                                                <label class="custom-file-label" for="inputGroupFile03">選擇範例檔</label>
                                                            </div>
                                                        </div> -->

                                                    </div>
                                                    
                                                </form>
                                            </div>
                                            <!-- <div class="card-footer">
                                                <small class="text-muted">Last updated 3 mins ago</small>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

<!-- Specific Page JS goes HERE  -->

{% endblock javascripts %}
