{% extends "layouts/base.html" %}

{% block title %} Get Started {% endblock %}

{% block stylesheets %}
<!-- select2 css -->
<link rel="stylesheet" href="/static/assets/plugins/select2/css/select2.min.css">
<!-- multi-select css -->
<link rel="stylesheet" href="/static/assets/plugins/multi-select/css/multi-select.css">
<!-- data table css -->
<link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

<!-- Specific CSS goes HERE -->

{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<style lang="scss" scoped>
    .example-header{
        margin: 20px 20px;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #282c34;
        text-align: center;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #282c34;
    }
    .example-title{
        font-size: 20px;
    }
    body {font-family: Arial;}

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 2px solid #f1f1f1;
    }
    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }
</style>
<div class="pcoded-wrapper" style="overflow-x: hidden;">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-12">
<!--                            <div class="card Active-visitor">-->
<!--                                <h3 class="example-header">匯入資料-->
<!--                                    <button type="button" class="btn btn-rounded btn-outline-primary float-right">匯入資料</button>-->
<!--                                    <button type="button" class="btn btn-rounded btn-outline-success float-right">儲存欄位</button>-->
<!--                                </h3>-->
<!--                                <div class="card-block task-data" style="overflow-x: auto;">-->
<!--                                    <table>-->
<!--                                        <tr>-->
<!--                                            <th colspan="12" class="example-title">-->
<!--                                                說明欄位（範本）-->
<!--                                            </th>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <th>客戶名稱</th>-->
<!--                                            <th>訂單單號</th>-->
<!--                                            <th>工單單號</th>-->
<!--                                            <th>工單建立日期</th>-->
<!--                                            <th>工單交期</th>-->
<!--                                            <th>生產料號</th>-->
<!--                                            <th>生產數量</th>-->
<!--                                            <th>站點名稱</th>-->
<!--                                            <th>工序流程</th>-->
<!--                                            <th>製程名稱</th>-->
<!--                                            <th>內製外包</th>-->
<!--                                            <th>預估工時(分)</th>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>CU-178</td>-->
<!--                                            <td>O-202012054</td>-->
<!--                                            <td>MA-2020120076</td>-->
<!--                                            <td>2021-03-03</td>-->
<!--                                            <td>2021-03-08</td>-->
<!--                                            <td>OB-4586C54</td>-->
<!--                                            <td>20</td>-->
<!--                                            <td>站點一</td>-->
<!--                                            <td>1</td>-->
<!--                                            <td>製程1</td>-->
<!--                                            <td>in-house</td>-->
<!--                                            <td>15</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>CU-178</td>-->
<!--                                            <td>O-202012054</td>-->
<!--                                            <td>MA-2020120076</td>-->
<!--                                            <td>2021-03-03</td>-->
<!--                                            <td>2021-03-08</td>-->
<!--                                            <td>OB-4586C54</td>-->
<!--                                            <td>20</td>-->
<!--                                            <td>站點一</td>-->
<!--                                            <td>2</td>-->
<!--                                            <td>製程2</td>-->
<!--                                            <td>in-house</td>-->
<!--                                            <td>30</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>CU-178</td>-->
<!--                                            <td>O-202012054</td>-->
<!--                                            <td>MA-2020120076</td>-->
<!--                                            <td>2021-03-03</td>-->
<!--                                            <td>2021-03-08</td>-->
<!--                                            <td>OB-4586C54</td>-->
<!--                                            <td>20</td>-->
<!--                                            <td>站點一</td>-->
<!--                                            <td>3</td>-->
<!--                                            <td>製程3</td>-->
<!--                                            <td>in-house</td>-->
<!--                                            <td>23</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>CU-178</td>-->
<!--                                            <td>O-202012054</td>-->
<!--                                            <td>MA-2020120076</td>-->
<!--                                            <td>2021-03-03</td>-->
<!--                                            <td>2021-03-08</td>-->
<!--                                            <td>OB-4586C54</td>-->
<!--                                            <td>20</td>-->
<!--                                            <td>站點一</td>-->
<!--                                            <td>4</td>-->
<!--                                            <td>製程4</td>-->
<!--                                            <td>in-house</td>-->
<!--                                            <td>29</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>CU-178</td>-->
<!--                                            <td>O-202012054</td>-->
<!--                                            <td>MA-2020120076</td>-->
<!--                                            <td>2021-03-03</td>-->
<!--                                            <td>2021-03-08</td>-->
<!--                                            <td>OB-4586C54</td>-->
<!--                                            <td>20</td>-->
<!--                                            <td>站點一</td>-->
<!--                                            <td>4</td>-->
<!--                                            <td>製程5</td>-->
<!--                                            <td>in-house</td>-->
<!--                                            <td>23</td>-->
<!--                                        </tr>-->
<!--                                    </table>-->
<!--                                </div>-->
<!--                            </div>-->
                            <input type="file" id="fileUploader" name="fileUploader" accept=".xls, .xlsx"/>
                            <button type="button" class="btn btn-rounded btn-outline-primary float-right" onclick="getImportValue()">匯入資料</button>
                            </br></br>
                            <hr>
                            <div>
                                <ol class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                </ol>
                                <div class="tab-content" style="overflow-x: auto; display: none" id="pills-tabContent">
                                    <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}
<!-- data table Js -->
<script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>
<!-- select2 Js -->
<script src="/static/assets/plugins/select2/js/select2.full.min.js"></script>


<!--使用JS-XLSX操作xlsx-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.2/xlsx.full.min.js"></script>

<!--使用FileSaver下載資料成為檔案-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>

<script>
    setTimeout(function () {
    }, 200);

    let sheetNameItems = [];

    function openCity(evt, cityName) {
        let i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    $(document).ready(function(){

        const project_data = [
            { id:'customer_id' ,text: '客戶名稱' },
            { id:'order_id' ,text: '訂單單號' },
            { id:'project_name' ,text: '單號' },
            { id:'order_date' ,text: '工令日期' },
            { id:'due' ,text: '預交日期' },
            { id:'product_name' ,text: '機種編號' },
            { id:'qty' ,text: '製造數量' },
            { id:'process_name' ,text: '大站名稱' },
            { id:'job_sequence' ,text: '工序編號' },
            { id:'sourcing' ,text: 'Sourcing' },
            { id:'est_time' ,text: '預估工時(分)”' },
        ];
        const resource_data = [
            { id:'resource_name' ,text: '人員或機台名稱' },
            { id:'resource_type' ,text: '類型' },
            { id:'job_name' ,text: '製程能力' },
            { id:'calendar_name' ,text: '工作日範本' },
            { id:'hours_name' ,text: '工作時間範本' },

        ];
        const outsourcing_data = [
            { id:'resource_name' ,text: '廠商代碼' },
            { id:'capacity' ,text: 'Capacity' },
            { id:'job_name' ,text: '製程能力' },
        ];
        const workingdays = [
            { id:'calendar_name' ,text: '範本名稱' },
            { id:'working_days' ,text: '工作日' },
        ];
        const workinghours = [
            { id:'hours_name' ,text: '範本名稱' },
            { id:'working_hours' ,text: '工作時間' },
            { id:'break_time' ,text: '休息時間' },
        ];
        const material_data = [
            { id:'material_name' ,text: '材料名稱' },
            { id:'material_type' ,text: '備料時間' },
            { id:'material_describtion' ,text: '描述' },
            { id:'inventory' ,text: '庫存數量' },
            { id:'min_inventory' ,text: '最低庫存數量' },
            { id:'unit' ,text: '單位' },
        ];

        $("#fileUploader").change(function(evt){
            let tabsTitle = '';
            let tabsItems = '';
            const selectedFile = evt.target.files[0];
            const reader = new FileReader();
            reader.onload = function(event) {
                const data = event.target.result;
                let sheetName = '';
                const workbook = XLSX.read(data, {
                    type: 'binary'
                });
                sheetNameItems = workbook.SheetNames;
                workbook.SheetNames.forEach(function(sheetName, index) {
                    sheetName = sheetName;
                    const XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                    let keysIndex = 0;
                    let keysLength = 0;
                    XL_row_object.forEach((keys,index) => {
                        if (Object.keys(keys).length > keysLength){
                            keysLength = Object.keys(keys).length;
                            keysIndex = index;
                        }
                    })
                    if (XL_row_object.length > 0) {
                        const dataTableTitle = Object.keys(XL_row_object[keysIndex])
                        tabsTitle += '<li class="nav-item">'
                        if (index === 0 ){
                            tabsTitle += '<a class="nav-link active" id="pills-'+sheetName+'-tab" data-toggle="pill" href="#pills-'+sheetName+'"role="tab" aria-controls="pills-'+sheetName+'" aria-selected="true">'+sheetName+'</a>'
                        } else {
                            tabsTitle += '<a class="nav-link show" id="pills-'+sheetName+'-tab" data-toggle="pill" href="#pills-'+sheetName+'"role="tab" aria-controls="pills-'+sheetName+'" aria-selected="true">'+sheetName+'</a>'
                        }

                        tabsTitle += '</li>'
                        if (index === 0 ){
                            tabsItems += '<div class="tab-pane fade active show" id="pills-'+sheetName+'" role="tabpanel" aria-labelledby="pills-'+sheetName+'-tab">'

                        } else {
                            tabsItems += '<div class="tab-pane fade" id="pills-'+sheetName+'" role="tabpanel" aria-labelledby="pills-'+sheetName+'-tab">'

                        }
                        tabsItems += '<table id="'+sheetName+'">'
                        tabsItems += '<tr>'
                        dataTableTitle.forEach((item) => {
                            tabsItems += '<th>'
                            tabsItems += item
                            tabsItems += '<br>'
                            tabsItems += '<select id="'+item+'" class="btn btn-sm btn-muted text-white '+sheetName+'" name="allow_overlapped"></select>'
                            tabsItems += '</th>'
                        })
                        tabsItems += '</tr>'
                        XL_row_object.forEach(valueItems => {

                            tabsItems += '<tr>'
                            for (const [key, value] of Object.entries(valueItems)) {
                                dataTableTitle.forEach((keysItems) => {
                                    if (key === keysItems) {
                                        tabsItems += '<td>'
                                        tabsItems += value
                                        tabsItems += '</td>'
                                        return
                                    }
                                })
                            }
                            tabsItems += '</tr>'
                        });
                        tabsItems += '</thead></table>'
                        tabsItems += '</div>'
                    }
                })
                $("#pills-tabContent").css("display","block");
                $("ol").append(tabsTitle);
                $("#pills-tabContent").append(tabsItems);
                // project_data
                $('.project_data').select2({
                    data: project_data,
                    placeholder: "選擇欄位名稱",
                    width: '200'
                });
                $(".project_data").val(['0']).trigger('change');
                // resource_data
                $('.resource_data').select2({
                    data: resource_data,
                    placeholder: "選擇欄位名稱",
                    width: '200'
                });
                $(".resource_data").val(['0']).trigger('change');
                // outsourcing_data
                $('.outsourcing_data').select2({
                    data: outsourcing_data,
                    placeholder: "選擇欄位名稱",
                    width: '200'
                });
                $(".outsourcing_data").val(['0']).trigger('change');
                // workingdays
                $('.workingdays').select2({
                    data: workingdays,
                    placeholder: "選擇欄位名稱",
                    width: '200'
                });
                $(".workingdays").val(['0']).trigger('change');
                // workinghours
                $('.workinghours').select2({
                    data: workinghours,
                    placeholder: "選擇欄位名稱",
                    width: '200'
                });
                $(".workinghours").val(['0']).trigger('change');
                // material_data
                $('.material_data').select2({
                    data: material_data,
                    placeholder: "選擇欄位名稱",
                    width: '200'
                });
                $(".material_data").val(['0']).trigger('change');
            };

            reader.onerror = function(event) {
            };

            reader.readAsBinaryString(selectedFile);

        });
    });
    function getImportValue() {
        let form = []
        sheetNameItems.forEach(sheetName => {
            let getExcelValue = [];
            // form = document.forms[sheetName];
            // const inputElement = document.getElementsByTagName('th');
            // console.log(form)
            // console.log(inputElement)
            // const name = inputElement[0]
            // console.log(name)
            // 取得 table 中 tr 的長度
            let tr_length = $('#'+sheetName+' tr').length;
            for(let i=0; i < tr_length; i++){
                let td_length = $('#'+sheetName+' tr')[i].childElementCount;
                for(let v = 0; v < td_length; v++){
                    console.log($('#'+sheetName+' tr:eq('+i+') th:eq('+v+')').text());
                }

            }
            console.log(getExcelValue)
        })

    }
</script>

<!-- Specific Page JS goes HERE  -->

{% endblock javascripts %}
