{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card Active-visitor">
                                    <div class="card-header">
                                        <h3>訂單管理
                                            <a href="/create_order"><button type="button" class="btn btn-rounded btn-outline-primary float-right">新增</button></a>
                                            <button type="button" class="btn btn-rounded btn-outline-secondary float-right">查詢</button>
                                            <!-- <button type="button" class="btn btn-rounded btn-outline-secondary float-right">工單查詢</button>
                                            <button type="button" class="btn btn-rounded btn-outline-secondary float-right">物料查詢</button> -->
                                        </h3>
                                    </div>
                                    <div class="card-block task-data">
                                        <div class="row text-center">
                                            <div class="col-md-3">
                                                <h4>
                                                    <a href="delay-orders.html"><span>87.5%</span></a>
                                                </h4>
                                                <span class="text-muted">準交率預估</span>
                                            </div>
                                            <div class="col-md-3">
                                                <h4>
                                                    <a href="delay-orders.html"><span class="text-danger">1</span></a>
                                                </h4>
                                                <span class="text-muted">逾時</span>
                                            </div>
                                            <div class="col-md-3">
                                                <h4 class="text-warning">1</h4>
                                                <span class="text-muted">缺料</span>
                                            </div>
                                            <div class="col-md-3">
                                                <h4 class="text-warning">2</h4>
                                                <span class="text-muted">未排程</span>
                                            </div>
                                            <div class="col-md-3">
                                                <a href="bottleneck-analytics.html"><h4 class="text-warning" id="dashboard_bottleneck_count"></h4></a>
                                                <span class="text-muted">瓶頸製程數</span>
                                            </div>

                                        </div>
                                        <hr>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <table class="table table-hover">
                                                        <h5>工單即時進度
                                                        </h5>
                                                        <div class="card-block text-center">
                                                            <span class="text-muted f-16">已完成：1</span>
                                                            <div class="progress mt-4 m-b-40">
                                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%; height:7px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <div class="row card-active">
                                                                <div class="col-md-6">
                                                                    <h4>2</h4>
                                                                    <span class="text-muted">今日目標完成工單</span>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <h4>8</h4>
                                                                    <span class="text-muted">進行中</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </table>
                                                </div>

                                                <div class="col-xl-6">
                                                    <table class="table table-hover">
                                                        <h5>物料即時進度
                                                        </h5>
                                                        <div class="card-block text-center">
                                                            <span class="text-muted f-16">已到料：1</span>
                                                            <div class="progress mt-4 m-b-40">
                                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 100%; height:7px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <div class="row card-active">
                                                                <div class="col-md-6">
                                                                    <h4>
                                                                        <a href="material-analytics.html"><span>1</span></a>
                                                                    </h4>
                                                                    <span class="text-muted">今日預計到料品項</span>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <h4>
                                                                        <a href="tbl_datatable_outsourcing.html"><span>2</span></a>
                                                                    </h4>
                                                                    <span class="text-muted">進行中</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="table-responsive form-material">
                                            <table id="simpletable" class="table task-list-table table-striped table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>訂單編號</th>
                                                        <th>工單編號</th>
                                                        <th>訂單交期</th>
                                                        <th>交期預測</th>
                                                        <th>訂單狀態</th>
                                                        <th>物料狀態</th>
                                                        <th>工單狀態</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="task-page">
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-sm btn-dark" href="/order-data.html">OP17100021</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-sm btn-dark" href="/create-mfg-order.html">+</a>
                                                            <a class="btn btn-sm btn-dark" href="/project-schedule.html">MAA2060491</a>
                                                        </td>
                                                        <td>2020-09-10 10:00</td>
                                                        <td class="text-danger">2020-09-11 16:30</td>
                                                        <td>
                                                            <span class="badge badge-success f-12">已確認</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge badge-success f-12">料齊</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge badge-success f-12">已排程</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-sm btn-dark" href="/order-data.html">OP17100022</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-sm btn-dark" href="/create-mfg-order.html">+</a>
                                                        </td>
                                                        <td>2020-09-10 10:00</td>
                                                        <td class="text-warning"></td>
                                                        <td>
                                                            <span class="badge badge-info f-12">試排</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge badge-warning f-12">缺料</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge badge-warning f-12">未排程</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- Data tables.js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
        }, 200);
    </script>

{% endblock javascripts %}