{% extends "layouts/base-user.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <!-- notification css -->
    <link rel="stylesheet" href="/static/assets/plugins/notification/css/notification.min.css">    

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                          
                            <div class="row">
                            
                                <!-- [ SARA Order Analytics ] start -->
                                <div class="col-md-6">
                                    <div class="card Active-visitor">
                                        <div class="card-header">
                                            <h5>工單</h5>
                                            <div class="card-header-right">
                                                <div class="btn-group card-option">
                                                    <span class="badge badge-info f-14">1 new</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-block text-center">
                                            <h2 class="f-w-300 mt-3">1 / 2</h2>
                                            <span class="text-muted">今日目標完成工單</span>
                                            <div class="progress mt-4 m-b-40">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%; height:7px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="row card-active">
                                                <div class="col-md-3">
                                                    <h4>
                                                        <a href="delay-orders.html"><span class="text-danger">1</span></a>
                                                    </h4>
                                                    <span class="text-muted">逾時</span>
                                                </div>
                                                <div class="col-md-3">
                                                    <h4>6</h4>
                                                    <span class="text-muted">進行中</span>
                                                </div>
                                                <div class="col-md-3">
                                                    <h4><a href="order-list.html"><span class="text-warning">1</span></a></h4>
                                                    <span class="text-muted">未排程</span>
                                                </div>
                                                <div class="col-md-3">
                                                    <h4>28</h4>
                                                    <span class="text-muted">已排程</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ SARA Order Analytics ] end -->

                                <!-- [ SARA Products Analytics ] start -->
                                <!-- <div class="col-md-4 col-xl-4">
                                    <div class="card Active-visitor">
                                        <div class="card-header">
                                            <h5>製品</h5>
                                        </div>
                                        <div class="card-block text-center">
                                            <h2 class="f-w-300 mt-3">3 / 4</h2>
                                            <span class="text-muted">今日目標完成製品(批)</span>
                                            <div class="progress mt-4 m-b-40">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 75%; height:7px;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="row card-active">
                                                <div class="col-md-4 col-6">
                                                    <h4>11</h4>
                                                    <span class="text-muted">進行中</span>
                                                </div>
                                                <div class="col-md-4 col-6">
                                                    <h4>120</h4>
                                                    <span class="text-muted">內製件</span>
                                                </div>
                                                <div class="col-md-4 col-12">
                                                    <h4>
                                                        <a href="tbl-material-shortage.html"><span>3</span></a>
                                                    </h4>
                                                    <span class="text-muted">缺料</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- [ SARA Products Analytics ] end -->

                                <!-- [ SARA Jobs Analytics ] start -->
                                <div class="col-md-6">
                                    <div class="card Active-visitor">
                                        <div class="card-header">
                                            <h5>工作</h5>
                                        </div>
                                        <div class="card-block text-center">
                                            <h2 class="f-w-300 mt-3">25 / 30</h2>
                                            <span class="text-muted">今日目標完成工作</span>
                                            <div class="progress mt-4 m-b-40">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 83%; height:7px;" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="row card-active">
                                                <!-- <div class="col-md-3">
                                                    <h4>
                                                        <a href="job-list.html"><span class="text-warning">1</span></a>
                                                    </h4>
                                                    <span class="text-muted">延遲</span>
                                                </div> -->
                                                <div class="col-md-6">
                                                    <h4>
                                                        <a href="tbl-material-shortage.html"><span class="text-danger">3</span></a>
                                                    </h4>
                                                    <span class="text-muted">異常</span>
                                                </div>
                                                <!-- <div class="col-md-3">
                                                    <h4>
                                                        <a href="tbl_datatable_outsourcing.html"><span class="text-warning">2</span></a>    
                                                    </h4>
                                                    <span class="text-muted">未按次序</span>
                                                </div> -->
                                                <div class="col-md-6">
                                                    <h4>420</h4>
                                                    <span class="text-muted">已排程</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ SARA Jobs Analytics ] end -->

                                
                                <!-- [ user activity section ] start -->

                                <div class="col-xl-6 col-md-6">
                                    <div class="card User-Activity">
                                        <div class="card-header">
                                            <h5>資源負荷 
                                                <span class="badge badge-warning f-12">今日</span>
                                                <span class="badge badge-secondary f-12">明日</span>
                                            </h5>
                                            
                                        </div>
                                        <div class="card-block pb-0">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>資源</th>
                                                            <th>負荷率(%)</th>
                                                            <th class="text-right">狀態</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">M023</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">85</h6>
                                                            </td>
                                                            <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">M024</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">83</h6>
                                                            </td>
                                                            <td class="text-right"><i class="fas fa-circle text-c-yellow f-10"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">M025</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">82</h6>
                                                            </td>
                                                            <td class="text-right"><i class="fas fa-circle text-c-yellow f-10"></i></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ user activity section ] end -->

                                <!-- [ user activity section ] start -->
                                <div class="col-xl-6 col-md-6">
                                    <div class="card User-Activity">
                                        <div class="card-header">
                                            <h5>製程瓶頸
                                                <span class="badge badge-warning f-12">今日</span>
                                                <span class="badge badge-secondary f-12">明日</span>
                                            </h5>

                                            <div class="card-header-right">
                                                <div class="btn-group card-option">
                                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="feather icon-more-horizontal"></i>
                                                    </button>
                                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                        <!-- <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li> -->
                                                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-check-square"></i> 編輯</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> 重新整理</a></li>
                                                    </ul>

                                                </div>
                                            </div>

                                            <!-- <div class="card-header-right">
                                                <a href="#"><span><i class="feather icon-zoom-in f-18"></i></span></a>
                                            </div> -->
                                        </div>
                                        <div class="card-block pb-0">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>製程</th>
                                                            <th>最大等待時間(分)</th>
                                                            <th class="text-right">狀態</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">
                                                                    <a href="bottleneck-analytics.html">機鑽</a>
                                                                </h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">305</h6>
                                                            </td>
                                                            <td class="text-right"><i class="fas fa-circle text-c-yellow f-10"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">裁板</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">245</h6>
                                                            </td>
                                                            <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">成型</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">183</h6>
                                                            </td>
                                                            <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ user activity section ] end -->

                                <!-- [ user activity section ] start -->
                                <!-- <div class="col-xl-4 col-md-4">
                                    <div class="card User-Activity">
                                        <div class="card-header">
                                            <h5>物料短缺
                                                <span class="badge badge-warning f-12">今日</span>
                                                <span class="badge badge-secondary f-12">明日</span>
                                            </h5>
                                        </div>
                                        <div class="card-block pb-0">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>物料</th>
                                                            <th>缺料數量</th>
                                                            <th class="text-right">狀態</th>
                                                        </tr>
                                                    </thead> 
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">
                                                                    <a href="forecast-shortage-material.html">P10-B</a>
                                                                </h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">20</h6>
                                                            </td>
                                                            <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0"> </h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0"> </h6>
                                                            </td>
                                                            <td class="text-right"><i class="fas fa-circle text-black-50 f-10"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0"> </h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0"> </h6>
                                                            </td>
                                                            <td class="text-right"><i class="fas fa-circle text-black-50 f-10"></i></td>
                                                        </tr>
                                                
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- [ user activity section ] end -->


                            </div>





                            </div>
                
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


    <!-- amchart js -->
    <script src="/static/assets/plugins/amchart/js/amcharts.js"></script>
    <script src="/static/assets/plugins/amchart/js/gauge.js"></script>
    <script src="/static/assets/plugins/amchart/js/serial.js"></script>
    <script src="/static/assets/plugins/amchart/js/light.js"></script>
    <script src="/static/assets/plugins/amchart/js/pie.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/ammap.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/usaLow.js"></script>
    <script src="/static/assets/plugins/amchart/js/radar.js"></script>
    <script src="/static/assets/plugins/amchart/js/worldLow.js"></script>
    <!-- notification Js -->
    <script src="/static/assets/plugins/notification/js/bootstrap-growl.min.js"></script>


    <!-- dashboard-custom js -->
    <script src="/static/assets/js/pages/dashboard-custom.js"></script>
    <!-- <script src="/static/assets/js/pages/dashboard-crm.js"></script> -->
    <script src="/static/assets/js/pages/dashboard-project.js"></script>

{% endblock javascripts %}
