{% extends "layouts/base.html" %}

{% block title %} Resource Schedule {% endblock %}

{% block stylesheets %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="/static/assets/js/vendor-all.min.js"></script>

{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->

<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ task-detail ] start -->

                        <div class="col-12">
                            <div class="card">
                               

                                <div class="card-block">
                                    <h4>工作清單</h4>
                                    
                                    <div class="m-b-20">

                                        <div class="table-responsive m-t-20">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                    <tr class="text-uppercase f-18">
                                                        <th class="text-right">備註</th>
                                                        <th>狀態</th>
                                                        <th>現在站點</th>
                                                        <th>工作名稱</th>
                                                        <th>工單/製令</th>
                                                        <th>製品料號</th>
                                                        <th>批號</th>
                                                        <th>[途程]製程名稱</th>
                                                        <th>製程數量</th>
                                                        <th>類別</th>
                                                        <th>預計開始</th>
                                                        <th>預計結束</th>
                                                        <th>實際開始</th>
                                                        <th>實際結束</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody class="text-muted f-16">
                                                    {% for jid in JOB %}
                                                    <tr>
                                                        <td></td> <!--備註-->

                                                        <td>
                                                            {% if JOB[jid]["status"] %}

                                                            {% if JOB[jid]["status"] == "pause" %}
                                                            <span
                                                                class="badge badge-danger f-16">{{JOB[jid]["status"]}}</span>
                                                            {% elif JOB[jid]["status"] == "finished"  %}
                                                            <span
                                                                class="badge badge-dark f-16">{{JOB[jid]["status"]}}</span>
                                                            {% else %}
                                                            <span
                                                                class="badge badge-primary f-16">{{JOB[jid]["status"]}}</span>
                                                            {% endif %}
                                                            {% else %}
                                                            <span></span>
                                                            {% endif%}
                                                        </td>
                                                        <td>{{ JOB[jid]["current_loc"] }}</td>


                                                        <td><a class="btn btn-sm btn-dark f-16"
                                                                href="/job_detail/{{jid}}">{{ JOB[jid]["job_name"] }}</a></td>
                                                        <td>{{ JOB[jid]["project_name"] }}</td>

                                                        <td><a class="btn btn-sm btn-dark f-16"
                                                            href="/product_detail/{{ JOB[jid]['product_id']}}">{{ JOB[jid]["product_name"]}}</td>
                                                        <td>{{ JOB[jid]["lot_nbr"]}}</td>
                                                        <td>
                                                            {% if JOB[jid]["route_seq"] %}
                                                            [
                                                            {{ JOB[jid]["route_seq"] }}
                                                            ]
                                                            {{ JOB[jid]["jlb_name"] }}
                                                            {% else %}
                                                            {{ JOB[jid]["jlb_name"] }}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ JOB[jid]["qty"] }}</td>
                                                        <td>{{ JOB[jid]["project_type"] }}</td>

                                                        
                                                        {% if JOB[jid]["plan_start_time"] %}
                                                        <td>{{JOB[jid]["plan_start_time"][0:16]}}</td>
                                                        {% else %}
                                                        <td></td>
                                                        {% endif %}

                                                        {% if JOB[jid]["plan_end_time"] %}
                                                        <td>{{JOB[jid]["plan_end_time"][0:16]}}</td>
                                                        {% else %}
                                                        <td></td>
                                                        {% endif %}

                                                        {% if JOB[jid]["real_start_time"] %}
                                                        <td>{{JOB[jid]["real_start_time"][0:16]}}</td>
                                                        {% else %}
                                                        <td></td>
                                                        {% endif %}

                                                        {% if JOB[jid]["real_end_time"] %}
                                                        <td>{{JOB[jid]["real_end_time"][0:16]}}</td>
                                                        {% else %}
                                                        <td></td>
                                                        {% endif %}

                                                        
                                                    </tr>
                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

<!-- Smart Wizard Js
    <script src="/static/assets/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
    <script src="/static/assets/js/pages/wizard-custom.js"></script> -->

<script>


    // Set the date we're counting down to
    var d = new Date();
    d.setDate(d.getDate() + 5);
    var countDownDate = new Date(d).getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("timer").innerHTML = "<b>" + days + "</b>days : <b>" + hours + "</b>h : <b>" +
            minutes + "</b>m : <b>" + seconds + "</b>s ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "EXPIRED";
        }
    }, 2000);
</script>

{% endblock javascripts %}