{% extends "layouts/base.html" %}

{% block title %} 快速試排 {% endblock %} 

{% block stylesheets %}

    <!-- data tables css -->
    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">


{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->

        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <!-- <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Task List</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#!">Task</a></li>
                                        <li class="breadcrumb-item"><a href="#!">Task List</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="alert alert-primary" role="alert">
                                        <p>步驟1：快速試排分析結果如下，確認後請點選  
                                            <a href="optimal-schedule.html" target="_blank" class="alert-link">[排程優化]</a> 進行各站點工作排程優化。
                                            <a class="btn btn-primary float-right" href="optimal-schedule.html" role="button">步驟2：排程優化</a>
                                        </p>
                                        <label class="text-muted">可設定由系統自動進行動態重排優化 - <a href="/" target="_blank" class="alert-link">[設定]</a></label>
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <!-- [ overdue-task section ] start -->
                            <div class="row">

                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="m-0">已排程</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <h2 class="f-w-200 m-0">41
                                                        <span class="text-muted f-16">工單</span>
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="m-0">新增/恢復</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <h2 class="f-w-200 m-0">1
                                                        <span class="text-muted f-16">工單</span>
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="m-0">暫停/取消</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <h2 class="f-w-200 m-0">0
                                                        <span class="text-muted f-16">工單</span>
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="m-0">不足工作時間</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <h2 class="f-w-200 m-0 text-danger">2
                                                        <span class="text-muted f-16">工單</span>
                                                    </h2>
                                                </div>
                                                <div class="col-4 text-right">
                                                    <h2 class="text-c-red f-16">5%</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ overdue-task section ] end -->

                            <div class="row">
                                <!-- [ task-list ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>不足工作時間工單列表</h5>
                                        </div>
                                        <div class="card-block task-data">
                                            <div class="table-responsive form-material">
                                                <table id="key-act-button" class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>工單編號</th>
                                                            <th>關聯單號</th>
                                                            <th>工單交期</th>
                                                            <th>剩餘時間(小時)</th>
                                                            <th>待處理總工時(小時)</th>
                                                            <!-- <th>預計完成</th> -->
                                                            <th>類型</th>
                                                            <!-- <th>狀態</th> -->
                                                        </tr>
                                                    </thead>
                                                    <tbody class="task-page">
                                                        <tr>
                                                            <td>
                                                                <a class="btn btn-sm btn-dark" href="/work-order-detail.html">MAA2060491</a>
                                                            </td>
                                                            <td><a class="btn btn-sm btn-dark" href="/order-data.html">OP17100021</a></td>
                                                            <td>2020-09-30 10:00</td>
                                                            <td>73.50</td>
                                                            <td>80.25</td>
                                                            <!-- <td class="text-danger">2020-09-11 16:30</td> -->
                                                            <td class="text-danger">急件</td>
                                                            <!-- <td>
                                                                <span class="badge badge-success f-12">進行中</span>
                                                            </td> -->
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a class="btn btn-sm btn-dark" href="/work-order-detail.html">MAA2060492</a>
                                                            </td>
                                                            <td><a class="btn btn-sm btn-dark" href="/order-data.html">OP17100022</a></td>
                                                            <td>2020-10-03 16:00</td>
                                                            <td>135.85</td>
                                                            <td>150.75</td>
                                                            <!-- <td>N/A</td> -->
                                                            <td>一般件</td>
                                                            <!-- <td>
                                                                <span class="badge badge-warning f-12">未排程</span>
                                                            </td> -->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- [ task-list ] end -->
                            </div>

                            <div class="row">
                                <!-- [ task-list ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>各製程待處理工作列表</h5>
                                            <a class="btn btn-lg btn-rounded btn-outline-warning float-right" href="adjusted-schedule.html" data-toggle="tooltip" data-placement="bottom" title="如有手動調整需在調整後按下重新試排">重新試排</a>
                                        </div>
                                        
                                        <div class="card-block task-data">
                                            <table class="table table-hover">
                                                <h6>製程</h6>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select class="js-example-basic-single form-control">
                                                                <optgroup label="NC">
                                                                    <option value="1">程式</option>
                                                                    <option value="2">NC-1</option>
                                                                    <option value="3">NC-Q</option>
                                                                </optgroup>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="table-responsive form-material">
                                                <table id="key-act-button2" class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-warning" data-toggle="tooltip" data-placement="top" title="系統依據類型、工作期限、預估工時所計算出之排程優先順序">自動排序</th>
                                                            <th data-toggle="tooltip" data-placement="top" title="手動調整後之排程優先順序">調整排序</th>
                                                            <th class="text-warning" data-toggle="tooltip" data-placement="top" title="優先順序：特急件 > 急件 > 一般件">類型</th>
                                                            <th class="text-warning" data-toggle="tooltip" data-placement="top" title="由工單交期逆推算動算出，如工作超過此期限完成將造成工單逾時，較快到期者優先排序">工作期限</th>
                                                            <th class="text-warning" data-toggle="tooltip" data-placement="top" title="如類型與工作期限皆相同時，預估工時較短者優先排序">預估工時(小時)</th>
                                                            <th>工單</th>
                                                            <th data-toggle="tooltip" data-placement="top" title="系統自動產生之工作編號，選入可查看工作細部資訊">工作編號</th>
                                                            <th>預計開始</th>
                                                            <th>預計結束</th>
                                                            <th>狀態</th>
                                                            <th>動作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="task-page">
                                                        <tr>
                                                            <td>1</td>
                                                            <td>1</td>
                                                            <td>急件</td>
                                                            <td>2020-09-26 08:30</td>
                                                            <td>0.25</td>
                                                            <td><a class="btn btn-sm btn-dark" href="/work-order-detail.html">MAA2060491</a></td>
                                                            <td><a class="btn btn-sm btn-dark" href="/job-detail.html">JID00000001</a></td>
                                                            <td>2020-09-26 08:15</td>
                                                            <td>2020-09-26 08:30</td>
                                                            <td>
                                                                <span class="badge badge-success f-12">進行中</span>
                                                                <span class="badge badge-warning f-12">鎖定</span>
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-sm btn-outline-secondary disabled" href="#" role="button">調整</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>2</td>
                                                            <td>一般件</td>
                                                            <td>2020-09-26 10:30</td>
                                                            <td>0.25</td>
                                                            <td><a class="btn btn-sm btn-dark" href="/work-order-detail.html">MAA2060492</a></td>
                                                            <td><a class="btn btn-sm btn-dark" href="/job-detail.html">JID00000012</a></td>
                                                            <td>2020-09-26 08:30</td>
                                                            <td>2020-09-26 08:45</td>
                                                            <td>
                                                                <span class="badge badge-info f-12">排程中</span>
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-sm btn-outline-secondary" href="#" role="button">調整</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- [ task-list ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- Data tables.js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="/static/assets/js/pages/tbl-datatable-outsourcing.js"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
        }, 600);
    </script>

{% endblock javascripts %}
