{% extends "layouts/base.html" %}

{% block title %} 缺料管控 {% endblock %} 

{% block stylesheets %}

<!-- material datetimepicker css -->
<link rel="stylesheet" href="/static/assets/plugins/material-datetimepicker/css/bootstrap-material-datetimepicker.css">
<!-- Bootstrap datetimepicker css -->
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->

        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ task-detail ] start -->

                                <div class="col-12"> 
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>CMD-1007  
                                                <span class="badge badge-dark f-14">MAT_ID00000001</span>
                                                <span class="badge badge-primary f-12">進行中</span>
                                                
                                                <button type="button" class="btn btn-lg btn-rounded btn-outline-danger float-right" data-toggle="modal" data-target="#alertModal">異常回報</button>
                                                <button type="button" class="btn btn-lg btn-rounded btn-outline-primary float-right" data-toggle="modal" data-target="#exampleModal">已到料</button>
                                                <button type="button" class="btn btn-lg btn-rounded btn-outline-primary float-right" data-toggle="modal" data-target="#exampleModal">已下單</button>

                                                <!-- MES LITE 
                                               
                                                <button type="button" class="btn btn-lg btn-rounded btn-outline-success float-right" data-toggle="modal" data-target="#exampleModal">結束</button>
                                                <button type="button" class="btn btn-lg btn-rounded btn-outline-warning float-right" data-toggle="tooltip" data-placement="bottom" title="暫停">暫停</button>
                                               
                                                <button type="button" class="btn btn-lg btn-rounded btn-outline-primary float-right" data-toggle="tooltip" data-placement="bottom" title="開始">開始</button>
                                                --> 
                                                
                                                
                                            </h3>
                                            <br>
                                            <p class="text-muted">最後更新時間：2020-09-03 14:19</p>
                                            <hr>

                                            <p>需求日期：2020/08/22 </p>
                                            <p>需求工單編號：
                                                <a class="btn btn-sm btn-dark" href="/work-order-detail.html">5104-200401004</a>
                                            </p>


                                        </div>

                                        <!-- [ Modal ] start -->

                                        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">異常回報</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="col-12">
                                                            <h5>預計到料時間</h5>
                                                            <hr>
                                                            <input type="text" id="date-format" class="form-control" placeholder="點選更新時間">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                                        <button type="button" class="btn btn-primary">確認回報</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- [ Modal ] end -->

                                        <div class="card-block">
                                            <h5>回報記錄</h5>
                                            <div>
                                                <div class="table-responsive m-t-20">
                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                                <tr class="text-uppercase">
                                                                    <th>#</th>
                                                                    <th>動作</th>
                                                                    <th>時間</th>
                                                                    <th>備註</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="text-muted">
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td>已下單</td>
                                                                    <td>2020-09-10 11:30</td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>2</td>
                                                                    <td>異常回報</td>
                                                                    <td>2020-09-10 12:00</td>
                                                                    <td>[到料延遲] 回押交期：2021-03-08</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- select2 Js -->
    <script src="/static/assets/plugins/select2/js/select2.full.min.js"></script>
 

    <script type="text/javascript">
        setTimeout(function() {
            $('#date-format').bootstrapMaterialDatePicker({
                format: 'dddd DD MMMM YYYY - HH:mm'
            });
        }, 600);
    </script>

    <!-- material datetimepicker Js -->
    <script src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script src="/static/assets/plugins/material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
 

{% endblock javascripts %}
