{% extends "layouts/base.html" %}

{% block title %} Data {% endblock %} 

{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card table-card">
                                        <div class="row-table">
                                            <div class="col-auto theme-bg text-white p-t-50 p-b-50">
                                                <i class="feather icon-link f-36"></i>
                                            </div>
                                            <div class="col text-left">
                                                <h3 class="f-36">MAA2060490 <span class="badge badge-dark text-muted f-12">識別碼</span></h3>
                                                <p>最後更新時間：2020-08-20 08:25:00+00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ task-detail ] start -->
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>資料整合表</h5>
                                        </div>
                                        <div class="card-block task-details">
                                            <table class="table table-hover">
                                                <tbody>
                                                    <thead>
                                                        <tr>
                                                            <th>資料名稱</th>
                                                            <th>內容</th>
                                                            <th>格式</th>
                                                            <th>來源</th>
                                                        </tr>
                                                    </thead>
                                                    <tr>
                                                        <td>工單編號</td>
                                                        <td>MAA2060490</td>
                                                        <th>字串</th>
                                                        <td>MES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>製品</td>
                                                        <td>PN-CTE-0000001</td>
                                                        <th>字串</th>
                                                        <td>ERP</td>
                                                    </tr>
                                                    <tr>
                                                        <td>批量</td>
                                                        <td>20</td>
                                                        <th>數值</th>
                                                        <td>MES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>工單交期</td>
                                                        <td>2020-09-09 16:00:00+00</td>
                                                        <th>日期</th>
                                                        <td>MES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>類別</td>
                                                        <td>急件</td>
                                                        <th>字串</th>
                                                        <td>MES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>ML參數</td>
                                                        <td>{
                                                                "kcO3GkxzCpn2XW0PCATLyA==": "3EnYyngcO99+2EspDAdjsw==", ...
                                                            }
                                                        </td>
                                                        <th>JSON</th>
                                                        <td class="text-primary">Excel</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}
