{% extends "layouts/base.html" %}

{% block title %} 交期預測 {% endblock %}

{% block stylesheets %}

<!-- gridstack css -->
<link rel="stylesheet" href="/static/assets/plugins/gridstack/css/gridstack.min.css">
<!-- gridstack-custom css -->
<link rel="stylesheet" href="/static/assets/css/pages/gridstack.css">

{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
{% if current_user.role == 'admin' %}
<section class="pcoded-main-container ">
    {% else %}
    <section class="pcoded-main-container-withoutSidebar ">
        {% endif %}
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>料號：K23BK57-2F0</h3>
                                        <p class="text-muted">最後更新時間：<span id="datetime"></span></p>
                                        <script>
                                            var dt = new Date();
                                            document.getElementById("datetime").innerHTML = dt.toLocaleString();
                                        </script>
                                    </div>

                                    <div class="card-block">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>客戶名稱</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="company name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>料號</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="product name">
                                                        </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>數量</label>
                                                        <input type="text" class="form-control" placeholder="qty">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>預計下單時間</label>
                                                            <input type="text" class="form-control" placeholder="2020/11/20">

                                                        </div>
                                                    </div>
                                                

                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlSelect1">樣品/量產</label>
                                                        <select class="form-control" id="exampleFormControlSelect1">
                                                            <option>樣品</option>
                                                            <option>量產</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                        <label for="exampleFormControlSelect1">一般/急件</label>
                                                        <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>急件</option>
                                                        <option>一般件</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect1">類別</label>
                                                            <select class="form-control" id="exampleFormControlSelect1">
                                                                <option>5G</option>
                                                                <option>航太</option>
                                                                <option>醫療</option>
                                                                <option>紡織</option>
                                                                <option>車用</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                <div class="col-md-3">
                                                    
                                                        <label for="exampleFormControlSelect1">是否HDI</label>
                                                        <select class="form-control" id="exampleFormControlSelect1">
                                                            <option>是</option>
                                                            <option>否</option>
                                                        </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="exampleFormControlSelect1">特殊製程</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>無鹵素</option>
                                                        <option>一般板</option>
                                                        <option>鋁基板</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>成型長邊</label>
                                                            <input type="text" class="form-control" placeholder="length">
                                                        </div>
                                                </div>
                                                
                                                <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>成型短邊</label>
                                                            <input type="text" class="form-control" placeholder="width">
                                                        </div>
                                                </div>
                                                <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>成品板厚</label>
                                                            <input type="text" class="form-control" placeholder="mm">
                                                        </div>
                                                </div>
                                                <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>成品測試方式</label>
                                                            <select class="form-control" id="exampleFormControlSelect1">
                                                                    <option>飛針測試</option>
                                                                    <option>萬用測試</option>
                                                                    <option>固定治具</option>
                                                                </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>正負片</label>
                                                                <select class="form-control" id="exampleFormControlSelect1">
                                                                        <option>正片</option>
                                                                        <option>負片</option>
                                                                        
                                                                    </select>
                                                            </div>
                                                        </div>
                                            </div>
                                        </form>
                                        <button class="btn btn-primary" type="submit" >建立新設計</button>
                                                
                                    

                                    </div>
                                        

                                            
                                            
                                        



                                    


                                </div>
                                <!-- [ Main Content ] end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [ Main Content ] end -->

    {% endblock content %}

    {% block javascripts %}

    <!-- gridstack Js -->
    <script src="/static/assets/plugins/jquery-ui/js/jquery-ui.js"></script>
    <script src="/static/assets/plugins/gridstack/js/lodash.min.js"></script>
    <script src="/static/assets/plugins/gridstack/js/gridstack.min.js"></script>
    <script src="/static/assets/plugins/gridstack/js/gridstack.jQueryUI.min.js"></script>
    <script src="/static/assets/js/pages/ac-gridstack.js"></script>

    {% endblock javascripts %}