{% if NOTIFICATION | length > 0 %}
<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
        class="mdi mdi-alert-circle-outline f-36 {{COLOR}}" data-toggle="tooltip" data-placement="bottom"
        title="訊息"></i></a>
<div class="dropdown-menu dropdown-menu-right notification">
    <div class="noti-head">
        <h6 class="d-inline-block m-b-0">訊息</h6>

    </div>

    <ul class="noti-body">
        <li class="n-title">
            <p class="m-b-0">NEW</p>
        </li>
        {% for eventid in NOTIFICATION %}
        <li class="notification">
            
            <div class="media">
                <img class="img-radius" src="https://appsrv1-147a1.kxcdn.com/dattaable-pro/images/user/avatar-1.jpg"
                    alt="Generic placeholder image">
                
                <div class="media-body">
                    <p>
                        <strong>{{ NOTIFICATION[eventid]["name"]}}</strong><span class="n-time text-muted" style="font-size: 13px"><i
                                class="icon feather icon-clock m-r-10"></i>{{ NOTIFICATION[eventid]["start_time"]}}</span>
                    </p>

                    <p>{{NOTIFICATION[eventid]["event_type"]}}</p>
                    <div class="row float-right">
                        <button type="submit" class="btn btn-sm btn-outline-primary float-right"
                            data-toggle="tooltip">確認</button>
                        <button type="button" class="btn btn-sm btn-outline-success float-right" data-toggle="modal"
                            data-target="#NotificationModal">內容</button>
                    </div>
                </div>
                
            </div>
        </li>
        {% endfor %}

    </ul>
    <div class="noti-footer">
        <a href="#!">show all</a>
    </div>
</div>
{% else %}
<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
        class="mdi mdi-alert-circle-outline f-36 " data-toggle="tooltip" data-placement="bottom"
        title="訊息"></i></a>
<div class="dropdown-menu dropdown-menu-right notification">
    <div class="noti-head">
        <h6 class="d-inline-block m-b-0">無新訊息</h6>

    </div>
</div>
{% endif%}
