{% extends "layouts/base.html" %}

{% block title %} 排程優化 {% endblock %} 

{% block stylesheets %}

    <!-- data tables css -->
    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">


{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <!-- <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Task List</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#!">Task</a></li>
                                        <li class="breadcrumb-item"><a href="#!">Task List</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="alert alert-primary" role="alert">
                                        <p>步驟2：已完成各站點資源工作分配及排程優化，請確認後點選上方  
                                            <a href="/" target="_blank" class="alert-link">[發行]</a> 按鈕將各站點工作排程明細派至現場執行。
                                            <a class="btn btn-secondary float-right" href="job-analysis.html" role="button">回上一步</a>
                                        </p>
                                        <p>或點選 
                                            <a href="job-analysis.html" class="alert-link">[回上一步]</a> 重新進行調整。
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <!-- [ overdue-task section ] start -->
                            <div class="row">

                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="m-0">已排程</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <h2 class="f-w-200 m-0">42
                                                        <span class="text-muted f-16">工單</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row align-items-center">
                                                <div class="col-12 f-12 text-muted">
                                                    <h4 class="f-w-200 m-0">42
                                                        <span class="text-muted f-10">工單</span>
                                                    </h4>
                                                    快速試排
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="m-0">逾時成本指標</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row align-items-center">
                                                <div class="col-6">
                                                    <h2 class="f-w-200 m-0 text-danger">2
                                                        <span class="text-muted f-16">工單</span>
                                                    </h2>
                                                </div>
                                                <div class="col-6">
                                                    <h2 class="f-w-200 m-0 text-danger">28.75
                                                        <span class="text-muted f-16">小時</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row align-items-center">
                                                <div class="col-6 f-12 text-muted">
                                                    <h4 class="f-w-200 m-0 text-danger">2
                                                        <span class="text-muted f-10">工單</span>
                                                    </h4>
                                                    快速試排
                                                </div>
                                                <div class="col-6 f-12 text-muted">
                                                    <h4 class="f-w-200 m-0 text-danger">34.25
                                                        <span class="text-muted f-10">小時</span>
                                                    </h4>
                                                    快速試排
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="m-0">站點規則變換成本指標</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <h2 class="f-w-200 m-0 text-warning">2
                                                        <span class="text-muted f-16">次</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row align-items-center">
                                                <div class="col-12 f-12 text-muted">
                                                    <h4 class="f-w-200 m-0 text-warning">3
                                                        <span class="text-muted f-10">次</span>
                                                    </h4>
                                                    快速試排
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ overdue-task section ] end -->

                            <div class="row">
                                <!-- [ task-list ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>逾時工單列表</h5>
                                        </div>
                                        <div class="card-block task-data">
                                            <div class="table-responsive form-material">
                                                <table id="key-act-button" class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>工單編號</th>
                                                            <th>關聯單號</th>
                                                            <th>工單交期</th>
                                                            <th>預計完成</th>
                                                            <th>逾時時間(小時)</th>
                                                            <th>總等待時間(小時)</th>
                                                            <th>類型</th>
                                                            <!-- <th>狀態</th> -->
                                                            <!-- <th>動作</th>  -->
                                                        </tr>
                                                    </thead>
                                                    <tbody class="task-page">
                                                        <tr>
                                                            <td>
                                                                <a class="btn btn-sm btn-dark" href="/work-order-detail.html" target="_blank">MAA2060491</a>
                                                            </td>
                                                            <td><a class="btn btn-sm btn-dark" href="/order-data.html">OP20100021</a></td>
                                                            <td>2020-09-30 10:00</td>
                                                            <td class="text-danger">2020-10-01 08:30</td>
                                                            <td>22.5</td>
                                                            <td>15.25</td>
                                                            <td class="text-danger">急件</td>
                                                            <!-- <td>
                                                                <span class="badge badge-success f-12">進行中</span>
                                                            </td> -->
                                                            <!-- <td>
                                                                <a class="btn btn-sm btn-outline-secondary" href="#" role="button">專案分析</a>
                                                            </td> -->
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a class="btn btn-sm btn-dark" href="/work-order-detail.html">MAA2060492</a>
                                                            </td>
                                                            <td><a class="btn btn-sm btn-dark" href="/order-data.html">OP17100022</a></td>
                                                            <td>2020-10-03 16:00</td>
                                                            <td class="text-danger">2020-10-04 10:00</td>
                                                            <td>28</td>
                                                            <td>12.5</td>
                                                            <td>一般件</td>
                                                            <!-- <td>
                                                                <span class="badge badge-warning f-12">未排程</span>
                                                            </td> -->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- [ task-list ] end -->
                            </div>

                            <div class="row">
                                <!-- [ task-list ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>各站點工作排程明細</h5>
                                            <!-- <a class="btn btn-lg btn-rounded btn-outline-warning float-right" href="adjusted-schedule.html">調整確認</a> -->
                                        </div>
                                        
                                        <div class="card-block task-data">
                                            <table class="table table-hover">
                                                <h6>製程</h6>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select class="js-example-basic-single form-control">
                                                                <optgroup label="NC">
                                                                    <option value="1">程式</option>
                                                                    <option value="2">NC-1</option>
                                                                    <option value="3">NC-Q</option>
                                                                </optgroup>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="table-responsive form-material">
                                                <table id="key-act-button2" class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-warning">排定資源</th>
                                                            <th class="text-warning">工作順序</th>
                                                            <!-- <th class="text-warning">調整順序</th> -->
                                                            <th>工單</th>
                                                            <!-- <th>製品</th> -->
                                                            <!-- <th>製品流程</th> -->
                                                            <th>工作編號</th>
                                                            <th>預計開始</th>
                                                            <th>預計結束</th>
                                                            <!-- <th>預估工時(小時)</th> -->
                                                            <th>類型</th>
                                                            <th>狀態</th>
                                                            <!-- <th>動作</th> -->
                                                        </tr>
                                                    </thead>
                                                    <tbody class="task-page">
                                                        <tr>
                                                            <td>
                                                                <a class="btn btn-sm btn-dark" href="/resource-detail.html">H001</a>
                                                            </td>
                                                            <td>1</td>
                                                            <!-- <td class="text-warning">2</td> -->
                                                            <td><a class="btn btn-sm btn-dark" href="/work-order-detail.html" target="_blank">MAA2060491</a></td>
                                                            <!-- <td>Product1</td> -->
                                                            <!-- <td>1</td> -->
                                                            <td><a class="btn btn-sm btn-dark" href="/job-detail.html" target="_blank">JID00000001</a></td>
                                                            
                                                            <td>2020-09-26 08:15</td>
                                                            <td>2020-09-26 11:15</td>
                                                            <!-- <td>3</td> -->
                                                            <td class="text-danger">急件</td>
                                                            <td>
                                                                <span class="badge badge-success f-12">進行中</span>
                                                            </td>
                                                            <!-- <td>
                                                                <a class="btn btn-sm btn-outline-secondary" href="#" role="button">調整</a>
                                                            </td> -->
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a class="btn btn-sm btn-dark" href="/resource-detail.html">H001</a>
                                                            </td>
                                                            <td>2</td>
                                                            <!-- <td class="text-warning">1</td> -->
                                                            <td><a class="btn btn-sm btn-dark" href="/work-order-detail.html" target="_blank">MAA2060492</a></td>
                                                            <!-- <td>Product1</td> -->
                                                            <!-- <td>1</td> -->
                                                            <td><a class="btn btn-sm btn-dark" href="/job-detail.html" target="_blank">JID00000002</a></td>
                                                            
                                                            <td>2020-09-26 11:15</td>
                                                            <td>2020-09-26 15:15</td>
                                                            <!-- <td>3</td> -->
                                                            <td class="text-danger">急件</td>
                                                            <td>
                                                                <span class="badge badge-success f-12">進行中</span>
                                                            </td>
                                                            <!-- <td>
                                                                <a class="btn btn-sm btn-outline-secondary" href="#" role="button">調整</a>
                                                            </td> -->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- [ task-list ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- Data tables.js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="/static/assets/js/pages/tbl-datatable-outsourcing.js"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
        }, 600);
    </script>

{% endblock javascripts %}
