<!-- {% extends "layouts/base.html" %} -->

<!-- {% block title %} Orders {% endblock %}  -->

{% block stylesheets %}

    <!-- data tables css -->
    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">


{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <!-- <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Task List</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#!">Task</a></li>
                                        <li class="breadcrumb-item"><a href="#!">Task List</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ task-list ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>訂單管理
                                                <button type="button" class="btn btn-rounded btn-outline-primary float-right">+ 新增訂單</button>
                                                <button type="button" class="btn btn-rounded btn-outline-secondary float-right">管理</button>

                                            </h3>
                                        </div>
                                        <div class="card-block task-data">
                                            <div class="table-responsive form-material">
                                                <table id="simpletable" class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>訂單編號</th>
                                                            <th>工單編號</th>
                                                            <th>訂單交期</th>
                                                            <th>交期預測</th>
                                                            <th>訂單狀態</th>
                                                            <th>物料狀態</th>
                                                            <th>工單狀態</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="task-page">
                                                        <tr>
                                                            <td>
                                                                <a class="btn btn-sm btn-dark" href="/order-data.html">OP17100021</a>
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-sm btn-dark" href="/project-schedule.html">+</a>
                                                                <a class="btn btn-sm btn-dark" href="/project-schedule.html">MAA2060491</a>
                                                            </td>
                                                            <td>2020-09-10 10:00</td>
                                                            <td class="text-danger">2020-09-11 16:30</td>
                                                            <td>
                                                                <span class="badge badge-success f-12">已確認</span>
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-success f-12">READY</span>
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-success f-12">已排程</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a class="btn btn-sm btn-dark" href="/order-data.html">OP17100022</a>
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-sm btn-dark" href="/project-schedule.html">+</a>
                                                            </td>
                                                            <td>2020-09-10 10:00</td>
                                                            <td class="text-warning">N/A</td>
                                                            <td>
                                                                <span class="badge badge-warning f-12">未確認</span>
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-warning f-12">缺料</span>
                                                            </td>
                                                            <td>
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                        
                                    </div>

                                </div>
                                <!-- [ task-list ] end -->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card Active-visitor">
                                        <div class="card-header">
                                            <h3>工單
                                                <button type="button" class="btn btn-rounded btn-outline-info float-right">明細</button>
                                                <button type="button" class="btn btn-rounded btn-outline-secondary float-right">管理</button>
                                            </h3>
                                        </div>
                                        <div class="card-block text-center">
                                            <span class="text-muted f-16">今日目標完成工單: 1 / 2</span>
                                            <div class="progress mt-4 m-b-40">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%; height:7px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="row card-active">
                                                <div class="col-md-4">
                                                    <h4>
                                                        <a href="delay-orders.html"><span class="text-danger">1</span></a>
                                                    </h4>
                                                    <span class="text-muted">逾時工單</span>
                                                </div>
                                                <div class="col-md-4">
                                                    <h4>6</h4>
                                                    <span class="text-muted">進行中工單</span>
                                                </div>
                                                <div class="col-md-4">
                                                    <h4>10</h4>
                                                    <span class="text-muted">已排程工單</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card Active-visitor">
                                        <div class="card-header">
                                            <h3>工作
                                                <button type="button" class="btn btn-rounded btn-outline-info float-right">明細</button>
                                                <button type="button" class="btn btn-rounded btn-outline-secondary float-right">管理</button>
                                            </h3>
                                        </div>
                                        <div class="card-block text-center">
                                            <span class="text-muted f-16">今日目標完成工作: 25 / 30</span>
                                            <div class="progress mt-4 m-b-40">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 83%; height:7px;" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="row card-active">
                                                <!-- <div class="col-md-3">
                                                    <h4>
                                                        <a href="job-list.html"><span class="text-warning">1</span></a>
                                                    </h4>
                                                    <span class="text-muted">延遲</span>
                                                </div> -->
                                                <div class="col-md-6">
                                                    <h4>
                                                        <a href="tbl-material-shortage.html"><span class="text-danger">3</span></a>
                                                    </h4>
                                                    <span class="text-muted">異常</span>
                                                </div>
                                                <div class="col-md-6">
                                                    <h4>
                                                        <a href="bottleneck-analytics.html"><span>3</span></a>
                                                    </h4>
                                                    <span class="text-muted">瓶頸</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card Active-visitor">
                                        <div class="card-header">
                                            <h3>物料
                                                <button type="button" class="btn btn-rounded btn-outline-info float-right">明細</button>
                                                <button type="button" class="btn btn-rounded btn-outline-secondary float-right">管理</button>
                                            </h3>
                                        </div>
                                        <div class="card-block text-center">
                                            <span class="text-muted f-16">今日預計到料: 1 / 1</span>
                                            <div class="progress mt-4 m-b-40">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 100%; height:7px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="row card-active">
                                                <div class="col-md-6">
                                                    <h4>
                                                        <span>0</span>
                                                    </h4>
                                                    <span class="text-muted">延遲</span>
                                                </div>
                                                <div class="col-md-6">
                                                    <h4>
                                                        <a href="material-analytics.html"><span>3</span></a>
                                                    </h4>
                                                    
                                                    <span class="text-muted">進行中</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card Active-visitor">
                                        <div class="card-header">
                                            <h3>外包
                                                <button type="button" class="btn btn-rounded btn-outline-info float-right">明細</button>
                                                <button type="button" class="btn btn-rounded btn-outline-secondary float-right">管理</button>                                            </h3>
                                        </div>
                                        <div class="card-block text-center">
                                            <span class="text-muted f-16">今日預計回廠: 1 / 2</span>
                                            <div class="progress mt-4 m-b-40">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%; height:7px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="row card-active">
                                                <div class="col-md-6">
                                                    <h4>
                                                        <a href="delay-orders.html"><span class="text-danger">1</span></a>
                                                    </h4>
                                                    <span class="text-muted">延遲</span>
                                                </div>
                                                <div class="col-md-6">
                                                    <h4>
                                                        <a href="tbl_datatable_outsourcing.html".html"><span>2</span></a>
                                                    </h4>
                                                    <span class="text-muted">已排程</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- Data tables.js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
        }, 600);
    </script>

{% endblock javascripts %}
