{% extends "layouts/base.html" %}

{% block title %} Data Table {% endblock %} 

{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                
                                <!-- [ task-detail ] start -->
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>OP17100022</h3>
                                        </div>
                                        <div class="card-block task-details">
                                            <table class="table table-hover">
                                                <tbody>
                                                    <thead>
                                                        <tr>
                                                            <th>訂單資訊</th>
                                                            <th>內容</th>
                                                            <th>資料來源</th>
                                                        </tr>
                                                    </thead>
                                                    <tr>
                                                        <td>訂單編號</td>
                                                        <td>OP17100022</td>
                                                        <td>ERP</td>
                                                    </tr>
                                                    <tr>
                                                        <td>訂單狀態</td>
                                                        <td>
                                                            <span class="badge badge-success f-12">已確認</span>
                                                            <span class="badge badge-info f-12">試排</span>
                                                            <span class="badge badge-warning f-12">建立中</span>
                                                            <span class="badge badge-primary f-12">生產中</span>
                                                            <span class="badge badge-light f-12">已完成</span>
                                                            <span class="badge badge-secondary f-12">取消</span>
                                                        </td>
                                                        <td>ERP</td>
                                                    </tr>
                                                    <tr>
                                                        <td>訂單類型</td>
                                                        <td>急件</td>
                                                        <td>ERP</td>
                                                    </tr>
                                                    <tr>
                                                        <td>客戶代碼</td>
                                                        <td>C001</td>
                                                        <td>ERP</td>
                                                    </tr>
                                                    <tr>
                                                        <td>料號</td>
                                                        <td>PL1-247</td>
                                                        <td>ERP</td>
                                                    </tr>
                                                    <tr>
                                                        <td>數量</td>
                                                        <td>20</td>
                                                        <td>ERP</td>
                                                    </tr>
                                                    <tr>
                                                        <td>下單時間</td>
                                                        <td>2020-09-02 17:30</td>
                                                        <td>ERP</td>
                                                    </tr>
                                                    <tr>
                                                        <td>訂單交期</td>
                                                        <td>2020-09-10 10:00</td>
                                                        <td>ERP</td>
                                                    </tr>
                                                    <!-- <tr>
                                                        <td>ML參數</td>
                                                        <td>{
                                                                "kcO3GkxzCpn2XW0PCATLyA==": "3EnYyngcO99+2EspDAdjsw==", ...
                                                            }
                                                        </td>
                                                        <td>SARA GATEWAY</td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}
