{% extends "layouts/base.html" %}

{% block title %} Order Analytics {% endblock %} 

{% block stylesheets %}

    <!-- data tables css -->
    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">


{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <!-- <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Task List</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#!">Task</a></li>
                                        <li class="breadcrumb-item"><a href="#!">Task List</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ task-list ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>工單履歷查詢</h5>
                                        </div>
                                        <div class="card-block ">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control add_task_todo" placeholder="可以用工單編號,製品名稱,或關連單號來查詢" required="">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary btn-icon btn-msg-send" type="button"><i class="fas fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ task-list ] end -->

                                <!-- [ Amchart 4 chart ] start -->
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>工時分析</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-12 mb-5">
                                                    <div id="am-xy-1" style="height: 400px"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- [ Amchart 4 chart ] End -->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- Data tables.js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
        }, 600);
    </script>

    <!-- am chart js -->
    <script src="/static/assets/plugins/chart-am4/js/core.js"></script>
    <script src="/static/assets/plugins/chart-am4/js/charts.js"></script>
    <script src="/static/assets/plugins/chart-am4/js/animated.js"></script>
    <script src="/static/assets/plugins/chart-am4/js/maps.js"></script>
    <script src="/static/assets/plugins/chart-am4/js/worldLow.js"></script>

    <!-- am-chart custom js -->
    <!-- <script src="/static/assets/js/pages/chart-am-custom.js"></script> -->

    <script>
                // [ XY-Stacked-1 chart ] start
                $(function() {
            am4core.useTheme(am4themes_animated);

            var chart = am4core.create("am-xy-1", am4charts.XYChart);
            chart.data = [{
                "country": "製程1",
                "實際工時": 501.9,
                "等待時間": 250,
                "異常停滯時間": 199
            }, {
                "country": "製程2",
                "實際工時": 301.9,
                "等待時間": 222,
                "異常停滯時間": 251
            }, {
                "country": "製程3",
                "實際工時": 201.1,
                "等待時間": 170,
                "異常停滯時間": 199
            }, {
                "country": "製程4",
                "實際工時": 165.8,
                "等待時間": 122,
                "異常停滯時間": 90
            }, {
                "country": "製程5",
                "實際工時": 139.9,
                "等待時間": 99,
                "異常停滯時間": 252
            }, {
                "country": "製程6",
                "實際工時": 128.3,
                "等待時間": 85,
                "異常停滯時間": 84
            }, {
                "country": "製程7",
                "實際工時": 99,
                "等待時間": 93,
                "異常停滯時間": 142
            }, {
                "country": "製程8",
                "實際工時": 60,
                "等待時間": 50,
                "異常停滯時間": 55
            }, {
                "country": "製程9",
                "實際工時": 50,
                "等待時間": 42,
                "異常停滯時間": 25
            }];

            var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "country";
            categoryAxis.title.text = "Local country offices";
            categoryAxis.renderer.grid.template.location = 0;
            categoryAxis.renderer.minGridDistance = 20;

            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.title.text = "Expenditure (M)";

            var series = chart.series.push(new am4charts.ColumnSeries());
            series.dataFields.valueY = "實際工時";
            series.dataFields.categoryX = "country";
            series.name = "實際工時";
            series.tooltipText = "{name}: [bold]{valueY}[/]";
            series.stacked = true;

            var series2 = chart.series.push(new am4charts.ColumnSeries());
            series2.dataFields.valueY = "等待時間";
            series2.dataFields.categoryX = "country";
            series2.name = "等待時間";
            series2.tooltipText = "{name}: [bold]{valueY}[/]";
            series2.stacked = true;

            var series3 = chart.series.push(new am4charts.ColumnSeries());
            series3.dataFields.valueY = "異常停滯時間";
            series3.dataFields.categoryX = "country";
            series3.name = "異常停滯時間";
            series3.tooltipText = "{name}: [bold]{valueY}[/]";

            chart.cursor = new am4charts.XYCursor();
        });
        // [ XY-Stacked-1 chart ] end
    </script>

{% endblock javascripts %}
