{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}


<link rel="stylesheet" href="/static/assets/plugins/gantt-pro/build/gantt.classic-dark.css">

{% endblock stylesheets %}

{% block content %}


<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card Active-visitor">
                                <div class="card-header">
                                    <h3>績效報表
                                    </h3>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>
                                                <!-- <a href="performance-report-loading.html"><button type="button" class="btn btn-rounded btn-outline-primary float-right" data-toggle="modal" data-target="#alertModal">明細報表</button></a> -->
                                                {% if TABLE is defined %}
                                                <form action="/export_resource_performance_csv/{{OPTION}}"
                                                    method="POST">
                                                    <input type="hidden" name="data" value="{{ TABLE }}" />
                                                    <button type="submit"
                                                        class="btn btn-rounded btn-outline-success float-right">匯出Excel</button>

                                                    </a>
                                                </form>
                                                {% else %}
                                                <a href="#"><button type="button"
                                                        class="btn btn-rounded btn-outline-success float-right">匯出Excel</button></a>
                                                {% endif %}
                                                <button class="btn btn-lg btn-secondary float-left" type="button"
                                                    data-toggle="collapse" data-target="#collapseExample1"
                                                    aria-expanded="true" aria-controls="collapseExample"> 資源負荷 <i
                                                        class="mdi mdi-unfold-more-horizontal f-22"></i></button>
                                            </h3>
                                        </div>
                                        <div class="collapse show" id="collapseExample1">
                                            <div class="card-block">
                                                <div class="row">
                                                    <!-- <div class="col-xl-6">
                                                            <table class="table table-hover">
                                                                <h5 class="text-center">站點查詢</h5>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <select class="js-example-basic-single form-control">
                                                                                <optgroup label="站點">
                                                                                    <option value="1">所有站點</option>
                                                                                    <option value="2">黃光</option>
                                                                                    <option value="3">電鍍</option>
                                                                                </optgroup>
                                                                            </select>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div> -->
                                                    <div class="col-xl-12">
                                                        <table class="table table-hover">
                                                            <h5 class="text-center">日期查詢</h5>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <form method="POST">
                                                                            <select
                                                                                class="js-example-basic-single form-control"
                                                                                onchange='this.form.submit()'
                                                                                name="day_option" required>
                                                                                <option hidden disabled selected
                                                                                    value="{{OPTION}}">
                                                                                    未來{{OPTION}}天
                                                                                </option>

                                                                                <optgroup label="日期">
                                                                                    <!-- <option value="other">自訂日期區間 -->
                                                                                    </option>
                                                                                    <option value="1">未來24小時</option>
                                                                                    <option value="7">未來一週</option>
                                                                                    <option value="30">未來一個月</option>

                                                                                </optgroup>
                                                                            </select>
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-block">
                                                <div class="row">
                                                    <div class="col-12 mb-5">

                                                        <hr>


                                                        {% if PERFORMANCE_TABLE is defined %}
                                                        <meta id="performance-table"
                                                            data-name=" {{ PERFORMANCE_TABLE}}">
                                                        <script src="/static/assets/js/vendor-all.min.js"></script>
                                                        <script>

                                                            console.log("enter");


                                                            var performanceTable = $('#performance-table').data("name").replaceAll("'", '"')
                                                            console.log(performanceTable)
                                                            performanceTable = JSON.parse(performanceTable)

                                                        </script>

                                                        {% endif %}
                                                        <div id="resource-loading" class="lineAreaDashboard"
                                                            style="height:300px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if PERFORMANCE_TABLE is defined %}
                                            <div class="card-block">
                                                <hr>

                                                <div class="table-responsive">
                                                    
                                                    <table id="simpletable"
                                                        class="table task-list-table table-striped table-bordered nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th>名稱</th>
                                                                <th>類型</th>
                                                                <th>工作日期</th>
                                                                <th>負荷率</th>
                                                                <th>工作技能</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="task-page">
                                                            {% for count in TABLE %}
                                                            <tr>
                                                                <td>
                                                                    <a class="btn btn-sm btn-dark"
                                                                        href="/order-data.html">{{TABLE[count]["Resource Name"]}}</a>
                                                                </td>
                                                                <td>
                                                                    {{TABLE[count]["Resource Type"]}}
                                                                </td>
                                                                <td>{{TABLE[count]["Time"]}}</td>
                                                                <td>
                                                                    <span
                                                                        class="badge badge-warning f-12">{{TABLE[count]["Loading"]}}</span>
                                                                </td>
                                                                <td>
                                                                    {% for job in TABLE[count]["Resource Jobs"] %}
                                                                    <span
                                                                        class="badge badge-info font-weight-light f-12">{{job}}</span>
                                                                    {% endfor %}
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>
                                                <!-- <button type="button" class="btn btn-rounded btn-outline-primary float-right" data-toggle="modal" data-target="#alertModal">明細報表</button> -->
                                                {% if TABLE2 is defined %}
                                                <form action="/export_job_performance_csv/{{OPTION2}}" method="POST">
                                                    <input type="hidden" name="data" value="{{ TABLE2 }}" />
                                                    <button type="submit"
                                                        class="btn btn-rounded btn-outline-success float-right">匯出Excel</button>

                                                    </a>
                                                </form>
                                                {% else %}
                                                <a href="#"><button type="button"
                                                        class="btn btn-rounded btn-outline-success float-right">匯出Excel</button></a>
                                                {% endif %}
                                                <button class="btn btn-lg btn-secondary float-left" type="button"
                                                    data-toggle="collapse" data-target="#collapseExample2"
                                                    aria-expanded="false" aria-controls="collapseExample"> 執行落差 <i
                                                        class="mdi mdi-unfold-more-horizontal f-22"></i></button>
                                            </h3>
                                        </div>
                                        <div class="collapse show" id="collapseExample2">
                                            <div class="card-block">
                                                <div class="row">
                                                    <!-- <div class="col-xl-6">
                                                            <table class="table table-hover">
                                                                <h5 class="text-center">站點查詢</h5>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <select class="js-example-basic-single form-control">
                                                                                <optgroup label="站點">
                                                                                    <option value="1">所有站點</option>
                                                                                    <option value="2">黃光</option>
                                                                                    <option value="3">電鍍</option>
                                                                                </optgroup>
                                                                            </select>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div> -->
                                                    <div class="col-xl-12">
                                                        <table class="table table-hover">
                                                            <h5 class="text-center">日期查詢</h5>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <form method="POST">
                                                                            <select
                                                                                class="js-example-basic-single form-control"
                                                                                onchange='this.form.submit()'
                                                                                name="job_option" required>
                                                                                <option hidden disabled selected
                                                                                    value="{{OPTION}}">
                                                                                    過去{{OPTION2}}天
                                                                                </option>
                                                                                <optgroup label="日期">
                                                                                    <option value="1">過去24小時</option>
                                                                                    <option value="7">過去一週</option>
                                                                                    <option value="30">過去一個月</option>

                                                                                </optgroup>
                                                                            </select>
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-block" id="job_performance">
                                                <div class="col-12 mb-5">
                                                    <!-- <h6>件數</h6> -->
                                                    <hr>
                                                    {% if PERFORMANCE_TABLE_2 is defined %}

                                                    <meta id="performance-table2" data-name=" {{ PERFORMANCE_TABLE_2}}">
                                                    <script src="/static/assets/js/vendor-all.min.js"></script>
                                                    <script>

                                                        console.log("enter");


                                                        var performanceTable2 = $('#performance-table2').data("name").replaceAll("'", '"')
                                                        console.log(performanceTable2)
                                                        performanceTable2 = JSON.parse(performanceTable2)

                                                    </script>

                                                    {% endif %}
                                                    <div id="line-stock" class="lineAreaDashboard"
                                                        style="height:300px;"></div>

                                                </div>
                                            </div>
                                            {% if TABLE2 is defined %}
                                            
                                            <div class="card-block task-data">
                                                <div class="table-responsive form-material">
                                                    
                                                    <table id="simpletable"
                                                        class="table task-list-table table-striped table-bordered nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th>工單</th>
                                                                <th>料號</th>
                                                                <th>製程名稱</th>
                                                                <th>流程</th>
                                                                <th>資源</th>
                                                                <th>異常類型</th>
                                                                

                                                                <th>異常原因</th>
                                                                <th>異常發生時間</th>

                                                                
                                                                <th>預計開始時間</th>
                                                                <th>預計結束時間</th>
                                                                <th>實際開始時間</th>
                                                                <th>實際結束時間</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="task-page">
                                                            {% for key in TABLE2 %}
                                                            
                                                            <tr>
                                                                <td>
                                                                    <a class="btn btn-sm btn-outline-secondary" href="#">{{
                                                                        TABLE2[key]["project_name"]
                                                                        }}</a>
                                                                </td>
                                                                <td><a class="btn btn-sm btn-dark"
                                                                    href="/product_detail/{{ TABLE2[key]['product_id']}}">
                                                                    {{ TABLE2[key]["product_name"] }}</a>
                                                                </td>
                                                                <td><a class="btn btn-sm btn-dark" href="/job_detail/{{TABLE2[key]['jid']}}">
                                                                    {{ TABLE2[key]["job_name"] }}</a></td>
                                                                <td>{{ TABLE2[key]["job_sequence"] }}</td>
                                                                <td>
                                                                    {% for rid in  TABLE2[key]["resource"] %}
                                                                    <a class="btn btn-sm btn-dark" href="/resource_schedule?rid={{rid}}">{{ TABLE2[key]["resource"][rid]}}</a></td>
                                                                    {% endfor %}
                                                                <td>{{ TABLE2[key]["abnormal"] }}</td>
                                                                {% if 'event_type' in TABLE2[key] %}
                                                                <td>{{ TABLE2[key]["event_type"] }}</td>
                                                                <td>{{ TABLE2[key]["event_start_time"] }}</td>
                                                                {% else %}
                                                                <td></td>
                                                                <td></td>
                                                                {% endif%}
                                                                
                                                                <td>
                                                                    {{ TABLE2[key]["plan_start_time"] }}
                                                                </td>
                                                                <td>
                                                                    {{ TABLE2[key]["plan_end_time"] }}
                                                                </td>
                                                                <td>
                                                                    {{ TABLE2[key]["real_start_time"] }}
                                                                </td>
                                                                <td>
                                                                    {{ TABLE2[key]["real_end_time"] }}
                                                                </td>
                                                                
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- amchart js -->
<script src="/static/assets/plugins/amchart/js/amcharts.js"></script>
<script src="/static/assets/plugins/amchart/js/gauge.js"></script>
<script src="/static/assets/plugins/amchart/js/serial.js"></script>
<script src="/static/assets/plugins/amchart/js/light.js"></script>
<script src="/static/assets/plugins/amchart/js/pie.min.js"></script>
<script src="/static/assets/plugins/amchart/js/ammap.min.js"></script>
<script src="/static/assets/plugins/amchart/js/usaLow.js"></script>
<script src="/static/assets/plugins/amchart/js/radar.js"></script>
<script src="/static/assets/plugins/amchart/js/worldLow.js"></script>

<!-- am-chart custom js -->
<script src="/static/assets/js/pages/chart-am-custom.js"></script>

<!-- chart js -->
<script src="/static/assets/js/pages/chart-order-slack.js"></script>

<!-- Chart code -->
<script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

<script type="text/javascript">
    setTimeout(function () {
        $('#simpletable').DataTable({
            "pageLength": 100,
            "order": [2,'asc']
        });
    }, 200);
</script>

<script>

    // [ Line with Area Chart 2 ] start
    var chart = AmCharts.makeChart("line-stock", {
        "type": "serial",
        "theme": "light",
        "marginTop": 10,
        "marginRight": 0,
        "dataProvider": [],
        "graphs": [{
            "id": "g1",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value1]]</span></b>",
            "bullet": "round",
            "lineColor": "#10adf5",
            "lineThickness": 2,
            "negativeLineColor": "#10adf5",
            "valueField": "value1",
            "title": "該開始未開始",
        }, {
            "id": "g2",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value2]]</span></b>",
            "bullet": "round",
            "lineColor": "#1de9b6",
            "lineThickness": 2,
            "negativeLineColor": "#1de9b6",
            "valueField": "value2",
            "title": "工時異常",
        }, {
            "id": "g3",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value3]]</span></b>",
            "bullet": "round",
            "lineColor": "#fdda08",
            "lineThickness": 2,
            "negativeLineColor": "#fdda08",
            "valueField": "value3",
            "title": "未按次序",
        }, {
            "id": "g4",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value4]]</span></b>",
            "bullet": "round",
            "lineColor": "#ff0000",
            "lineThickness": 2,
            "negativeLineColor": "#ff0000",
            "valueField": "value4",
            "title": "異常回報",
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true,
            "valueLineAlpha": 0.3,
            "fullWidth": true
        },
        "categoryField": "day",
        "categoryAxis": {
            "minorGridAlpha": 0,
            "minorGridEnabled": true,
            "gridAlpha": 0,
            "axisAlpha": 0,
            "lineAlpha": 0
        },
        "legend": {
            "useGraphSettings": true,
            "position": "top",
            "labelText": "[[title]]",
            "fontSize": 14,
            "horizontalGap": 20
        },
    });
    if (typeof performanceTable2 !== 'undefined') {

        console.log(performanceTable2);
        chart["dataProvider"] = performanceTable2;
    }

    // [ Line with Area Chart 2 ] end

    // [ Line with Area Chart 1] start

    var resource_chart = AmCharts.makeChart("resource-loading", {
        "type": "serial",
        "theme": "light",
        "marginTop": 10,
        "marginRight": 0,
        "dataProvider": [],
        "graphs": [{
            "id": "g1",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value1]]</span></b>",
            "bullet": "round",
            "lineColor": "#10adf5",
            "lineThickness": 2,
            "negativeLineColor": "#10adf5",
            "valueField": "value1",
            "title": "有效資源數",
        }, {
            "id": "g2",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value2]]</span></b>",
            "bullet": "round",
            "lineColor": "#1de9b6",
            "lineThickness": 2,
            "negativeLineColor": "#1de9b6",
            "valueField": "value2",
            "title": "負荷40%-80%",
        }, {
            "id": "g3",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value4]]</span></b>",
            "bullet": "round",
            "lineColor": "#fdda08",
            "lineThickness": 2,
            "negativeLineColor": "#fdda08",
            "valueField": "value4",
            "title": "負荷<=40%",
        }, {
            "id": "g4",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value3]]</span></b>",
            "bullet": "round",
            "lineColor": "#ff0000",
            "lineThickness": 2,
            "negativeLineColor": "#ff0000",
            "valueField": "value3",
            "title": "負荷>=80%",
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true,
            "valueLineAlpha": 0.3,
            "fullWidth": true
        },
        "categoryField": "day",
        "categoryAxis": {
            "minorGridAlpha": 0,
            "minorGridEnabled": true,
            "gridAlpha": 0,
            "axisAlpha": 0,
            "lineAlpha": 0
        },
        "legend": {
            "useGraphSettings": true,
            "position": "top",
            "labelText": "[[title]]",
            "fontSize": 14,
            "horizontalGap": 20
        },
    });
    if (typeof performanceTable !== 'undefined') {

        console.log(performanceTable);
        resource_chart["dataProvider"] = performanceTable;
    }
    //resource_chart.validateData();


    // [ Line with Area Chart 1 ] end
    console.log("finish draw chart")
</script>

{% endblock javascripts %}