{% extends "layouts/base.html" %}

{% block title %} Analytics {% endblock %} 

{% block stylesheets %}

<!-- Specific CSS goes HERE -->
<style>
    #chartdiv {
      width: 100%;
      height: 450px;
    }
</style>
<!-- data tables css -->
<link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ Amchart ] start -->
                                <!-- <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>產能負荷分析</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="p-2 text-center"> 
                                                <a class="btn btn-round bg-white text-uppercase mx-3 px-4 f-w-400">Daily</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">Weekly</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">Monthly</a>
                                            </div>    
                                            <div class="row"> 
                                                <div class="col-md-12 mb-5">
                                                    <h6>產能負荷 (%)</h6>
                                                    <hr>
                                                    <div id="line-area2-1" class="lineAreaDashboard" style="height:300px;"></div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div> -->
                                <!-- [ Amchart ] End -->
                                
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>產能負荷預測</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="p-2 text-center"> 
                                                <a class="btn btn-round bg-white text-uppercase mx-3 px-4 f-w-400">Daily</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">Weekly</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">Monthly</a>
                                            </div> 
                                            
                                            <div id="chartdiv"></div>
                                        </div>

                                    </div>

                                </div>
                                    
                                                                <!-- [ Amchart ] start -->
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>瓶頸區 <span class="badge badge-primary f-12">已排程</span></h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="p-2 text-center"> 
                                                <a class="btn btn-round bg-white text-uppercase mx-3 px-4 f-w-400">7天</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">14天</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">30天</a>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 mb-5">
                                                    <h6>最大等待時間 (小時)</h6>
                                                    <hr>
                                                    <div id="line-waiting" class="lineAreaDashboard" style="height:300px;"></div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div>
                                <!-- [ Amchart ] End -->
                                <!-- <div class="col-12">
                                    <div class="card User-Activity">
                                        <div class="card-header">
                                            <h5>瓶頸列表 <span class="badge badge-primary f-12">已排程</span></h5>
                                        </div>
                                        <div class="card-block pb-0">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>製程名稱</th>
                                                            <th>日期</th> 
                                                            <th>最大等待時間(小時)</th>
                                                            <th>可用資源</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">A組</h6>
                                                            </td>
                                                            <td>2020/09/04</td>
                                                            <td>
                                                                <h6 class="m-0">4.5</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">
                                                                    <span class="badge badge-dark f-12">H010</span>
                                                                    <span class="badge badge-dark f-12">H011</span>
                                                                    <span class="badge badge-dark f-12">H012</span>
                                                                </h6>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">A組</h6>
                                                            </td>
                                                            <td>2020/09/05</td>
                                                            <td>
                                                                <h6 class="m-0">4.8</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">
                                                                    <span class="badge badge-dark f-12">H001</span>
                                                                    <span class="badge badge-dark f-12">H002</span>
                                                                    <span class="badge badge-dark f-12">H003</span>
                                                                </h6>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <hr>

                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}



    <!-- amchart js -->
    <script src="/static/assets/plugins/amchart/js/amcharts.js"></script>
    <script src="/static/assets/plugins/amchart/js/gauge.js"></script>
    <script src="/static/assets/plugins/amchart/js/serial.js"></script>
    <script src="/static/assets/plugins/amchart/js/light.js"></script>
    <script src="/static/assets/plugins/amchart/js/pie.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/ammap.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/usaLow.js"></script>
    <script src="/static/assets/plugins/amchart/js/radar.js"></script>
    <script src="/static/assets/plugins/amchart/js/worldLow.js"></script>

    <!-- am-chart custom js -->
    <script src="/static/assets/js/pages/chart-am-custom.js"></script>

    <!-- chart js -->
    <script src="/static/assets/js/pages/chart.js"></script>

    <!-- datatable Js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="/static/assets/js/pages/tbl-datatable-outsourcing.js"></script>

<!-- Chart code -->
<script>
    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "black",
        "legend": {
            "position": "top",
            "equalWidths": false,
            "useGraphSettings": true,
            "valueAlign": "left",
            "valueWidth": 120
        },
        "dataProvider": [{
            "date": "2020-09-01",
            "predictLoading": 78,
            "townName2": "Today",
            "townSize": 25,
            "bookedLoading": 72,
            "duration": 180
        }, {
            "date": "2020-09-02",
            "predictLoading": 80,
            "townSize": 14,
            "bookedLoading": 75,
            "duration": 182
        }, {
            "date": "2020-09-03",
            "predictLoading": 83,
            "townSize": 6,
            "bookedLoading": 74,
            "duration": 262
        }, {
            "date": "2020-09-04",
            "predictLoading": 85,
            "townSize": 7,
            "bookedLoading": 75,
            "duration": 379
        }, {
            "date": "2020-09-05",
            "predictLoading": 88,
            "townSize": 10,
            "bookedLoading": 78,
            "duration": 480
        }, {
            "date": "2020-09-06",
            "predictLoading": 86,
            "townSize": 7,
            "bookedLoading": 80,
            "duration": 543
        }, {
            "date": "2020-09-07",
            "predictLoading": 88,
            "townSize": 10,
            "bookedLoading": 78,
            "duration": 455
        }, {
            "date": "2020-09-08",
            "predictLoading": 85,
            "townSize": 16,
            "bookedLoading": 76,
            "duration": 309
        }, {
            "date": "2020-09-09",
            "predictLoading": 84,
            "townSize": 17,
            "bookedLoading": 75,
            "duration": 277
        }, {
            "date": "2020-09-10",
            "predictLoading": 83,
            "townSize": 11,
            "bookedLoading": 70,
            "duration": 185
        }],
        "valueAxes": [{
            "id": "LoadingAxis",
            "axisAlpha": 0,
            "gridAlpha": 0,
            "position": "left",
            "title": "產能負荷"
        }, {
            "id": "durationAxis",
            "duration": "mm",
            "durationUnits": {
                "hh": "h ",
                "mm": "min"
            },
            "axisAlpha": 0,
            "gridAlpha": 0,
            "inside": false,
            "position": "right",
            "title": "等待時間"
        }],
        "graphs": [{
            "balloonText": "已排程負荷:[[value]]",
            "bullet": "round",
            "bulletBorderAlpha": 1,
            "useLineColorForBulletBorder": true,
            "lineColor": "#10adf5",
            "bulletColor": "#10adf5",
            // "bulletSizeField": "townSize",
            "dashLengthField": "dashLength",
            // "descriptionField": "townName",
            "legendValueText": "[[value]]%",
            "legendPeriodValueText": "%",
            "title": "已排程負荷",
            "fillAlphas": 0,
            "valueField": "bookedLoading",
            "valueAxis": "LoadingAxis"
        }, {
            "alphaField": "alpha",
            "bullet": "square",
            "balloonText": "負荷預測:[[value]]%",
            "lineColor": "#1de9b6",
            "dashLengthField": "dashLength",
            "labelPosition": "top",
            "labelText": "[[townName2]]",
            "fillAlphas": 0,
            "legendPeriodValueText": "%",
            "legendValueText": "[[value]]%",
            "title": "負荷預測",
            "valueField": "predictLoading",
            "valueAxis": "LoadingAxis"
        }, {
            "bulletBorderAlpha": 1,
            "bulletBorderThickness": 1,
            "dashLengthField": "dashLength",
            "legendValueText": "[[value]]",
            "title": "[瓶頸區] 等待時間預測",
            "type": "column",
            "fillAlphas": 0.7,
            "lineColor": "#FF6600",
            "fillColors": "#FF6600",
            "valueField": "duration",
            "valueAxis": "durationAxis"
        }],
        "chartCursor": {
            "categoryBalloonDateFormat": "YYYY-MM-DD",
            "cursorAlpha": 0.1,
            "cursorColor":"#000000",
             "fullWidth":true,
            "valueBalloonsEnabled": false,
            "zoomable": false
        },
        "dataDateFormat": "YYYY-MM-DD",
        "categoryField": "date",
        "categoryAxis": {
            "dateFormats": [{
                "period": "DD",
                "format": "DD"
            }, {
                "period": "WW",
                "format": "MMM DD"
            }, {
                "period": "MM",
                "format": "MMM"
            }, {
                "period": "YYYY",
                "format": "YYYY"
            }],
            "parseDates": true,
            "autoGridCount": false,
            "axisColor": "#555555",
            "gridAlpha": 0.1,
            "gridColor": "#FFFFFF",
            "gridCount": 50
        },
        "export": {
            "enabled": true
         }
    });
</script>

<!-- Chart code -->
<script>
    // [ Line with Area Chart 2 ] start
    var chart = AmCharts.makeChart("line-slack", {
        "type": "serial",
        "theme": "light",
        "marginTop": 10,
        "marginRight": 0,
        "dataProvider": [{
            "year": "09/01",
            "value": 9.5,
        }, {
            "year": "09/02",
            "value": 8.9,
        }, {
            "year": "09/03",
            "value": 7,
        }, {
            "year": "09/04",
            "value": 2.5,
        }, {
            "year": "09/05",
            "value": 0,
        }, {
            "year": "09/06",
            "value": 0,
        }, {
            "year": "09/07",
            "value": 0,
        }],
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left"
        }],
        "graphs": [{
            "id": "g1",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#10adf5",
            "lineThickness": 2,
            "negativeLineColor": "#10adf5",
            "valueField": "value",
            "title": "MAA2060491",
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true,
            "valueLineAlpha": 0.3,
            "fullWidth": true
        },
        "categoryField": "year",
        "categoryAxis": {
            "minorGridAlpha": 0,
            "minorGridEnabled": true,
            "gridAlpha": 0,
            "axisAlpha": 0,
            "lineAlpha": 0
        },
        "legend": {
            "useGraphSettings": true,
            "position": "top",
            "labelText": "[[title]]",
            "fontSize": 14,
            "horizontalGap": 20
        },
    });
    // [ Line with Area Chart 2 ] end

    // [ Line with Area Chart 2 ] start
    var chart = AmCharts.makeChart("line-waiting", {
        "type": "serial",
        "theme": "light",
        "marginTop": 10,
        "marginRight": 0,
        "dataProvider": [{
            "year": "09/01",
            "value": 5,
            "value2": 12,
            "value3": 10,
        }, {
            "year": "09/02",
            "value": 30,
            "value2": 65,
            "value3": 45,
        }, {
            "year": "09/03",
            "value": 25,
            "value2": 77,
            "value3": 48,
        }, {
            "year": "09/04",
            "value": 55,
            "value2": 285,
            "value3": 89,
        }, {
            "year": "09/05",
            "value": 45,
            "value2": 290,
            "value3": 88,
        }, {
            "year": "09/06",
            "value": 65,
            "value2": 87,
            "value3": 82,
        }, {
            "year": "09/07",
            "value": 60,
            "value2": 90,
            "value3": 75,
        }],
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left"
        }],
        "graphs": [{
            "id": "g1",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#10adf5",
            "lineThickness": 2,
            "negativeLineColor": "#10adf5",
            "valueField": "value",
            "title": "前段",
        }, {
            "id": "g2",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#1de9b6",
            "lineThickness": 2,
            "negativeLineColor": "#1de9b6",
            "valueField": "value2",
            "title": "成組",
        }, {
            "id": "g3",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#fdda08",
            "lineThickness": 2,
            "negativeLineColor": "#fdda08",
            "valueField": "value3",
            "title": "配線",
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true,
            "valueLineAlpha": 0.3,
            "fullWidth": true
        },
        "categoryField": "year",
        "categoryAxis": {
            "minorGridAlpha": 0,
            "minorGridEnabled": true,
            "gridAlpha": 0,
            "axisAlpha": 0,
            "lineAlpha": 0
        },
        "legend": {
            "useGraphSettings": true,
            "position": "top",
            "labelText": "[[title]]",
            "fontSize": 14,
            "horizontalGap": 20
        },
    });
    // [ Line with Area Chart 2 ] end

</script>

{% endblock javascripts %}
