{% extends "layouts/base.html" %}

{% block title %} Processes {% endblock %} 

{% block stylesheets %}

    <!-- data tables css -->
    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">


{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ task-list ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>製程列表
                                                <button type="button"
                                                        class="btn btn-lg btn-rounded btn-outline-success float-right"
                                                        data-toggle="modal"
                                                        data-target="#addTest">
                                                    新增製程
                                                </button>
                                                <!-- <button type="button" class="btn btn-rounded btn-outline-success float-right">匯出Excel</button>
                                                <a href="/create-process.html"><button type="button" class="btn btn-rounded btn-outline-primary float-right">新增</button></a> -->
                                            </h3>
                                        </div>
                                        <div class="card-block task-data">
                                            <div class="table-responsive form-material">
                                                <table id="simpletable" class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>製程名稱/編號</th>
                                                            <!-- <th>製程名稱</th> -->
                                                            <th>站點</th>   
                                                            <th>製程類型</th>                                                           
                                                            <!-- <th>需求物料類別 / 可用物料</th> -->
                                                            <th>製造資源類型 / 可用資源個數</th>
                                                            <!-- <th>最大等待時間(小時)</th> -->
                                                            <th>狀態</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="task-page">
                                                        {% for job_name in JOB_LIST %}
                                                        <tr>
                                                            <td><a class="btn btn-sm btn-dark" href="#">{{JOB_LIST[job_name][0]}}</a></td>
                                                            <!-- <td>裁線</td> -->
                                                            <td>{{JOB_LIST[job_name][1]}}</td>
                                                            <td>{{JOB_LIST[job_name][2]}}</td>
                                                            
                                                            <!-- <td><a class="btn btn-sm btn-dark" href="/material-detail.html">線材 / 1</a></td> -->
                                                            {% if JOB_LIST[job_name][3] %}
                                                            <td>
                                                                {% for resource_type in JOB_LIST[job_name][3] %}
                                                                {% if resource_type != "virtual"   %}
                                                                <a class="btn btn-sm btn-dark" href="#">{{resource_type}} / {{JOB_LIST[job_name][3][resource_type] | length }}</a>
                                                                {% else %}
                                                                <a class="btn btn-sm btn-warning text-danger" href="#"> {{resource_type}} / {{JOB_LIST[job_name][3][resource_type] | length}} </a>

                                                                {% endif%}
                                                                {% endfor %}
                                                                
                                                            </td>
                                                            <!-- <td>10.0</td> -->
                                                            <td>
                                                                {% if "virtual" not in JOB_LIST[job_name][3] %}
                                                                <span class="badge badge-success f-12">可使用</span>
                                                                {% else %}
                                                                <span class="badge badge-warning f-12">建立中</span>
                                                                {% endif %}
                                                            </td>
                                                            {% endif %}
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- [ task-list ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="modal fade" id="addTest" tabindex="-1" role="dialog"
     aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal2Label">新增製程</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form style="padding: 20px 20px 0px" id="staffAdd" enctype="multipart/form-data">
                <fieldset>
                    <table>
                        <tr>
                            <th>
                                <label class="label-font" >站點:</label>
                            </th>
                            <td>
                                <input required="required"  type="text" name="process_name" id="process_name" class="text ui-widget-content ui-corner-all form-control">
                            </td>

                        </tr>
                        <tr>
                            <th>
                                <label class="label-font" >製程名稱:</label>
                            </th>
                            <td>
                                <input required="required"  type="text" name="jlb_name" id="jlb_name" class="text ui-widget-content ui-corner-all form-control">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font" >製程類型:</label>
                            </th>
                            <td>
                                <select class="btn btn-sm btn-muted text-white"
                                        name="sourcing">
                                    <option value="in-house">in-house</option>
                                    <option value="out-sourcing">out-sourcing</option>
                                </select>
                            </td>

                        </tr>
                    </table>
                    <button id="staffAddBtn" class="btn btn-success float-right" type="submit" data-dismiss="modal">儲存</button>
                </fieldset>
            </form>

        </div>
    </div>
</div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- Data tables.js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
        }, 600);
        $(document).ready(function () {
            $('#staffAddBtn').click(function(e){
                e.preventDefault();

                const form = document.forms['staffAdd'];
                // get value
                const jlb_name = form.elements.jlb_name.value;
                const process_name = form.elements.process_name.value;
                const sourcing = form.elements.sourcing.value;

                let errorMessage = [];

                if( jlb_name === "") {
                    errorMessage.push("製程名稱不得為空")
                }

                if( process_name === "") {
                    errorMessage.push("站點不得為空")
                }

                if( errorMessage.length > 0) {
                    alert(errorMessage.toString());
                    return
                }

                let formData = {
                    jlb_name,
                    process_name,
                    sourcing,
                }
                console.log(JSON.stringify(formData))
                $.ajax({
                    url:'http://'+document.domain+'/api/get_job_lib_item',
                    type : "POST",
                    data : JSON.stringify(formData),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success : function(data)
                    {
                        swal.fire({
                            icon: 'success',
                            title: '新增成功',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        location.reload();
                    },error: function(data)
                    {
                        swal.fire({
                            icon: 'error',
                            title: '錯誤' + data.status,
                            text: data.statusText,
                        })
                    }
                })
            });

        });
    </script>

{% endblock javascripts %}
