{% extends "layouts/base.html" %}

{% block title %} Processes {% endblock %} 

{% block stylesheets %}

    <!-- data tables css -->
    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">


{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ task-list ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>製程列表
                                                <button type="button" class="btn btn-rounded btn-outline-success float-right">匯出Excel</button>
                                                <a href="/create-process.html"><button type="button" class="btn btn-rounded btn-outline-primary float-right">新增</button></a>
                                            </h3>
                                        </div>
                                        <div class="card-block task-data">
                                            <div class="table-responsive form-material">
                                                <table id="simpletable" class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>製程名稱/編號</th>
                                                            <!-- <th>製程名稱</th> -->
                                                            <th>製程類型</th>                                                           
                                                            <!-- <th>需求物料類別 / 可用物料</th> -->
                                                            <th>製造資源類型 / 可用資源個數</th>
                                                            <!-- <th>最大等待時間(小時)</th> -->
                                                            <th>狀態</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="task-page">
                                                        <tr>
                                                            <td><a class="btn btn-sm btn-dark" href="/process-detail.html">裁線</a></td>
                                                            <!-- <td>裁線</td> -->
                                                            <td>內製</td>
                                                            <!-- <td><a class="btn btn-sm btn-dark" href="/material-detail.html">線材 / 1</a></td> -->
                                                            <td>
                                                                <a class="btn btn-sm btn-dark" href="/material-detail.html">機器 / 1</a>
                                                                <a class="btn btn-sm btn-dark" href="/material-detail.html">人員 / 1</a>
                                                            </td>
                                                            <!-- <td>10.0</td> -->
                                                            <td>
                                                                <span class="badge badge-success f-12">可使用</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><a class="btn btn-sm btn-dark" href="/process-detail.html">打端子</a></td>
                                                            <!-- <td>打端子</td> -->
                                                            <td>內製</td>
                                                            <!-- <td><a class="btn btn-sm btn-dark" href="/material-detail.html">端子 / 1</a></td> -->
                                                            <td><a class="btn btn-sm btn-warning text-danger" href="/material-detail.html">人員 / 0</a></td>
                                                            <!-- <td></td> -->
                                                            <td>
                                                                <span class="badge badge-warning f-12">建立中</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- [ task-list ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- Data tables.js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
        }, 600);
    </script>

{% endblock javascripts %}
