{% extends "layouts/base.html" %}

{% block title %} {{ PRODUCT["product_name"]}}- 料號明細 {% endblock %}

{% block stylesheets %}

<!-- Smart Wizard css -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="/static/assets/js/vendor-all.min.js"></script>
{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->

{% if PRODUCT is defined %}
<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ task-detail ] start -->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3>{{ PRODUCT['product_name'] }}
<!--                                        <button id="getProductId" type="button"-->
<!--                                            class="btn btn-rounded btn-outline-success float-right" data-toggle="modal"-->
<!--                                            data-target="#addTest" value="{{ PRODUCT['product_id'] }}">-->
<!--                                            新增製品流程-->
<!--                                        </button>-->
                                        <span class="badge badge-primary f-12"> {{PRODUCT["product_status"]}}</span>
                                        <!--
                                        <a class="btn btn-rounded btn-outline-warning float-right"
                                            href="/mfg-order-data.html" role="button">取消</a>
                                        <a class="btn btn-rounded btn-outline-warning float-right"
                                            href="/mfg-order-data.html" role="button">暫停</a>
                                        <a class="btn btn-rounded btn-outline-warning float-right"
                                            href="/mfg-order-data.html" role="button">編輯</a>
                                        -->
                                        <!-- <a class="btn btn-rounded btn-outline-primary float-right"
                                            href="/mfg-order-data.html" role="button">原始資料</a> -->
                                    </h3>
                                    <br>

                                    <p class="text-muted">工單號：{{ PRODUCT["project_name"] }}</p>

                                    <!--  -->
                                </div>
                                <!--
                                <div class="card-block">
                                    <h6>交期剩餘時間</h6>
                                        <hr>
                                        <div class="counter text-center">
                                            <h4 id="timer" class="text-white m-0"></h4>
                                        </div>
                                        <hr>
                                    <h5>製品</h5>
                                    <br>

                                    <table class="table table-hover">
                                        <h6>製品項數：1</h6>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <select class="js-example-basic-single form-control">
                                                        <option value="1">Product 1</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="text-light">指定交期：無 (依工單交期)</p>
                                    -->
                                <div class="card-block">
                                    <h5>工作流程 </h5>
                                    <div class="m-b-20">
                                        <div class="table-responsive m-t-20">
                                            <table class="table table-hover table-striped" id="dataTable">
                                                <thead>
                                                    <tr class="text-uppercase">
                                                        <th class="text-right">備註</th>
                                                        <th>製品流程</th>
                                                        <th>狀態</th>
                                                        <th>現在站點</th>
                                                        <th>製程名稱</th>
                                                        <th>工作名稱</th>
                                                        <th>批號</th>
                                                        <th>製程數量</th>
                                                        <th>排定資源</th>
                                                        <th>預計開始</th>
                                                        <th>預計結束</th>
                                                        <th>實際開始</th>
                                                        <th>實際結束</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="text-muted">


                                                    {% for jid in PRODUCT["job_list"] %}
                                                    <tr>

                                                        <td>
                                                            {% if PRODUCT["job_list"][jid]["translated_detail"] %}
                                                            {% for plan in
                                                            PRODUCT["job_list"][jid]["translated_detail"] %}
                                                            {{ loop.index }}

                                                            <span class="badge badge-dark f-12">opens:
                                                                {{plan["opens"]}}</span>
                                                            {% for pj_tup in plan["同時作業"] %}
                                                            <a class="badge badge-info f-12"
                                                                href="/job_detail/{{pj_tup[0]}}">{{pj_tup[1]}}</a>
                                                            {% endfor%}
                                                            {% endfor %}
                                                            {% else %}
                                                            {% if PRODUCT["job_list"][jid]["detail"] %}
                                                            <a class="btn btn-sm btn-warning f-16"
                                                                href="/job_detail/{{jid}}">更多資訊</a>
                                                            {% endif %}
                                                            {% endif %}
                                                        </td>

                                                        <td>{{PRODUCT["job_list"][jid]["job_sequence"]}}</td>
                                                        <td>
                                                            {% if PRODUCT["job_list"][jid]["status"]%}
                                                            <span class="badge badge-primary f-12">{{
                                                                PRODUCT["job_list"][jid]["status"] }}</span>
                                                            {% else %}
                                                            <span></span>
                                                            {% endif %}
                                                        </td>
                                                        <td>{{PRODUCT["current_loc"]}}</td>
                                                        <td>{{ PRODUCT["job_list"][jid]["jlb_name"] }}</td>

                                                        <td><a class="btn btn-sm btn-dark"
                                                                href="/job_detail/{{jid}}">{{PRODUCT["job_list"][jid]["job_name"]}}
                                                        </td>



                                                        <td>{{PRODUCT["lot_nbr"]}}</td>
                                                        <td>{{ PRODUCT["job_list"][jid]["qty"] }}</td>

                                                        <!-- <td id="plan_start_time_{{loop.index}}"></td>
                                                    <td id="plan_end_time_{{loop.index}}"></td> -->
                                                        <td> {% for rid in PRODUCT["job_list"][jid]["resource"] %}
                                                            <a class="btn btn-sm btn-dark"
                                                                href="/resource_schedule?rid={{rid}}">{{PRODUCT["job_list"][jid]["resource"][rid]}}</a>
                                                            {% endfor %}
                                                        </td>
                                                        {% if PRODUCT["job_list"][jid]["plan_start_time"] %}
                                                        <td>{{PRODUCT["job_list"][jid]["plan_start_time"] }}</td>
                                                        {% else %}
                                                        <td></td>
                                                        {% endif %}

                                                        {% if PRODUCT["job_list"][jid]["plan_end_time"] %}

                                                        <td>{{PRODUCT["job_list"][jid]["plan_end_time"] }}</td>

                                                        {% else %}
                                                        <td></td>
                                                        {% endif %}


                                                        {% if PRODUCT["job_list"][jid]["real_start_time"] %}
                                                        <td>{{PRODUCT["job_list"][jid]["real_start_time"] }}</td>
                                                        {% else %}
                                                        <td></td>
                                                        {% endif %}

                                                        {% if PRODUCT["job_list"][jid]["real_end_time"] %}

                                                        <td>{{PRODUCT["job_list"][jid]["real_end_time"] }}</td>

                                                        {% else %}
                                                        <td></td>
                                                        {% endif %}
                                                        <td></td>
                                                        <!-- <td><a class="btn btn-sm btn-dark"
                                                        href="/extend_job/{{jobID}}">展開工序</a></td> -->

                                                    </tr>
                                                    {% endfor%}


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addTest" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal2Label">新增製品流程</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <form id="staffAdd" enctype="multipart/form-data">
                <fieldset>
                    <table>
                        <tr>
                            <th>
                                <label class="label-font">製品流程:</label>
                            </th>
                            <td>
                                <input type="number" name="job_sequence" id="job_sequence"
                                    class="text ui-widget-content ui-corner-all"
                                    onkeyup="value=value.replace(/[^\d]/g,'') ">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font">站點名稱:</label>
                            </th>
                            <td>
                                <select class="js-example-basic-single form-control"
                                        name="process_name" id="process_name" required>
                                    {% for process_id in PROCESS_LIST %}
                                    <option value={{PROCESS_LIST[process_id]}}>
                                        {{PROCESS_LIST[process_id]}}</option>
                                    {% endfor %}
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font">製程名稱:</label>
                            </th>
                            <td>
                                <select class="js-example-basic-single form-control"
                                    name="jlb_name" id="jlb_name" required>
                                    {% for jlb_name in JLB_LIST %}
                                    <option value={{jlb_name}}>
                                        {{jlb_name}}</option>
                                    {% endfor %}
                                </select>
                                <!-- <input type="text" name="jlb_name" id="jlb_name"
                                    class="text ui-widget-content ui-corner-all"> -->
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font">工作名稱:</label>
                            </th>
                            <td>
                                <input type="text" name="job_name" id="job_name"
                                    class="text ui-widget-content ui-corner-all">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font">生產數量:</label>
                            </th>
                            <td>
                                <input
                                        type="number"
                                        name="qty" id="qty"
                                        class="text ui-widget-content ui-corner-all"
                                        onkeyup="value=value.replace(/[^\d]/g,'') ">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font" >預估工時（分）:</label>
                            </th>
                            <td>
                                <input type="number" name="est_time" id="est_time"
                                       class="text ui-widget-content ui-corner-all"
                                       onkeyup="value=value.replace(/[^\d]/g,'') ">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font">內製/外包:</label> 
                            </th>
                            <td>
                                <select class="js-example-basic-single form-control"
                                        name="sourcing"
                                        id="sourcing"
                                        style="height: 50px"
                                        required>
                                    <option value="in-house">
                                        內製
                                    </option>
                                    <option value="out-sourcing">
                                        外包
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button id="staffAddBtn" class="btn btn-success float-right" type="submit"
                        data-dismiss="modal">儲存</button>
                </fieldset>
            </form>

        </div>
    </div>
</div>

{% endif %}
<!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

<!-- Smart Wizard Js
<script src="/static/assets/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
<script src="/static/assets/js/pages/wizard-custom.js"></script> -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    // Set the date we're counting down to
    var d = new Date();
    d.setDate(d.getDate() + 5);
    var countDownDate = new Date(d).getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("timer").innerHTML = "<b>" + days + "</b>days : <b>" + hours +
            "</b>h : <b>" +
            minutes + "</b>m : <b>" + seconds + "</b>s ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "EXPIRED";
        }
    }, 2000);

    $(document).ready(function () {
        let table = document.getElementById("dataTable");
        let array = table.getElementsByTagName("tr");
        let id =  array[array.length-1].children
        var job_sequence_num = parseInt(id[1].innerHTML);
        console.log(job_sequence_num)
        document.getElementById("job_sequence").value = job_sequence_num;
        document.getElementById("job_sequence").min = job_sequence_num;
        document.getElementById("job_sequence").max = job_sequence_num + 1;
        var product_id = '';

        $("#getProductId").click(function () {
            product_id = $("#getProductId").val();
        });
        $('#staffAddBtn').click(function (e) {
            e.preventDefault();
            const form = document.forms['staffAdd'];
            // get value
            const job_sequence = parseInt(form.elements.job_sequence.value);
            const jlb_name = form.elements.jlb_name.value;
            const job_name = form.elements.job_name.value;
            const process_name = form.elements.process_name.value;
            const qty = parseInt(form.elements.qty.value);
            const sourcing = form.sourcing.value;
            const est_time = parseInt(form.elements.est_time.value);

            let formData = {
                job_sequence,
                jlb_name,
                job_name,
                process_name,
                qty,
                sourcing,
                product_id,
                est_time
            }
            console.log(JSON.stringify(formData))
            $.ajax({
                url: 'http://' + document.domain + '/api/get_job',
                type: "POST",
                data: JSON.stringify(formData),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data)
                    swal.fire({
                        icon: 'success',
                        title: '新增成功',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    location.reload();
                }, error: function (data) {
                    swal.fire({
                        icon: 'error',
                        title: '錯誤' + data.status,
                        text: data.statusText,
                    })
                }
            })
        });
    });
</script>

{% endblock javascripts %}
