{% extends "layouts/base.html" %}

{% block title %} Project  Schedule {% endblock %} 

{% block stylesheets %}
    <!-- pnotify css -->
    <link rel="stylesheet" href="/static/assets/plugins/pnotify/css/pnotify.custom.min.css">
    <!-- pnotify-custom css -->
    <link rel="stylesheet" href="/static/assets/css/pages/pnotify.css">

    <!-- Smart Wizard css -->
  
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ task-detail ] start -->

                                <div class="col-12"> 
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>MAA2060429
                                                
                                                <button type="button" class="btn btn-rounded btn-outline-danger btn-icon float-right" id="pnotify-prompt">拆</button>
                                                <a class="btn btn-rounded btn-outline-danger btn-icon float-right" href="/mfg-order-data.html" role="button" data-toggle="tooltip" data-placement="bottom" title="取消"><i class="fas fa-times"></i></a>
                                                <a class="btn btn-rounded btn-outline-warning btn-icon float-right" href="/mfg-order-data.html" role="button" data-toggle="tooltip" data-placement="bottom" title="暫停"><i class="feather icon-pause"></i></a>
                                                <a class="btn btn-rounded btn-outline-warning btn-icon float-right" href="/mfg-order-data.html" role="button" data-toggle="tooltip" data-placement="bottom" title="編輯"><i class="feather icon-edit-2"></i></a>
                                                <a class="btn btn-rounded btn-outline-primary btn-icon float-right" href="/mfg-order-data.html" role="button" data-toggle="tooltip" data-placement="bottom" title="詳細資料"><i class="fas fa-glasses"></i></a>
                                            </h3>
                                            <br>
                                            <!-- <p class="text-muted">最後更新時間：2020-09-03 14:19</p>
                                            <p class="text-muted">製品：PN-CTE-0000001</p> -->
                                        </div>
                                        
                                        <div class="card-block">
                                            <!-- <h6>交期剩餘時間</h6>
                                                <hr>
                                                <div class="counter text-center">
                                                    <h4 id="timer" class="text-white m-0"></h4>
                                                </div>
                                                <hr> -->
                                            <table class="table table-hover">
                                                <h6>製品</h6>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select class="js-example-basic-single form-control">
                                                                <option value="1">Product 1</option>
                                                                <option value="2">Product 2</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h6>數量：200</h6>
                                            
                                            

                                            <h6>工作流程</h6>

                                            <div class="m-b-20">
                                                <div class="table-responsive m-t-20">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                            <tr class="text-uppercase">
                                                                <th>狀態</th>
                                                                <th>製品流程</th>
                                                                <th>製程名稱</th>
                                                                <th>前置零件</th>
                                                                <th>排定資源</th>
                                                                <th>預計開始</th>
                                                                <th>預計結束</th>
                                                                <th>實際開始</th>
                                                                <th>實際結束</th>
                                                                <th class="text-right">備註</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="text-muted">
                                                            <tr>
                                                                <td><span class="badge badge-primary f-12">進行中</span></td>
                                                                <td>1</td>
                                                                <td><a class="btn btn-sm btn-dark" href="/job-detail.html">裁線</a></td>
                                                                <td>N/A</td>
                                                                <td>
                                                                    <a class="btn btn-sm btn-dark" href="/resource-detail.html">M001</a>
                                                                    <a class="btn btn-sm btn-dark" href="/resource-detail.html">H001</a>
                                                                </td>
                                                                <td>2020-09-10 11:50</td>
                                                                <td>2020-09-10 16:50</td>
                                                                <td>2020-09-10 11:50</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td><span class="badge badge-secondary f-12">已排程</span></td>
                                                                <td>2</td>
                                                                <td><a class="btn btn-sm btn-dark" href="/job-detail.html">打端子</a></td>
                                                                <td>N/A</td>
                                                                <td>
                                                                    <a class="btn btn-sm btn-dark" href="/resource-detail.html">H002</a>
                                                                </td>
                                                                <td>2020-09-10 16:50</td>
                                                                <td>2020-09-10 17:20</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td><span class="badge badge-secondary f-12">已排程</span></td>
                                                                <td>3</td>
                                                                <td><a class="btn btn-sm btn-dark" href="/job-detail.html">QC-1</a></td>
                                                                <td>N/A</td>
                                                                <td>
                                                                    <a class="btn btn-sm btn-dark" href="/resource-detail.html">H003</a>
                                                                </td>
                                                                <td>2020-09-10 17:20</td>
                                                                <td>2020-09-10 17:30</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- Smart Wizard Js
    <script src="/static/assets/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
    <script src="/static/assets/js/pages/wizard-custom.js"></script> -->
    <!-- pnotify Js -->
    <script src="/static/assets/plugins/pnotify/js/pnotify.custom.min.js"></script>
    <script src="/static/assets/plugins/pnotify/js/notify-event.js"></script>

    <script>
        // Set the date we're counting down to
        var d = new Date();
        d.setDate(d.getDate() + 5);
        var countDownDate = new Date(d).getTime();
    
        // Update the count down every 1 second
        var x = setInterval(function() {
    
            // Get todays date and time
            var now = new Date().getTime();
    
            // Find the distance between now and the count down date
            var distance = countDownDate - now;
    
            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
            // Output the result in an element with id="demo"
            document.getElementById("timer").innerHTML = "<b>"+days + "</b>days : <b>" +  hours + "</b>h : <b>" +
                minutes + "</b>m : <b>" + seconds + "</b>s ";
    
            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "EXPIRED";
            }
        }, 2000);
    </script>

{% endblock javascripts %}
