<div class="card-block col-sm-4">
        <div class="card project-task bg-dark">
            <div class="card-block text-center">
                <div class="row align-items-center justify-content-center">
                    <h4 class="f-18 font-weight-light">M0086 熱壓機</h4>
                </div>
                <p class="badge badge-light f-16">
                    <a class="text-dark" href="/project-schedule.html">MAA2060430</a>
                </p>
                <div class="progress">
                    <div class="progress-bar progress-c-theme" role="progressbar"
                        style="width:80%;height:6px;" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <p class="m-b-0 text-right f-12">生管交期 <span class="badge badge-dark f-12">
                        2020/10/29 16:30</span></p>
                <br><a class="badge badge-secondary f-16 font-weight-normal float-center" href="/resource-schedule.html">
                    工作排程清單</a>
                <div class="text-center">
                        <div class="col-md-3 text-white text-center">
                                <a class="badge badge-success f-10" href="/work-order-detail.html">MAA2060493</a>
                                <span class="f-10">9/12</span>
                            </div>
                            <div class="col-md-3 text-white text-center">
                                    <span class="badge badge-dark f-10">MAA2060424</span>
                                    <span class="f-10">9/13</span>
                                </div>
                                <div class="col-md-3 text-white text-center">
                                        <span class="badge badge-dark f-10">MAA2060436</span>
                                        <span class="f-10">9/14</span>
                                    </div>
                    
                    
                    
    
                </div>
                <!-- <h6 class="mt-3 mb-0 text-center text-muted">
                            <a class="badge badge-secondary f-16 font-weight-normal" href="/resource-schedule.html"> 工作排程清單</a>
                            <span class="badge f-12 float-right">最後更新時間 2020/08/28 16:30</span>
                        </h6> -->
            </div>
        </div>
    </div>