{% extends "layouts/base.html" %}

{% block title %} Resource Schedule {% endblock %} 

{% block stylesheets %}
  
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ task-detail ] start -->

                                <div class="col-12"> 
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>D1-日立鑽孔機
                                                <button type="button" class="btn btn-rounded btn-outline-danger float-right" data-toggle="modal" data-target="#alertModal">異常回報</button>
                                            </h3>
                                            <br>
                                            <p class="text-muted">排程更新時間：2020-09-03 14:19</p>
                                        </div>
                                        
                                        <!-- [ Modal ] start -->

                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">工作完成</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form>
                                                            <div class="form-group">
                                                                <label for="recipient-name" class="col-form-label">良品數</label>
                                                                <input type="text" class="form-control" id="good-gty">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="message-text" class="col-form-label">不良品數</label>
                                                                <input type="text" class="form-control" id="ng-qty">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                                        <button type="button" class="btn btn-primary">確認回報</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">異常回報</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="was-validated">
                                                            <!-- <div class="custom-control custom-checkbox mb-3">
                                                                <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
                                                                <label class="custom-control-label" for="customControlValidation1">Check this custom checkbox</label>
                                                                <div class="invalid-feedback">Example invalid feedback text</div>
                                                            </div> -->
                                                            <!-- <h6 class="mt-5">異常類型</h6>
                                                            <hr>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                                                <label class="custom-control-label" for="customRadioInline1">異常停機</label>
                                                            </div>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                                                                <label class="custom-control-label" for="customRadioInline2">無法生產</label>
                                                            </div> -->

                                                            <!-- <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked" required>
                                                                <label class="custom-control-label" for="customControlValidation2">異常類型</label>
                                                            </div>
                                                            <div class="custom-control custom-radio mb-3">
                                                                <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked" required>
                                                                <label class="custom-control-label" for="customControlValidation3">Or toggle this other custom radio</label>
                                                                <div class="invalid-feedback">More example invalid feedback text</div>
                                                            </div> -->
                                                            <br>
                                                            <div class="form-group">
                                                                <select class="custom-select" required>
                                                                    <option value="">異常原因</option>
                                                                    
                                                                    <optgroup label="機台故障">
                                                                        <option value="1">[ER1] 設備損壞</option>
                                                                        <option value="2">[ER2] 空壓機損壞</option>
                                                                    </optgroup>
                                                                    
                                                                </select>
                                                                <div class="invalid-feedback">請點選異常原因</div>
                                                            </div>
            
                                                            <!-- <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                                                                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                                                <div class="invalid-feedback">Example invalid custom file feedback</div>
                                                            </div> -->
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                                        <button type="button" class="btn btn-primary">確認回報</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- [ Modal ] end -->

                                        <div class="card-block">
                                            
                                            <h6>工作排程清單</h6>

                                            <div class="m-b-20">
                                  
                                                <div class="table-responsive m-t-20">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                            <tr class="text-uppercase">
                                                                <th>排程順序</th>
                                                                <th>狀態</th>
                                                                <th>工作編號</th>
                                                                <th>製品</th>
                                                                <th>製程名稱</th>
                                                                <th>預計開始</th>
                                                                <th>預計結束</th>
                                                                <th>實際開始</th>
                                                                <th>實際結束</th>
                                                                <th class="text-right">備註</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="text-muted">
                                                            <tr>
                                                                <td>1</td>
                                                                <td><span class="badge badge-primary f-12">進行中</span></td>
                                                                <td><a class="btn btn-sm btn-dark" href="/job-detail.html">JID00000001</a></td>
                                                                <td>PN-CTE-0000001</td>
                                                                <td>機鑽</td>
                                                                <td>2020-09-10 11:50</td>
                                                                <td>2020-09-10 16:50</td>
                                                                <td>2020-09-10 11:50</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td><span class="badge badge-success f-12">Ready</span></td>
                                                                <td><a class="btn btn-sm btn-dark" href="/job-detail.html">JID00000002</a></td>
                                                                <td>PN-CTE-0000001</td>
                                                                <td>打端子</td>
                                                                <td>2020-09-10 16:50</td>
                                                                <td>2020-09-10 17:20</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td></td>
                                                                <td><a class="btn btn-sm btn-dark" href="/job-detail.html">JID00000003</a></td>
                                                                <td>PN-CTE-0000001</td>
                                                                <td>QC-1</td>
                                                                <td>2020-09-10 17:20</td>
                                                                <td>2020-09-10 17:30</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- Smart Wizard Js
    <script src="/static/assets/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
    <script src="/static/assets/js/pages/wizard-custom.js"></script> -->

    <script>
        // Set the date we're counting down to
        var d = new Date();
        d.setDate(d.getDate() + 5);
        var countDownDate = new Date(d).getTime();
    
        // Update the count down every 1 second
        var x = setInterval(function() {
    
            // Get todays date and time
            var now = new Date().getTime();
    
            // Find the distance between now and the count down date
            var distance = countDownDate - now;
    
            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
            // Output the result in an element with id="demo"
            document.getElementById("timer").innerHTML = "<b>"+days + "</b>days : <b>" +  hours + "</b>h : <b>" +
                minutes + "</b>m : <b>" + seconds + "</b>s ";
    
            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "EXPIRED";
            }
        }, 2000);
    </script>

{% endblock javascripts %}
