{% extends "layouts/base.html" %}

{% block title %} Resource Detail {% endblock %} 

{% block stylesheets %}

    <!-- Rating css -->
    <link rel="stylesheet" href="/static/assets/plugins/ratting/css/bars-1to10.css">
    <link rel="stylesheet" href="/static/assets/plugins/ratting/css/bars-horizontal.css">
    <link rel="stylesheet" href="/static/assets/plugins/ratting/css/bars-movie.css">
    <link rel="stylesheet" href="/static/assets/plugins/ratting/css/bars-pill.css">
    <link rel="stylesheet" href="/static/assets/plugins/ratting/css/bars-reversed.css">
    <link rel="stylesheet" href="/static/assets/plugins/ratting/css/bars-square.css">
    <link rel="stylesheet" href="/static/assets/plugins/ratting/css/bootstrap-stars.css">
    <link rel="stylesheet" href="/static/assets/plugins/ratting/css/css-stars.css">
    <link rel="stylesheet" href="/static/assets/plugins/ratting/css/fontawesome-stars.css">
    <link rel="stylesheet" href="/static/assets/plugins/ratting/css/fontawesome-stars-o.css">

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ task-detail ] start -->

                                <div class="col-12"> 
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>作業人員001 
                                                <span class="badge badge-dark f-14">H001</span>
                                                <span class="badge badge-dark f-12">人員</span>
                                                <span class="badge badge-primary f-12">進行中</span>
                                                <a class="btn btn-rounded btn-outline-secondary disabled btn-icon float-right" href="/mfg-order-data.html" role="button" data-toggle="tooltip" data-placement="bottom" title="刪除"><i class="fas fa-times"></i></a>
                                                <a class="btn btn-rounded btn-outline-warning btn-icon float-right" href="/mfg-order-data.html" role="button" data-toggle="tooltip" data-placement="bottom" title="編輯"><i class="feather icon-edit-2"></i></a>
                                                <a class="btn btn-rounded btn-outline-primary btn-icon float-right" href="/mfg-order-data.html" role="button" data-toggle="tooltip" data-placement="bottom" title="查看原始資料"><i class="feather icon-link"></i></a>
                                            </h3>
                                            <br>
                                            <p class="text-muted">資料更新時間：2020-09-03 14:19</p>
                                            <p class="text-muted">
                                                <span>工作中心：                                                                
                                                    <a class="btn btn-sm btn-dark" href="/work-center.html">前段</a> 
                                                </span>
                                                <span>工作時段： 
                                                    <a class="btn btn-sm btn-dark" href="/working-hours.html">24小時</a> 
                                                </span> 
                                                <span>工作日： 
                                                    <a class="btn btn-sm btn-dark" href="/working-days.html">機台行事曆-A組</a> 
                                                </span> 
                                            </p>
                                            <h6 class="mt-3 mb-0 text-left text-muted">
                                                <a class="badge badge-secondary f-16 font-weight-normal" href="/resource-schedule.html"> 工作排程清單</a>
                                            </h6>
                                        </div>
                                            <div class="card-block">

                                                <h5>技能列表</h5>
                                                <div>
                                                    <div class="table-responsive m-t-20">
                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>技能類型</th>
                                                                    <th>技能等級</th>
                                                                    <th>製程編號</th>
                                                                    <th>製程名稱</th>
                                                                    <th>製程類型</th>
                                                                    <th>Capacity <i class="fas fa-question-circle" data-toggle="tooltip" title="當製程類型為[批次型]時，需指定一批最多可處理數量"></i></th>
                                                                    <th>Flow Time <i class="fas fa-question-circle" data-toggle="tooltip" title="當製程類型為[流線型]時，需指定一個製品走完流線需要的時間"></i></th>
                                                                    <th>Flow Gap <i class="fas fa-question-circle" data-toggle="tooltip" title="當製程類型為[流線型]時，需指定製品間的投料間隔"></i></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="text-muted">
                                                                <tr>
                                                                    <td>主要</td>
                                                                    <td>5</td>
                                                                    <td>
                                                                        <a class="btn btn-sm btn-dark" href="/process-detail.html">PID00000001</a>
                                                                    </td>
                                                                    <td>裁線</td>
                                                                    <td>零工型</td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>次要</td>
                                                                    <td>3</td>
                                                                    <td>
                                                                        <a class="btn btn-sm btn-dark" href="/process-detail.html">PID00000002</a>
                                                                    </td>
                                                                    <td>打端子</td>
                                                                    <td>零工型</td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                </div>

                                                <br>

                                                <div>
                                                    <h5>事件列表</h5>
                                                </div>
                                                <div>
                                                <div class="table-responsive m-t-20">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                            <tr class="text-uppercase">
                                                                <th>#</th>
                                                                <th>開始時間</th>
                                                                <th>結束時間</th>
                                                                <th>事件類型</th>
                                                                <th>備註</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="text-muted">
                                                            <tr>
                                                                <td>1</td>
                                                                <td>2020-09-10 13:00</td>
                                                                <td>2020-09-10 17:00</td>
                                                                <td>請假</td>
                                                                <th></th>
                                                            </tr>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>2020-09-11 18:00</td>
                                                                <td>2020-09-11 22:00</td>
                                                                <td>加班</td>
                                                                <th></th>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- select2 Js -->
    <script src="/static/assets/plugins/select2/js/select2.full.min.js"></script>

    <!-- Rating Js -->
    <script src="/static/assets/plugins/ratting/js/jquery.barrating.min.js"></script>
    <script src="/static/assets/js/pages/ac-rating.js"></script>

    <script>
        // Set the date we're counting down to
        var d = new Date();
        d.setDate(d.getDate() + 5);
        var countDownDate = new Date(d).getTime();
    
        // Update the count down every 1 second
        var x = setInterval(function() {
    
            // Get todays date and time
            var now = new Date().getTime();
    
            // Find the distance between now and the count down date
            var distance = countDownDate - now;
    
            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
            // Output the result in an element with id="demo"
            document.getElementById("timer").innerHTML = "<b>"+days + "</b>days : <b>" +  hours + "</b>h : <b>" +
                minutes + "</b>m : <b>" + seconds + "</b>s ";
    
            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "EXPIRED";
            }
        }, 2000);
    </script>


{% endblock javascripts %}
