{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

{% endblock stylesheets %}

{% block content %}


    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card Active-visitor">
                                    <div class="card-header">
                                        <h3>工作列表
                                            {% if TABLE is defined %}
                                            <form action="/export_schedule/{{OPTION}}" method="POST">
                                                <input type="hidden" name="data" value="{{ TABLE }}" />
                                            
                                                
                                                <button type="submit" class="btn btn-rounded btn-outline-success float-right">匯出Excel</button>
                                                
                                            </a>
                                            </form>
                                            {% else %}
                                            <a href="#"><button type="button" class="btn btn-rounded btn-outline-success float-right">匯出Excel</button></a>
                                            {% endif %}
                                        </h3>
                                        
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            
                                            <div class="col-4">
                                                <table class="table table-hover">
                                                    <h5 class="text-center">工單查詢</h5>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <form method="POST">
                                                                <select class="js-example-basic-single form-control" onchange='this.form.submit()' name="project_option" required name="project_option">
                                                                    <!-- {% if OPTION is defined %}
                                                                    <option hidden disabled selected value>{{OPTION}}</option>
                                                                    {% else %} -->
                                                                    <option value="all">工單列表</option>
                                                                    <!-- {% endif %} -->
                                                                    <optgroup label="工單">
                                                                        <option value="all">所有工單</option>
                                                                        {% for pid in PROJECT_LIST %}
                                                                        <option value={{pid}}>{{PROJECT_LIST[pid]}}</option>
                                                                        {% endfor %}
                                                                        
                                                                    </optgroup>
                                                                </select>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-4">
                                                <table class="table table-hover">
                                                    <h5 class="text-center">站點查詢</h5>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <form method="POST">
                                                                <select class="js-example-basic-single form-control"  onchange='this.form.submit()' name="process_option" required name="process_option" >
                                                                    <!-- {% if OPTION is defined %}
                                                                    <option hidden disabled selected value>{{OPTION}}</option>
                                                                    {% else %} -->
                                                                    <option value="all">站點列表</option>
                                                                    <!-- {% endif %} -->
                                                                    <optgroup label="站點">
                                                                        <option value="all">所有站點</option>
                                                                        {% for prcid in PROCESS_LIST %}
                                                                        <option value={{prcid}}>{{PROCESS_LIST[prcid]}}</option>
                                                                        {% endfor %}
                                                                        
                                                                    </optgroup>
                                                                </select>
                                                            </form>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-4">
                                                <table class="table table-hover">
                                                    <h5 class="text-center">日期查詢</h5>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <form method="POST">
                                                                <select class="js-example-basic-single form-control" onchange='this.form.submit()' name="day_option" required name="day_option">
                                                                    <!-- {% if OPTION is defined %}
                                                                    <option hidden disabled selected value>{{OPTION}}</option>
                                                                    {% else %} -->
                                                                    <option>依時間選擇</option>
                                                                    <!-- {% endif %} -->
                                                                    <optgroup label="工作日期">
                                                                        
                                                                        <option value="1">當日</option>
                                                                        <option value="2">後2日</option>
                                                                        
                                                                    </optgroup>
                                                                </select>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="card-block task-data">
                                        <div class="table-responsive form-material">
                                            <table id="simpletable" class="table task-list-table table-striped table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>工單編號</th>
                                                        <th>料號</th>
                                                        <th>工序流程</th>
                                                        <th>製程名稱</th>
                                                        <th>排定資源</th>
                                                        <th>預估工時(分鐘)</th>
                                                        <th>預計開始</th>
                                                        <th>預計結束</th>
                                                        <th>實際開始</th>
                                                        <th>實際結束</th>
                                                        <th>實際工時(分鐘)</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="task-page">
                                                    {% if TABLE is defined %}
                                                    {% for jid in TABLE %}
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-sm btn-dark" href="/order-data.html">{{TABLE[jid]["project_name"]}}</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-sm btn-dark" href="#">{{TABLE[jid]["product_name"]}}</a>
                                                        </td>
                                                        <td>{{TABLE[jid]["job_sequence"]}}</td>
                                                        <td>
                                                            <a class="btn btn-sm btn-dark" href="/job_detail/{{jid}}">{{TABLE[jid]["job_name"]}}</a>
                                                        </td>
                                                        <td>
                                                            {% for rid in TABLE[jid]["resource"] %}
                                                            <a class="btn btn-sm btn-dark" href="#">{{TABLE[jid]["resource"][rid]}}</a>
                                                            {% endfor %}
                                                        </td>
                                                        <td>{{TABLE[jid]["est_time"]}}</td>
                                                        {% if TABLE[jid]["plan_start_time"] %}
                                                            <td> 
                                                                {{TABLE[jid]["plan_start_time"][0:16] }}
                                                            </td>
                                                            {%else%}
                                                            <td></td>
                                                            {%endif%}
                                                            {% if TABLE[jid]["plan_end_time"] %}
                                                            <td> 
                                                                {{TABLE[jid]["plan_end_time"][0:16] }}
                                                            </td>
                                                            {%else%}
                                                            <td></td>
                                                            {%endif%}

                                                            {% if TABLE[jid]["real_start_time"] %}
                                                            <td> 
                                                                {{TABLE[jid]["real_start_time"][0:16] }}
                                                            </td>
                                                            {%else%}
                                                            <td></td>
                                                            {%endif%}

                                                            {% if TABLE[jid]["real_end_time"] %}
                                                            <td> 
                                                                {{TABLE[jid]["real_end_time"][0:16] }}
                                                            </td>
                                                            {%else%}
                                                            <td></td>
                                                            {%endif%}

                                                            {% if  TABLE[jid]["real_end_time"] %}
                                                            <td>
                                                                {{TABLE[jid]["time_spent"] }}
                                                            </td>
                                                            {%else%}
                                                            <td></td>
                                                            {%endif%}
                                                        
                                                    </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                    
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
        }, 200);
    </script>

{% endblock javascripts %}