{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

{% endblock stylesheets %}

{% block content %}


    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card Active-visitor">
                                    <div class="card-header">
                                        <h3>排程明細
                                            <a href="create-order.html"><button type="button" class="btn btn-rounded btn-outline-success float-right">匯出Excel</button></a>
                                        </h3>
                                        <a href="#!" class="badge badge-dark f-14 text-white font-weight-light float-left">排程版本 2020/08/17 07:55</a><span class="badge badge-success f-12"> 已發行 </span>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-xl-4">
                                                <table class="table table-hover">
                                                    <h5 class="text-center">工單查詢</h5>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <select class="js-example-basic-single form-control">
                                                                    <optgroup label="站點">
                                                                        <option value="1">所有工單</option>
                                                                        <option value="2">MA0001</option>
                                                                        <option value="3">MA0002</option>
                                                                    </optgroup>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-xl-4">
                                                <table class="table table-hover">
                                                    <h5 class="text-center">站點查詢</h5>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <select class="js-example-basic-single form-control">
                                                                    <optgroup label="站點">
                                                                        <option value="1">所有站點</option>
                                                                        <option value="2">黃光</option>
                                                                        <option value="3">電鍍</option>
                                                                    </optgroup>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-xl-4">
                                                <table class="table table-hover">
                                                    <h5 class="text-center">日期查詢</h5>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <select class="js-example-basic-single form-control">
                                                                    <optgroup label="工作日期">
                                                                        <option value="1">當日</option>
                                                                        <option value="2">後2日</option>
                                                                        <option value="3">自訂日期區間</option>
                                                                    </optgroup>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-block task-data">
                                        <div class="table-responsive form-material">
                                            <table id="simpletable" class="table task-list-table table-striped table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>工單編號</th>
                                                        <th>製程名稱</th>
                                                        <th>製品流程</th>
                                                        <th>排定資源</th>
                                                        <th>預計開始</th>
                                                        <th>預計結束</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="task-page">
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-sm btn-dark" href="/order-data.html">MAA0001</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-sm btn-dark" href="#">剪壓</a>
                                                        </td>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-sm btn-dark" href="/order-data.html">M001</a>
                                                        </td>
                                                        <td>
                                                            2020-09-26 08:15
                                                        </td>
                                                        <td>
                                                            2020-09-26 11:15
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-sm btn-dark" href="/order-data.html">MAA0001</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-sm btn-dark" href="#">壓著</a>
                                                        </td>
                                                        <td>
                                                            2
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-sm btn-dark" href="/order-data.html">H001</a>
                                                        </td>
                                                        <td>
                                                            2020-09-26 11:15
                                                        </td>
                                                        <td>
                                                            2020-09-26 15:15
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
        }, 200);
    </script>

{% endblock javascripts %}