{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<!-- data tables css -->
<link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

<!-- select2 css -->
<link rel="stylesheet" href="/static/assets/plugins/select2/css/select2.min.css">

<!-- Wysiwyg editor -->
<link rel="stylesheet" href="/static/assets/plugins/fullcalendar/css/fullcalendar.min.css">

<!-- material datetimepicker css -->
<link rel="stylesheet" href="/static/assets/plugins/material-datetimepicker/css/bootstrap-material-datetimepicker.css">
<!-- Bootstrap datetimepicker css -->
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">

<!-- jQuery timepicker -->
<link rel="stylesheet" href="/static/assets/plugins/jquery-timepicker-master/jquery.timepicker.css">
{% endblock stylesheets %}
{% block content %}
<script src="/static/assets/js/vendor-all.min.js"></script>
<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card Active-visitor">
                                <div class="card-header">
                                    <h3>系統設定
                                    </h3>
                                </div>
                                <!-- <div class="col-12">
                                    <div class="card">

                                        <div class="card-block">
                                            <span class="f-16">所在時區</span>
                                            <select class="custom-select" id="tzselect"></select>
                                        </div>
                                    </div>

                                </div> -->
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>
                                                <button class="btn btn-lg btn-secondary float-left" type="button"
                                                    data-toggle="collapse" data-target="#collapseExample1"
                                                    aria-expanded="false" aria-controls="collapseExample"> 排程功能設定 <i
                                                        class="mdi mdi-unfold-more-horizontal f-22"></i></button>
                                            </h3>
                                        </div>
                                        <div class="collapse show" id="collapseExample1">
                                            <div class="card-block">
                                                <form method="POST">
                                                    <input type="hidden" name="scheduler_setting" />
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <!-- <div class="col-6">
                                                                <div class="checkbox checkbox-primary checkbox-fill">
                                                                    <input type="checkbox" name="reschedule_timer_check"
                                                                        id="checkbox-fill-1" data-toggle="collapse"
                                                                        data-target="#collapse_reschedule_timer"
                                                                        aria-expanded="false"
                                                                        aria-controls="collapseExample">
                                                                    <label for="checkbox-fill-1"
                                                                        class="cr f-16">系統自動重排</label>
                                                                </div>
                                                                <div class="col-12 collapse"
                                                                    id="collapse_reschedule_timer">
                                                                    <select class="form-control"
                                                                        name="reschedule_timer">
                                                                        <option hidden disabled selected value>系統重排時間設定
                                                                        </option>
                                                                        <optgroup label="定時啟動">
                                                                            <option value="4">4 小時</option>
                                                                            <option value="12">12 小時</option>
                                                                            <option value="24">24 小時</option>
                                                                        </optgroup>
                                                                        <optgroup label="事件驅動">
                                                                            <option value="event">依異常事件</option>
                                                                        </optgroup>
                                                                    </select>
                                                                </div>

                                                            </div> -->

                                                            <div class="col-6">

                                                                <div class="checkbox checkbox-primary checkbox-fill">
                                                                    <input type="checkbox"
                                                                        name="sequencing_method_check"
                                                                        id="checkbox-fill-2" data-toggle="collapse"
                                                                        data-target="#collapse_sequencing_method"
                                                                        aria-expanded="false"
                                                                        aria-controls="collapseExample" checked>
                                                                    <label for="checkbox-fill-2"
                                                                        class="cr f-16">工作排序優化</label>
                                                                </div>
                                                                <div class="col-12 collapse"
                                                                    id="collapse_sequencing_method">
                                                                    <select class="form-control"
                                                                        name="sequencing_method">
                                                                        <option disabled selected value>排序優化設定
                                                                        </option>
                                                                        <optgroup label="[EDD] 交期優先排序">
                                                                            <option value="job_due">工作交期與類型 (最大化準交率)
                                                                            </option>
                                                                            <option value="order_due">工單交期與類型
                                                                                (減少在製品數)</option>
                                                                        </optgroup>
                                                                        <optgroup label="[FIFO] 先進先出排序">
                                                                            <option value="order_date">下單時間與類型
                                                                            </option>
                                                                        </optgroup>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                            <!-- <div class="col-6">

                                                                <div class="checkbox checkbox-primary checkbox-fill">
                                                                    <input type="checkbox" name="ml_model_check"
                                                                        id="checkbox-fill-3" data-toggle="collapse"
                                                                        data-target="#collapse_ml_model"
                                                                        aria-expanded="false"
                                                                        aria-controls="collapseExample">
                                                                    <label for="checkbox-fill-3"
                                                                        class="cr f-16">自動預估工時</label>
                                                                </div>
                                                                <div class="col-12 collapse" id="collapse_ml_model">
                                                                    <select class="form-control" name="ml_model">
                                                                        <option hidden disabled selected value>模型設定
                                                                        </option>
                                                                        <optgroup label="AI預測">
                                                                            <option value="BPNN">BPNN 機器學習模型</option>
                                                                        </optgroup>
                                                                    </select>
                                                                </div>

                                                            </div> -->

                                                            <div class="col-6">

                                                                <div class="checkbox checkbox-primary checkbox-fill">
                                                                    <input type="checkbox"
                                                                        name="dispatching_method_check"
                                                                        id="checkbox-fill-4" data-toggle="collapse"
                                                                        data-target="#collapse_dispatching_method"
                                                                        aria-expanded="false"
                                                                        aria-controls="collapseExample" checked>
                                                                    <label for="checkbox-fill-4"
                                                                        class="cr f-16">多資源自動派工</label>
                                                                </div>
                                                                <div class="col-12 collapse"
                                                                    id="collapse_dispatching_method">
                                                                    <select class="form-control"
                                                                        name="dispatching_method">
                                                                        <option disabled selected value>派工設定
                                                                        </option>
                                                                        <option value=true>依序搜尋最早可完成之資源，如有閒置時間可提前生產
                                                                            (最大化產能利用率)</option>
                                                                        <option value=false>依序搜尋最早可完成之資源，不可提前生產
                                                                            (減少在製品數)</option>
                                                                    </select>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="form-group row m-t-20">

                                                            <div class="col-md-12">

                                                                <button type="submit"
                                                                    class="btn btn-primary float-right">確認變更</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>
                                                <button class="btn btn-lg btn-secondary float-left" type="button"
                                                    data-toggle="collapse" data-target="#collapseMaterial"
                                                    aria-expanded="false" aria-controls="collapseExample"> 物料功能設定 <i
                                                        class="mdi mdi-unfold-more-horizontal f-22"></i></button>
                                            </h3>
                                        </div>
                                        <div class="collapse" id="collapseMaterial">
                                            <div class="card-block">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <form class="form">
                                                                <div class="checkbox checkbox-primary checkbox-fill">
                                                                    <input type="checkbox" name="checkbox-fill-5"
                                                                        id="checkbox-fill-5" checked>
                                                                    <label for="checkbox-fill-5"
                                                                        class="cr f-16">物料計算</label>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="col-6">
                                                            <form class="form">
                                                                <div class="checkbox checkbox-primary checkbox-fill">
                                                                    <input type="checkbox" name="checkbox-fill-6"
                                                                        id="checkbox-fill-6" checked>
                                                                    <label for="checkbox-fill-6"
                                                                        class="cr f-16">缺料需求時間計算</label>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>
                                                <button class="btn btn-lg btn-secondary float-left" type="button"
                                                    data-toggle="collapse" data-target="#collapseCalendar"
                                                    aria-expanded="false" aria-controls="collapseCalendar"> 廠區行事暦設定 <i
                                                        class="mdi mdi-unfold-more-horizontal f-22"></i></button>
                                            </h3>
                                        </div>
                                        <div class="collapse show" id="collapseCalendar">
                                            <div class="card-block">
                                                <div class="row">

                                                    <div class="col-2">
                                                        <div id='external-events' class="external-events">
                                                            <div>
                                                                <form method="POST">
                                                                    <select class="js-example-basic-single form-control"
                                                                        name="selected_calendar"
                                                                        onchange='this.form.submit()'>
                                                                        <option disabled selected hidden>週休二日與國定假日
                                                                        </option>
                                                                        {% for wdid in WORKINGDAYS_TABLE %}
                                                                        <option value="{{wdid}}">
                                                                            {{WORKINGDAYS_TABLE[wdid]["calendar_name"]}}
                                                                        </option>
                                                                        {% endfor %}
                                                                        <option value="NEW">新增...</option>
                                                                    </select>
                                                                </form>
                                                            </div>
                                                            <br>
                                                            {% if CALENDAR_EVENT| length < 1 %} <h4>新增行事曆名</h4>
                                                                <input class="custom-select" type="text"
                                                                    name="new_calendar" id="new_calendar" />

                                                                {% endif %}
                                                                <br>
                                                                <br>
                                                                <h5>新增</h5>
                                                                <div class='fc-event'>工作日</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-10">
                                                        <meta id="calendar-event" data-name=" {{ CALENDAR_EVENT }}">
                                                        <script src="/static/assets/js/vendor-all.min.js"></script>
                                                        <script>

                                                            console.log("enter");
                                                            var calendarEvent = $('#calendar-event').data("name").replaceAll("'", '"')
                                                            calendarEvent = JSON.parse(calendarEvent)

                                                        </script>

                                                        <div id='calendar' class='calendar'></div>
                                                        <div>
                                                            <button class="btn btn-sm btn-outline-primary float-right"
                                                                onclick="getCalendarEvent('{{SELECTED_CALENDAR}}')"
                                                                name="add_calendar">確認</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>
                                                <button class="btn btn-lg btn-secondary float-left" type="button"
                                                    data-toggle="collapse" data-target="#collapseShift"
                                                    aria-expanded="false" aria-controls="collapseShift"> 工作班表設定 <i
                                                        class="mdi mdi-unfold-more-horizontal f-22"></i></button>
                                            </h3>
                                        </div>
                                        <div class="collapse show" id="collapseShift">
                                            <div class="row">
                                                <!-- [ task-list ] start -->
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h3>
                                                                <button type="button"
                                                                    class="btn btn-rounded btn-outline-success float-right"
                                                                    data-toggle="modal"
                                                                    data-target="#ShiftModal">新增班表</button>
                                                            </h3>
                                                        </div>
                                                        <div class="card-block task-data">
                                                            <div class="table-responsive form-material">
                                                                <table id="simpletable"
                                                                    class="table task-list-table table-striped table-bordered nowrap">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>班表名稱</th>
                                                                            <th>工作時間</th>
                                                                            <th>休息時間</th>
                                                                            <!-- <th>動作</th> -->
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody class="task-page">
                                                                        {% for whid in WORKINGHOURS_TABLE %}
                                                                        <tr>
                                                                            <td>{{WORKINGHOURS_TABLE[whid]["hours_name"]}}
                                                                            </td>
                                                                            <td>{{WORKINGHOURS_TABLE[whid]["working_hours"]}}
                                                                            </td>
                                                                            <td>
                                                                                {% if
                                                                                WORKINGHOURS_TABLE[whid]["break_time"]
                                                                                %}
                                                                                {% for break_time in
                                                                                WORKINGHOURS_TABLE[whid]["break_time"]%}
                                                                                {{break_time}}
                                                                                {%endfor%}
                                                                                {% endif %}
                                                                            </td>


                                                                            <!-- <td><a class="btn btn-sm btn-outline-secondary"
                                                                                    href="#" role="button"
                                                                                    data-toggle="modal"
                                                                                    id="modify_start_time_{{whid}}"
                                                                                    data-target="#StartTimeModal_{{whid}}">編輯</a>
                                                                                <a>
                                                                                    <form action="/settings"
                                                                                        method="POST"
                                                                                        style="display: inline-block;">
                                                                                        <input type="hidden"
                                                                                            name="delete_shift"
                                                                                            value="{{whid }}" />
                                                                                        <button type="submit"
                                                                                            class="btn btn-sm btn-outline-secondary">
                                                                                            刪除</button>
                                                                                    </form>


                                                                            </td> -->

                                                                        </tr>
                                                                        <script>
                                                                            $(function () {
                                                                                $('#modifyShiftStart_{{whid}}').timepicker();
                                                                                $('#modifyShiftEnd_{{whid}}').timepicker();
                                                                                $('#createBreakStart_{{whid}}').timepicker();
                                                                                $('#createBreakEnd_{{whid}}').timepicker();
                                                                            });

                                                                        </script>



                                                                        <div class="modal fade"
                                                                            id="StartTimeModal_{{whid}}" tabindex="-1"
                                                                            role="dialog"
                                                                            aria-labelledby="StartTimeModalLabel_{{whid}}}"
                                                                            aria-hidden="true">
                                                                            <div class="modal-dialog" role="document">
                                                                                <div class="modal-content">

                                                                                    <form method="POST">
                                                                                        <input hidden name="edit_shift"
                                                                                            value="{{whid}}">


                                                                                        <div class="modal-body">

                                                                                            <div class="form-group">
                                                                                                <h4>
                                                                                                    更改上班時間
                                                                                                </h4>
                                                                                                <hr>
                                                                                                <div class="row">
                                                                                                    <span class="col-6">
                                                                                                        上班開始時間
                                                                                                        <input
                                                                                                            id="modifyShiftStart_{{whid}}"
                                                                                                            type="text"
                                                                                                            class="custom-select"
                                                                                                            name="modifyShiftStart_{{whid}}">
                                                                                                    </span>
                                                                                                    <span
                                                                                                        class="col-6">上班結束時間


                                                                                                        <input
                                                                                                            id="modifyShiftEnd_{{whid}}"
                                                                                                            type="text"
                                                                                                            class="custom-select"
                                                                                                            name="modifyShiftEnd_{{whid}}"></span>

                                                                                                </div>
                                                                                            </div>
                                                                                            <hr>
                                                                                            <br>

                                                                                            <div class="form-group">
                                                                                                <h4>
                                                                                                    新增休息時間
                                                                                                </h4>
                                                                                                <hr>
                                                                                                <div class="row">

                                                                                                    <span
                                                                                                        class="col-6">休息開始時間<input
                                                                                                            id="createBreakStart_{{whid}}"
                                                                                                            type="text"
                                                                                                            class="custom-select"
                                                                                                            name="createBreakStart_{{whid}}"></span>
                                                                                                    <span
                                                                                                        class="col-6">休息結束時間<input
                                                                                                            id="createBreakEnd_{{whid}}"
                                                                                                            type="text"
                                                                                                            class="custom-select"
                                                                                                            name="createBreakEnd_{{whid}}"></span>
                                                                                                </div>
                                                                                            </div>
                                                                                            <br>

                                                                                            <input type="hidden"
                                                                                                name="delete_break" />


                                                                                            <h4>刪除休息時間</h4>
                                                                                            <hr>
                                                                                            <div class="tasks-widget">
                                                                                                {% if
                                                                                                WORKINGHOURS_TABLE[whid]["break_time"]
                                                                                                %}
                                                                                                {% for
                                                                                                break_time in
                                                                                                WORKINGHOURS_TABLE[whid]["break_time"]
                                                                                                %}
                                                                                                <div
                                                                                                    class="to-do-list mb-3">
                                                                                                    <div
                                                                                                        class="d-inline-block">
                                                                                                        <label
                                                                                                            class="check-task custom-control custom-checkbox d-flex justify-content-center">
                                                                                                            <input
                                                                                                                type="checkbox"
                                                                                                                class="custom-control-input"
                                                                                                                id="customCheck{{loop.index}}_{{whid}}"
                                                                                                                name="check_box{{loop.index}}_{{whid}}"
                                                                                                                value="{{break_time}}">
                                                                                                            <span
                                                                                                                class="custom-control-label ">{{break_time}}</span>
                                                                                                        </label>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="float-right">
                                                                                                        <a onclick="delete_todo({{loop.index}});"
                                                                                                            href="#!"
                                                                                                            class="delete_todolist"><i
                                                                                                                class="far fa-trash-alt"></i></a>
                                                                                                    </div>

                                                                                                    {% endfor %}
                                                                                                    {% endif %}
                                                                                                </div>



                                                                                            </div>
                                                                                            <div class="modal-footer">
                                                                                                <button type="button"
                                                                                                    class="btn btn-secondary"
                                                                                                    data-dismiss="modal">取消</button>
                                                                                                <button type="submit"
                                                                                                    class="btn btn-primary">確認</button>
                                                                                            </div>

                                                                                        </div>

                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>



                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- [ task-list ] end -->

                                                <div class="modal fade" id="ShiftModal" tabindex="-1" role="dialog"
                                                    aria-labelledby="ShiftModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="ShiftModalLabel">新增班表</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close"><span
                                                                        aria-hidden="true">&times;</span></button>
                                                            </div>
                                                            <form method="POST">
                                                                <input type="hidden" name="create_shift" />
                                                                <div class="modal-body">

                                                                    <div class="form-group">
                                                                        <label for="error_group"
                                                                            class="col-form-label">班表名稱</label>
                                                                        <input type="text" class="form-control"
                                                                            name="hours_name" required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="error_code"
                                                                            class="col-form-label">上班開始時間</label>
                                                                        <input id="createShiftStart" type="text"
                                                                            class="custom-select" autocomplete="off"
                                                                            name="working_hours_start">

                                                                    </div>
                                                                    <div class="row">

                                                                        <div class="form-group col-6">
                                                                            <label for="error_code"
                                                                                class="col-form-label">休息開始時間</label>
                                                                            <input id="createBreakStart" type="text"
                                                                                class="custom-select" autocomplete="off"
                                                                                name="break_time_start">

                                                                        </div>

                                                                        <div class="form-group col-6">
                                                                            <label for="error_code"
                                                                                class="col-form-label">休息結束時間</label>
                                                                            <input id="createBreakEnd" type="text"
                                                                                class="custom-select" autocomplete="off"
                                                                                name="break_time_end">

                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="error_code"
                                                                            class="col-form-label">上班結束時間</label>
                                                                        <input id="createShiftEnd" type="text"
                                                                            class="custom-select" autocomplete="off"
                                                                            name="working_hours_end">

                                                                    </div>


                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">取消</button>
                                                                    <button type="submit"
                                                                        class="btn btn-primary">確認</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>




                                            </div>



                                        </div>
                                    </div>


                                </div>

                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>
                                                <button class="btn btn-lg btn-secondary float-left" type="button"
                                                    data-toggle="collapse" data-target="#collapseError"
                                                    aria-expanded="false" aria-controls="collapseError"> 異常代碼設定 <i
                                                        class="mdi mdi-unfold-more-horizontal f-22"></i></button>
                                            </h3>
                                        </div>
                                        <div class="collapse show" id="collapseError">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h3>
                                                                <button type="button"
                                                                    class="btn btn-rounded btn-outline-success float-right"
                                                                    data-toggle="modal"
                                                                    data-target="#ErrorModal">新增異常代碼</button>
                                                            </h3>
                                                        </div>
                                                        <div class="card-block task-data">
                                                            <div class="table-responsive form-material">
                                                                <table id="simpletable"
                                                                    class="table task-list-table table-striped table-bordered nowrap">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>類別</th>
                                                                            <th>異常原因</th>
                                                                            <th>異常代碼</th>
                                                                            <th>動作</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody class="task-page">
                                                                        {% for eid in ERROR_TABLE %}
                                                                        <tr>
                                                                            {% if ERROR_TABLE[eid]["error_type"] ==
                                                                            '資源'%}
                                                                            <td>資源異常</td>
                                                                            {% else %}
                                                                            <td>工作異常</td>
                                                                            {% endif %}
                                                                            <td>{{ERROR_TABLE[eid]["error_group"]}}</td>
                                                                            <td>[{{eid}}]
                                                                                {{ERROR_TABLE[eid]["error_code"]}}
                                                                            </td>
                                                                            <td>
                                                                                <form method="POST"> 
                                                                                <button
                                                                                    class="btn btn-sm btn-outline-secondary"
                                                                                    type="submit" name="delete_abnormal"
                                                                                    value="{{eid}}">刪除</button>
                                                                                </form>
                                                                            </td>
                                                                        </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="modal fade" id="ErrorModal" tabindex="-1" role="dialog"
                                                    aria-labelledby="ErrorModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="ErrorModalLabel">新增異常設定</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close"><span
                                                                        aria-hidden="true">&times;</span></button>
                                                            </div>
                                                            <form method="POST">
                                                                <input type="hidden" name="add_abnormal"
                                                                    value="insert_error" />
                                                                <div class="modal-body">
                                                                    <label for="error_type"
                                                                        class="col-form-label">異常類別</label>
                                                                    <div class="form-group">
                                                                        <select class="custom-select" required
                                                                            name="error-type">
                                                                            <option hidden disabled selected value>異常類別
                                                                            </option>

                                                                            <option value="工作">工作異常</option>
                                                                            <option value="資源">資源異常</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="error_group"
                                                                            class="col-form-label">異常原因</label>
                                                                        <input type="text" class="form-control"
                                                                            name="error-group" required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="error_code"
                                                                            class="col-form-label">異常代碼</label>
                                                                        <input type="text" class="form-control"
                                                                            name="error-code" required>
                                                                    </div>

                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">取消</button>
                                                                    <button type="submit"
                                                                        class="btn btn-primary">確認</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/plugins/jquery-timepicker-master/jquery.timepicker.min.js"></script>
<!-- Data tables.js -->
<script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>
<!-- select2 Js -->
<script src="/static/assets/plugins/select2/js/select2.full.min.js"></script>

<script type="text/javascript">
    setTimeout(function () {
        $('#simpletable').DataTable();
        $('#time-start').bootstrapMaterialDatePicker({
            date: false,
            format: 'HH:mm'
        });

        $('#time-end').bootstrapMaterialDatePicker({
            date: false,
            format: 'HH:mm'
        });
        $('#time-start-2').bootstrapMaterialDatePicker({
            date: false,
            format: 'HH:mm'
        });

        $('#time-end-2').bootstrapMaterialDatePicker({
            date: false,
            format: 'HH:mm'
        });
    }, 600);
</script>

<!-- Full calendar js -->
<script src="/static/assets/plugins/fullcalendar/js/lib/moment.min.js"></script>
<script src="/static/assets/plugins/fullcalendar/js/lib/jquery-ui.min.js"></script>
<script src="/static/assets/plugins/fullcalendar/js/fullcalendar.min.js"></script>

<script type="text/javascript">
    // Full calendar
    $(window).on('load', function () {
        $('#external-events .fc-event').each(function () {
            $(this).data('event', {
                title: $.trim($(this).text()),
                // stick: true
            });
            $(this).draggable({
                zIndex: 999,
                revert: true,
                revertDuration: 0
            });
        });
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultDate: '2021-03-08',
            editable: true,
            droppable: true,
            events: calendarEvent,
        });

    });


</script>
<script>

    function getCalendarEvent(selected_name) {

        let events = JSON.stringify($("#calendar").fullCalendar("clientEvents").map(e => ({
            start: e.start,
            end: e.end,
            title: e.title
        })));
        console.log(events);


        var calendar_name = $('#new_calendar').val();
        if (calendar_name == null) {
            calendar_name = selected_name;
        }
        console.log(calendar_name);
        $.ajax({
            url: "http://" + document.domain + "/api/get_calendar/" + calendar_name,
            type: "POST",
            data: events,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function () {
                console.log("Save Complete")
            }
        });

    }

</script>
<script>
    $(document).ready(function () {
        $('#createShiftStart').timepicker();
        $('#createShiftEnd').timepicker();
        $('#createBreakStart').timepicker();
        $('#createBreakEnd').timepicker();
        $('#basicExample').timepicker();

        var timezone = moment.tz.names();
        for (var i = 0; i < timezone.length; i++) {
            $('#tzselect').append('<option value="' + timezone[i] + '">' + timezone[i] + '</option>');
        }
    });
</script>

<!-- material datetimepicker Js -->
<script src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
<script src="/static/assets/plugins/material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>


<!-- form-picker-custom Js -->
<!-- <script src="/static/assets/js/pages/form-picker-custom.js"></script> -->

{% endblock javascripts %}
