{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<!-- data tables css -->
<link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

<!-- select2 css -->
<link rel="stylesheet" href="/static/assets/plugins/select2/css/select2.min.css">

<!-- Wysiwyg editor -->
<link rel="stylesheet" href="/static/assets/plugins/fullcalendar/css/fullcalendar.min.css">

<!-- material datetimepicker css -->
<link rel="stylesheet" href="/static/assets/plugins/material-datetimepicker/css/bootstrap-material-datetimepicker.css">
<!-- Bootstrap datetimepicker css -->
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">

{% endblock stylesheets %}

{% block content %}


<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card Active-visitor">
                                <div class="card-header">
                                    <h3>系統設定
                                    </h3>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>
                                                <button class="btn btn-lg btn-secondary float-left" type="button"
                                                    data-toggle="collapse" data-target="#collapseExample1"
                                                    aria-expanded="false" aria-controls="collapseExample"> 排程功能設定 <i
                                                        class="mdi mdi-unfold-more-horizontal f-22"></i></button>
                                            </h3>
                                        </div>
                                        <div class="collapse show" id="collapseExample1">
                                            <div class="card-block">
                                                <form method="POST">
                                                    <input type="hidden" name="scheduler_setting" />
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-6">

                                                                <div class="checkbox checkbox-primary checkbox-fill">
                                                                    <input type="checkbox" name="reschedule_timer_check"
                                                                        id="checkbox-fill-1" data-toggle="collapse"
                                                                        data-target="#collapse_reschedule_timer"
                                                                        aria-expanded="false"
                                                                        aria-controls="collapseExample">
                                                                    <label for="checkbox-fill-1"
                                                                        class="cr f-16">系統自動重排</label>
                                                                </div>
                                                                <div class="col-12 collapse"
                                                                    id="collapse_reschedule_timer">
                                                                    <select class="form-control"
                                                                        name="reschedule_timer">
                                                                        <option hidden disabled selected value>系統重排時間設定
                                                                        </option>
                                                                        <optgroup label="定時啟動">
                                                                            <option value="4">4 小時</option>
                                                                            <option value="12">12 小時</option>
                                                                            <option value="24">24 小時</option>
                                                                        </optgroup>
                                                                        <optgroup label="事件驅動">
                                                                            <option value="event">依異常事件</option>
                                                                        </optgroup>
                                                                    </select>
                                                                </div>

                                                            </div>

                                                            <div class="col-6">

                                                                <div class="checkbox checkbox-primary checkbox-fill">
                                                                    <input type="checkbox"
                                                                        name="sequencing_method_check"
                                                                        id="checkbox-fill-2" data-toggle="collapse"
                                                                        data-target="#collapse_sequencing_method"
                                                                        aria-expanded="false"
                                                                        aria-controls="collapseExample">
                                                                    <label for="checkbox-fill-2"
                                                                        class="cr f-16">工作排序優化</label>
                                                                </div>
                                                                <div class="col-12 collapse"
                                                                    id="collapse_sequencing_method">
                                                                    <select class="form-control"
                                                                        name="sequencing_method">
                                                                        <option hidden disabled selected value>排序優化設定
                                                                        </option>
                                                                        <optgroup label="[EDD] 交期優先排序">
                                                                            <option value="job_due">工作交期與類型 (最大化準交率)
                                                                            </option>
                                                                            <option value="order_due">工單交期與類型
                                                                                (減少在製品數)</option>
                                                                        </optgroup>
                                                                        <optgroup label="[FIFO] 先進先出排序">
                                                                            <option value="order_date">下單時間與類型
                                                                            </option>
                                                                        </optgroup>
                                                                    </select>
                                                                </div>


                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-6">

                                                                <div class="checkbox checkbox-primary checkbox-fill">
                                                                    <input type="checkbox" name="ml_model_check"
                                                                        id="checkbox-fill-3" data-toggle="collapse"
                                                                        data-target="#collapse_ml_model"
                                                                        aria-expanded="false"
                                                                        aria-controls="collapseExample">
                                                                    <label for="checkbox-fill-3"
                                                                        class="cr f-16">自動預估工時</label>
                                                                </div>
                                                                <div class="col-12 collapse" id="collapse_ml_model">
                                                                    <select class="form-control" name="ml_model">
                                                                        <option hidden disabled selected value>模型設定
                                                                        </option>
                                                                        <optgroup label="AI預測">
                                                                            <option value="BPNN">BPNN 機器學習模型</option>
                                                                        </optgroup>
                                                                    </select>
                                                                </div>

                                                            </div>

                                                            <div class="col-6">

                                                                <div class="checkbox checkbox-primary checkbox-fill">
                                                                    <input type="checkbox"
                                                                        name="dispatching_method_check"
                                                                        id="checkbox-fill-4" data-toggle="collapse"
                                                                        data-target="#collapse_dispatching_method"
                                                                        aria-expanded="false"
                                                                        aria-controls="collapseExample">
                                                                    <label for="checkbox-fill-4"
                                                                        class="cr f-16">多資源自動派工</label>
                                                                </div>
                                                                <div class="col-12 collapse"
                                                                    id="collapse_dispatching_method">
                                                                    <select class="form-control"
                                                                        name="dispatching_method">
                                                                        <option hidden disabled selected value>派工設定
                                                                        </option>
                                                                        <option value=true>依序搜尋最早可完成之資源，如有閒置時間可提前生產
                                                                            (最大化產能利用率)</option>
                                                                        <option value=false>依序搜尋最早可完成之資源，不可提前生產
                                                                            (減少在製品數)</option>
                                                                    </select>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="form-group row m-t-20">

                                                            <div class="col-md-12">

                                                                <button type="submit"
                                                                    class="btn btn-primary float-right">確認變更</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>
                                                <button class="btn btn-lg btn-secondary float-left" type="button"
                                                    data-toggle="collapse" data-target="#collapseMaterial"
                                                    aria-expanded="false" aria-controls="collapseExample"> 物料功能設定 <i
                                                        class="mdi mdi-unfold-more-horizontal f-22"></i></button>
                                            </h3>
                                        </div>
                                        <div class="collapse" id="collapseMaterial">
                                            <div class="card-block">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <form class="form">
                                                                <div class="checkbox checkbox-primary checkbox-fill">
                                                                    <input type="checkbox" name="checkbox-fill-5"
                                                                        id="checkbox-fill-5" checked>
                                                                    <label for="checkbox-fill-5"
                                                                        class="cr f-16">物料計算</label>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="col-6">
                                                            <form class="form">
                                                                <div class="checkbox checkbox-primary checkbox-fill">
                                                                    <input type="checkbox" name="checkbox-fill-6"
                                                                        id="checkbox-fill-6" checked>
                                                                    <label for="checkbox-fill-6"
                                                                        class="cr f-16">缺料需求時間計算</label>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>
                                                <button class="btn btn-lg btn-secondary float-left" type="button"
                                                    data-toggle="collapse" data-target="#collapseCalendar"
                                                    aria-expanded="false" aria-controls="collapseCalendar"> 廠區行事暦設定 <i
                                                        class="mdi mdi-unfold-more-horizontal f-22"></i></button>
                                            </h3>
                                        </div>
                                        <div class="collapse" id="collapseCalendar">
                                            <div class="card-block">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div id='external-events' class="external-events">
                                                            <div>
                                                                <select class="form-control">
                                                                    <option value="WH">一廠 (自動線)</option>
                                                                    <option value="NEW">新增...</option>
                                                                </select>
                                                            </div>
                                                            <br>
                                                            <br>
                                                            <h5>新增</h5>
                                                            <div class='fc-event'>工作日</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-10">
                                                        <div id='calendar' class='calendar'></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>
                                                <button class="btn btn-lg btn-secondary float-left" type="button"
                                                    data-toggle="collapse" data-target="#collapseShift"
                                                    aria-expanded="false" aria-controls="collapseShift"> 工作班表設定 <i
                                                        class="mdi mdi-unfold-more-horizontal f-22"></i></button>
                                            </h3>
                                        </div>
                                        <div class="collapse" id="collapseShift">
                                            <div class="card-block">
                                                <div class="col-12">
                                                    <h5>Events</h5>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <div>
                                                                <div>
                                                                    <select class="form-control">
                                                                        <option value="WH">日班 (現場)</option>
                                                                        <option value="NEW">新增...</option>
                                                                    </select>
                                                                </div>
                                                                <br>
                                                                <br>
                                                                <h5>新增</h5>
                                                                <button type="button"
                                                                    class="btn btn-primary btn-sm btn-block">工作時段</button>
                                                            </div>
                                                        </div>
                                                        <div class="col-10">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <h6>開始</h6>
                                                                    <hr>
                                                                    <input type="text" id="time-start"
                                                                        class="form-control" placeholder="Time">
                                                                </div>
                                                                <div class="col-6">
                                                                    <h6>結束</h6>
                                                                    <hr>
                                                                    <input type="text" id="time-end"
                                                                        class="form-control" placeholder="Time">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <hr>
                                                                    <input type="text" id="time-start-2"
                                                                        class="form-control" placeholder="Time">
                                                                </div>
                                                                <div class="col-6">
                                                                    <hr>
                                                                    <input type="text" id="time-end-2"
                                                                        class="form-control" placeholder="Time">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>
                                                <button class="btn btn-lg btn-secondary float-left" type="button"
                                                    data-toggle="collapse" data-target="#collapseExample2"
                                                    aria-expanded="false" aria-controls="collapseExample"> 異常代碼設定 <i
                                                        class="mdi mdi-unfold-more-horizontal f-22"></i></button>
                                            </h3>
                                        </div>
                                        <div class="collapse" id="collapseExample2">
                                            <div class="row">
                                                <!-- [ task-list ] start -->
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h3>
                                                                <button type="button"
                                                                    class="btn btn-rounded btn-outline-success float-right"
                                                                    data-toggle="modal"
                                                                    data-target="#ErrorModal">新增異常代碼</button>
                                                            </h3>
                                                        </div>
                                                        <div class="card-block task-data">
                                                            <div class="table-responsive form-material">
                                                                <table id="simpletable"
                                                                    class="table task-list-table table-striped table-bordered nowrap">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>類別</th>
                                                                            <th>異常原因</th>
                                                                            <th>異常代碼</th>
                                                                            <th>動作</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody class="task-page">
                                                                        {% for eid in ERROR_TABLE %}
                                                                        <tr>
                                                                            {% if ERROR_TABLE[eid]["error_type"] == '資源'%}
                                                                            <td>資源異常</td>
                                                                            {% else %}
                                                                            <td>工作異常</td>
                                                                            {% endif %}
                                                                            <td>{{ERROR_TABLE[eid]["error_group"]}}</td>
                                                                            <td>[{{eid}}] {{ERROR_TABLE[eid]["error_code"]}}</td>
                                                                            <td><a class="btn btn-sm btn-outline-secondary"
                                                                                    href="#" role="button">刪除</a></td>
                                                                        </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- [ task-list ] end -->

                                                <div class="modal fade" id="ErrorModal" tabindex="-1" role="dialog"
                                                    aria-labelledby="ErrorModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="ErrorModalLabel">新增異常設定</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close"><span
                                                                        aria-hidden="true">&times;</span></button>
                                                            </div>
                                                            <form method="POST">
                                                                <input type="hidden" name="abnormal" value="insert_error" />
                                                                <div class="modal-body">
                                                                    <label for="error_type"
                                                                            class="col-form-label">異常類別</label>
                                                                    <div class="form-group">
                                                                    <select class="custom-select" required name="error-type">
                                                                        <option hidden disabled selected value>異常類別</option>
                                                                        
                                                                        <option value="工作">工作異常</option>
                                                                        <option value="資源">資源異常</option>
                                                                    </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="error_group"
                                                                            class="col-form-label">異常原因</label>
                                                                        <input type="text" class="form-control"
                                                                             name="error-group" required >
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="error_code"
                                                                            class="col-form-label">異常代碼</label>
                                                                        <input type="text" class="form-control"
                                                                                name="error-code" required >
                                                                    </div>

                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">取消</button>
                                                                    <button type="submit"
                                                                        class="btn btn-primary">確認</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Data tables.js -->
<script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>
<!-- select2 Js -->
<script src="/static/assets/plugins/select2/js/select2.full.min.js"></script>

<script type="text/javascript">
    setTimeout(function () {
        $('#simpletable').DataTable();
        $('#time-start').bootstrapMaterialDatePicker({
            date: false,
            format: 'HH:mm'
        });

        $('#time-end').bootstrapMaterialDatePicker({
            date: false,
            format: 'HH:mm'
        });
        $('#time-start-2').bootstrapMaterialDatePicker({
            date: false,
            format: 'HH:mm'
        });

        $('#time-end-2').bootstrapMaterialDatePicker({
            date: false,
            format: 'HH:mm'
        });
    }, 600);
</script>

<!-- Full calendar js -->
<script src="/static/assets/plugins/fullcalendar/js/lib/moment.min.js"></script>
<script src="/static/assets/plugins/fullcalendar/js/lib/jquery-ui.min.js"></script>
<script src="/static/assets/plugins/fullcalendar/js/fullcalendar.min.js"></script>

<script type="text/javascript">
    // Full calendar
    $(window).on('load', function () {
        $('#external-events .fc-event').each(function () {
            $(this).data('event', {
                title: $.trim($(this).text()),
                // stick: true
            });
            $(this).draggable({
                zIndex: 999,
                revert: true,
                revertDuration: 0
            });
        });
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultDate: '2021-03-08',
            editable: true,
            droppable: true,
            events: [{
                title: '工作日',
                start: '2021-03-01',
                borderColor: '#04a9f5',
                backgroundColor: '#04a9f5',
                textColor: '#fff'
            }, {
                title: '工作日',
                start: '2021-03-02',
                borderColor: '#04a9f5',
                backgroundColor: '#04a9f5',
                textColor: '#fff'
            }],
        });
    });
</script>

<!-- material datetimepicker Js -->
<script src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
<script src="/static/assets/plugins/material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>


<!-- form-picker-custom Js -->
<!-- <script src="/static/assets/js/pages/form-picker-custom.js"></script> -->

{% endblock javascripts %}