{% extends "layouts/base.html" %}

{% block title %} Shop Floor {% endblock %} 

{% block stylesheets %}

    <!-- gridstack css -->
    <link rel="stylesheet" href="/static/assets/plugins/gridstack/css/gridstack.min.css">
    <!-- gridstack-custom css -->
    <link rel="stylesheet" href="/static/assets/css/pages/gridstack.css">

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <!-- <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#!">Shop Floor</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body stack-mobile">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ gridstack ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>工作中心 <span class="badge badge-light f-12">配線</span></h5>
                                        </div>
                                        <div class="card-block">
                                            <a class="btn btn-primary float-right" id="add-new-widget" href="#!">  <i class="feather icon-plus"></i>新增看板</a>
                                            <div class="clearfix"></div>
                                            <hr>
                                            <div class="grid-stack" data-gs-width="12" data-gs-animate="yes">
                                                <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="2" data-gs-height="4">
                                                    <div class="grid-stack-item-content bg-c-blue">
                                                        <div class="card-block text-center">
                                                            <h4>前段</h4>
                                                            
                                                        </div> 
                                                    </div>
                                                </div>
                                                <div class="grid-stack-item" data-gs-x="0" data-gs-y="4" data-gs-width="2" data-gs-height="4">
                                                    <div class="grid-stack-item-content bg-c-blue">
                                                        <div class="card-block text-center">
                                                            <h4>成組</h4>
                                                            
                                                        </div> 

                                                    </div>
                                                </div>

                                                <div class="grid-stack-item" data-gs-x="0" data-gs-y="8" data-gs-width="2" data-gs-height="4">
                                                    <div class="grid-stack-item-content bg-c-blue">
                                                        <div class="card-block text-center">
                                                            <h4>配線</h4>
                                                            
                                                        </div> 
                                                    </div>
                                                </div>
                                                <div class="grid-stack-item" data-gs-x="2" data-gs-y="0" data-gs-width="4" data-gs-height="4">
                                                    <div class="grid-stack-item-content">
                                                        <div class="card-block text-center col-12">
                                                            <div class="card project-task">
                                                                <div class="card-block">
                                                                    <div class="row align-items-center justify-content-center">
                                                                        <h5 class="text-left"><i class="fas fa-cogs"></i> M001 裁壓機</h5>
                                                                    </div>
                                                                    <h6 class="text-left text-muted mt-4 mb-3">進行中工單 <span class="badge badge-light f-12">MAA2060429</span></h6>
                                                                    <div class="progress">
                                                                        <div class="progress-bar progress-c-theme" role="progressbar" style="width:50%;height:6px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                                    </div>
                                                                    <h6 class="mt-3 mb-0 text-left text-muted">預計結束 <span class="badge badge-dark f-12">2020/08/28 16：30</span></h6>
                                                                    <h6 class="mt-3 mb-0 text-left text-muted">下一工單 <span class="badge badge-dark f-12">MAA2060433</span><i class="fas fa-circle text-c-green f-10"></i></h6>

                                                                </div>

                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="trash text-center"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ gridstack ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                        <div class="error-block">
                            <div class="card text-center">
                                <div class="card-block">
                                    <i class="feather icon-alert-triangle text-c-yellow f-50"></i>
                                    <h4 class="f-w-600 m-t-10">Not supported</h4>
                                    <p class="text-muted m-b-0">Gridstack not supported in this device</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- gridstack Js -->
    <script src="/static/assets/plugins/jquery-ui/js/jquery-ui.js"></script>
    <script src="/static/assets/plugins/gridstack/js/lodash.min.js"></script>
    <script src="/static/assets/plugins/gridstack/js/gridstack.min.js"></script>
    <script src="/static/assets/plugins/gridstack/js/gridstack.jQueryUI.min.js"></script>
    <script src="/static/assets/js/pages/ac-gridstack.js"></script>

{% endblock javascripts %}
