{% extends "layouts/base.html" %}

{% block title %} Forecast {% endblock %} 

{% block stylesheets %}

    <!-- data tables css -->
    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">  
                                <!-- [ user activity section ] start -->
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>缺料管控表
                                                <button type="button" class="btn btn-rounded btn-outline-success float-right">匯出Excel</button>
                                            </h3>
                                        </div>

                                        <div class="card-block">
                                            <div class="table-responsive">
                                                <table id="simpletable" class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>物料編號</th>
                                                            <th>缺料數量</th>
                                                            <th>單位</th>
                                                            <th>需求日期</th>
                                                            <th>回押交期</th>
                                                            <th>狀態</th>
                                                            <th>動作</th>                                                   
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">P10-B</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">20</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">PCS</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/08/22</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/08/23</h6>
                                                            </td>
                                                            <td>                                                        
                                                                <span class="badge badge-danger f-12">延遲</span>
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-sm btn-outline-secondary" href="/material_control_report.html" role="button">回報</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">JP-1007</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">10</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">PCS</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/08/22</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/08/20</h6>
                                                            </td>
                                                            <td>                                                        
                                                                <span class="badge badge-success f-12">進行中</span>
                                                            </td>                                                            <td>
                                                                <a class="btn btn-sm btn-outline-secondary" href="/material_control_report.html" role="button">回報</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">CMD-1007</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">10</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">PCS</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/08/22</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/08/21</h6>
                                                            </td>
                                                            <td>                                                        
                                                                <span class="badge badge-success f-12">進行中</span>
                                                            </td>                                                              <td>
                                                                <a class="btn btn-sm btn-outline-secondary" href="/material_control_report.html" role="button">回報</a>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                    <!-- <tfoot>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Position</th>
                                                            <th>Office</th>
                                                            <th>Age</th>
                                                            <th>Start date</th>
                                                            <th>Salary</th>
                                                        </tr>
                                                    </tfoot> -->
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- [ user activity section ] end --> 
                               
                            </div>
                            <div class="row">
                                <!-- [ task-list ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>物料列表
                                                <button type="button" class="btn btn-rounded btn-outline-success float-right">匯出Excel</button>
                                                <a href="/create-material.html"><button type="button" class="btn btn-rounded btn-outline-primary float-right">新增</button></a>
                                            </h3>
                                        </div>
                                        <div class="card-block task-data">
                                            <div class="table-responsive form-material">
                                                <table id="simpletable2" class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>物料編號</th>
                                                            <th>物料類型</th>                                                           
                                                            <th>庫存數量</th>
                                                            <th>可調用量</th>
                                                            <th>單位</th>
                                                            <th>備料時間(天)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="task-page">
                                                        {% for index in MATERIAL%}
                                                        <tr>
                                                            <td><a class="btn btn-sm btn-dark" href="/process-detail.html">{{MATERIAL[index]["material_name"]}}</a></td>
                                                            {% if  MATERIAL[index]["material_type"] %}
                                                            <td>{{MATERIAL[index]["material_type"]}}</td>
                                                            {% else %}
                                                            <td></td>
                                                            {% endif %}
                                                            <td>{{MATERIAL[index]["inventory"]}}</td>
                                                            <td>{{MATERIAL[index]["available"]}}</td>
                                                            <td>{{MATERIAL[index]["unit"]}}</td>
                                                            <td>{{ MATERIAL[index]["lead_time"] }}</td>
                                                        </tr>
                                                       {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- [ task-list ] end -->
                            </div>

                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- datatable Js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
            $('#simpletable2').DataTable();
        }, 200);
    </script>


{% endblock javascripts %}
