{% extends "layouts/base.html" %}

{% block title %} Report {% endblock %} 

{% block stylesheets %}

    <!-- data tables css -->
    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <!-- <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#!">外包報表</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> 
                    </div> -->
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">

                                <!-- [ HTML5 Export button ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>外包管控表</h3>
                                            
                                            {% if JOB_TABLE is defined %}
                                            <form action="/export_outsourcing_csv" method="POST">
                                                <input type="hidden" name="data" value="{{ JOB_TABLE }}" />
                                            
                                                
                                                <button type="submit" class="btn btn-rounded btn-outline-success float-right">匯出Excel</button>
                                                
                                            </a>
                                            </form>
                                            {% else %}
                                            <a href="#"><button type="button" class="btn btn-rounded btn-outline-success float-right">匯出Excel</button></a>
                                            {% endif %}

                                            
                                            
                                        </div>
                                        <div class="card-block">
                                            <div class="table-responsive">
                                                <table id="simpletable1" class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>工單編號</th>
                                                            <th>料號</th>
                                                            <th>製程名稱</th>
                                                            <th>預計發包</th>
                                                            <th>預計回廠</th>
                                                            <th>實際發包</th>
                                                            <th>實際回廠</th> 
                                                            <th>狀態</th>
                                                            <th>動作</th>                                                   
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for jid in JOB_TABLE %}
                                                        <tr>
                                                            <td>{{JOB_TABLE[jid]["project_name"] }}</td>
                                                            <td>{{JOB_TABLE[jid]["product_name"] }}</td>
                                                            <td>{{JOB_TABLE[jid]["job_name"] }}</td>

                                                            {% if JOB_TABLE[jid]["plan_start_time"] %}
                                                            <td> 
                                                                {{JOB_TABLE[jid]["plan_start_time"] }}
                                                            </td>
                                                            {%else%}
                                                            <td></td>
                                                            {%endif%}
                                                            {% if JOB_TABLE[jid]["plan_end_time"] %}
                                                            <td> 
                                                                {{JOB_TABLE[jid]["plan_end_time"] }}
                                                            </td>
                                                            {%else%}
                                                            <td></td>
                                                            {%endif%}

                                                            {% if JOB_TABLE[jid]["real_start_time"] %}
                                                            <td> 
                                                                {{JOB_TABLE[jid]["real_start_time"] }}
                                                            </td>
                                                            {%else%}
                                                            <td></td>
                                                            {%endif%}

                                                            {% if JOB_TABLE[jid]["real_end_time"] %}
                                                            <td> 
                                                                {{JOB_TABLE[jid]["real_end_time"] }}
                                                            </td>
                                                            {%else%}
                                                            <td></td>
                                                            {%endif%}


                                                            <td>
                                                                {% if JOB_TABLE[jid]["real_start_time"] %}
                                                                <i class="fas fa-circle text-success f-10"></i>
                                                                {% else %}
                                                                <i class="fas fa-circle text-secondary f-10"></i>
                                                                {%endif%}
                                                            
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-sm btn-outline-secondary" href="#" role="button">回報</a>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        
                                                    </tbody>
                                                    
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                    <div class="card-block task-data">
                                        <h5>外包列表</h5>
                                        <!-- {% if RESOURCE_TABLE is defined %}
                                        <form action="/export_resource_csv" method="POST">
                                            <input type="hidden" name="data" value="{{ RESOURCE_TABLE }}" />


                                            <button type="submit"
                                                class="btn btn-rounded btn-outline-success float-right">匯出Excel</button>

                                            </a>
                                        </form>
                                        {% else %}
                                        <a href="#"><button type="button"
                                                class="btn btn-rounded btn-outline-success float-right">匯出Excel</button></a>
                                        {% endif %} -->
                                        <div class="table-responsive form-material">
                                            <table id="simpletable2"
                                                class="table task-list-table table-striped table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        
                                                        <th>人員編號</th>
    
                                                        <th>製程能力(技能)</th>
                                                        <th>多工作業</th>
    
                                                        <th>排程鎖定</th>
                                                        
    
                                                        <th class="float-right">動作</th>
    
                                                    </tr>
                                                </thead>
                                                <tbody class="task-page">
                                                    {% for rid in RESOURCE_TABLE %}
                                                    <tr>
                                                        <form method="POST">
    
                                                            <td><a class="btn btn-sm btn-dark"
                                                                    href="/resource_schedule?rid={{rid}}">{{
                                                                        RESOURCE_TABLE[rid]["resource_name"] }}</a>
                                                                <span class="badge badge-success f-12">{{RESOURCE_TABLE[rid]["status"]}}</span>
                                                            </td>
    
                                                            <!-- <td>
                                                                {% for prc in RESOURCE_TABLE[rid]["process"] %}
                                                                <a class="btn btn-sm btn-dark" href="#">{{prc}}</a>
                                                                {% endfor %}
                                                            </td> -->
    
                                                            <td>
    
                                                                <!-- <a class="btn btn-sm btn-dark"
                                                                    href="/add-process.html">+</a> -->
                                                                {% for job in RESOURCE_TABLE[rid]["job_name"] %}
                                                                <a class="btn btn-sm btn-dark"
                                                                    href="/process-detail.html">{{job}}</a>
                                                                {% endfor %}
                                                            </td>
                                                            <td>
                                                                <select class="btn btn-sm btn-muted text-white"
                                                                name="allow_overlapped">
                                                                <option hidden disabled selected
                                                                    value="{{RESOURCE_TABLE[rid]['allow_overlapped_capacity']}}">
                                                                    {{RESOURCE_TABLE[rid]['allow_overlapped_capacity']}}</option>
                                                                    {% for i in range(25) %}
                                                                    <option value="{{i}}">{{i}}</option>
                                                                    {% endfor %}>
                                                                    <option value="unlimited">無限產能</option>
                                                            </select>
                                                            </td>
                                                            
                                                            <td>
                                                                <select class="btn btn-sm btn-muted text-white"
                                                                    name="lock_time">
                                                                    <option hidden disabled selected
                                                                        value="{{RESOURCE_TABLE[rid]['lock_time']}}">
                                                                        {{RESOURCE_TABLE[rid]['lock_time']}}小時</option>
                                                                    {% for i in range(25) %}
                                                                    <option value="{{i}}">{{i}}小時</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </td>
                                                            
                                                            
    
    
                                                            <td>
                                                                <button class="btn btn-sm btn-outline-success float-right"
                                                                    type="submit" value="{{rid}}" name="rid">儲存</button>
                                                                
                                                            </td>
                                                        </form>
                                                    </tr>
                                                    
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
    
                                    </div>
                                </div>
                                </div>
                                
                                <!-- [ HTML5 Export button ] end -->

                            
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- Data tables.js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable1').DataTable();
        }, 200);
        setTimeout(function() {
            $('#simpletable2').DataTable();
        }, 200);
    </script>

{% endblock javascripts %}
