{% extends "layouts/base.html" %}

{% block title %} Report {% endblock %} 

{% block stylesheets %}

    <!-- data tables css -->
    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <!-- <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#!">外包報表</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> 
                    </div> -->
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">

                                <!-- [ HTML5 Export button ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>外包管控表
                                                <button type="button" class="btn btn-rounded btn-outline-success float-right">匯出Excel</button>
                                            </h3>
                                        </div>
                                        <div class="card-block">
                                            <div class="table-responsive">
                                                <table id="simpletable" class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>工單編號</th>
                                                            <th>製程名稱</th>
                                                            <th>預計發包</th>
                                                            <th>預計回廠</th>
                                                            <th>實際發包</th>
                                                            <th>實際回廠</th> 
                                                            <th>狀態</th>
                                                            <th>動作</th>                                                   
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>MAA2070713</td>
                                                            <td>M50-網板製作(A)</td>
                                                            <td>2020-08-12 19:05:06+00</td>
                                                            <td>2020-08-14 19:05:06+00</td>
                                                            <td>2020-08-12 20:00:00+00</td>
                                                            <td></td>
                                                            <td><i class="fas fa-circle text-success f-10"></i></td>
                                                            <td>
                                                                <a class="btn btn-sm btn-outline-secondary" href="#" role="button">回報</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>MAA2070714</td>
                                                            <td>M50-網板製作</td>
                                                            <td>2020-08-12 23:30:00+00</td>
                                                            <td>2020-08-14 23:30:00+00</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td><i class="fas fa-circle text-secondary f-10"></i></td>
                                                            <td>
                                                                <a class="btn btn-sm btn-outline-secondary" href="#" role="button">回報</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <!-- <tfoot>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Position</th>
                                                            <th>Office</th>
                                                            <th>Age</th>
                                                            <th>Start date</th>
                                                            <th>Salary</th>
                                                        </tr>
                                                    </tfoot> -->
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ HTML5 Export button ] end -->

                            
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- Data tables.js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
        }, 200);
    </script>

{% endblock javascripts %}
