{% extends "layouts/base.html" %}

{% block title %} Users {% endblock %} 

{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <!-- <section class="pcoded-main-container"> -->
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <!-- <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Task List</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#!">Task</a></li>
                                        <li class="breadcrumb-item"><a href="#!">Task List</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ task-list ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>資料查詢</h5>
                                        </div>
                                        <div class="card-block">
                                            <h5>從使用者中找到 {{ user_count }} 筆相關資料</h5>
                                            
                                            <div class="table-responsive form-material">
                                                <table id="simpletable" class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>username</th>
                                                            <th>email</th>
                                                            <th>role</th>
                                                            <th>last_seen</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="task-page">
                                                        {% for user in users %}
                                                        <tr>
                                                            <td>{{ user.username }}</td>
                                                            <td>{{ user.email }}</td>
                                                            <td>{{ user.role }}</td>
                                                            <td>{{ user.last_seen }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>                    
                                        </div>
                                        <div class="card-block">
                                            <h5>從資源中找到 {{ resource_count }} 筆相關資料</h5>
                                            
                                            <div class="table-responsive form-material">
                                                <table id="simpletable" class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>name</th>
                                                            <th>description</th>
                                                            <th>work_center</th>
                                                            <th>resource_type</th>
                                                            <th>detail</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="task-page">
                                                        {% for resource in resources %}
                                                        <tr>
                                                            <td>{{ resource.name }}</td>
                                                            <td>{{ resource.description }}</td>
                                                            <td>{{ resource.work_center }}</td>
                                                            <td>{{ resource.resource_type }}</td>
                                                            <td>{{ resource.detail.model }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>                    
                                        </div>
                                    </div>
                                </div>
                                <!-- [ task-list ] end -->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </section> -->
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}


{% endblock javascripts %}
