<link rel="stylesheet" href="/static/assets/fonts/material/css/materialdesignicons.min.css">

    <header class="navbar pcoded-header navbar-expand-lg navbar-light">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse1" href="#!"><span></span></a>
            <a href="/" class="b-brand">
               <div class="b-bg">
                   <i class="feather icon-share-2"></i>
               </div>
               <span class="b-title">SARA FACTORY</span>
           </a>
        </div>
        <a class="mobile-menu" id="mobile-header" href="#!">
            <i class="feather icon-more-horizontal"></i>
        </a>
        <div class="collapse navbar-collapse">
            
            <ul class="navbar-nav ml-auto">
                

                {% if g.search_form %}
                <li>
                    <form method="get"
                        action="{{ url_for('base_blueprint.search') }}">
                        
                        <div class="form-group">
                            {{ g.search_form.q(size=12, class='form-control',
                                placeholder=g.search_form.q.label.text) }}
                        </div>
                    </form>
                </li>


                {% endif %}
                
                <li>
                    <a href="/order-list.html"><i class="mdi mdi-checkbox-multiple-marked-outline f-30" data-toggle="tooltip" data-placement="bottom" title="執行介面"></i> </a></li>
                </li>
                <li>
                    <a href="/gantt"><i class="mdi mdi-chart-areaspline f-30" data-toggle="tooltip" data-placement="bottom" title="報表介面"></i> </a></li>
                </li>
                <li>
                    <a href="/gantt"><i class="mdi mdi-chart-gantt f-30" data-toggle="tooltip" data-placement="bottom" title="排程介面"></i> </a></li>
                </li>
                <li>
                    <a href="/order-list.html"><i class="mdi mdi-monitor-dashboard f-30" data-toggle="tooltip" data-placement="bottom" title="管理介面"></i> </a></li>
                </li>
                
                <li>
                    <div class="dropdown drp-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- <i class="text-c-green icon feather icon-user"></i>  -->
                            <i class="feather icon-user f-30 text-white"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <div class="pro-head">
                                <!-- <img src="/static/assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image"> -->
                                <span>{{ current_user.username }}</span>
                            </div>
                            <ul class="pro-body">
                                <li><a href="#!" class="dropdown-item"><i class="feather icon-settings text-warning"></i> 系統設定</a></li>
                                <li><a href="#!" class="dropdown-item"><i class="feather icon-users"></i> 使用者管理</a></li>
                                <li><a href="/get-started" class="dropdown-item"><i class="feather icon-help-circle text-info"></i> 操作說明</a></li>
                                <li>
                                    <a href={{ url_for('base_blueprint.logout') }} class="dropdown-item">
                                        <i class="feather icon-log-out"></i> 登出
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        
        
    </header>
