
    <nav class="pcoded-navbar navbar-dark brand-dark">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="/" 
                   target="_blank" class="b-brand">
                    <!-- <div class="b-bg">
                        <i class="feather icon-navigation-2"></i>
                    </div> -->
                    <span class="b-title">SARA</span>
                </a>
                <!-- <a class="mobile-menu" id="mobile-collapse" href="#"><span></span></a> -->
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <!-- <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li> -->
                    <!-- <li data-username="dashboard home 總覽" class="nav-item pcoded-hasmenu active pcoded-trigger"> -->
                    <li class="nav-item pcoded-menu-caption">
                        <label>DASHBOARD</label>
                    </li>
                    <!-- <li data-username="overview 總覽" class="nav-item"><a href="/order-analytics.html" class="nav-link"><span class="pcoded-micon"><i class="feather icon-globe"></i></span><span class="pcoded-mtext">決策分析</span></a></li> -->

                    <li data-username="overview 總覽" class="nav-item"><a href="/" class="nav-link"><span class="pcoded-micon"><i class="feather icon-grid"></i></span><span class="pcoded-mtext">即時總覽</span></a></li>
                    <li data-username="forecast 風險 瓶頸 缺料" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-activity"></i></span><span class="pcoded-mtext">數據分析</span></a>
                        <ul class="pcoded-submenu">
                            <!-- <li class=""><a href="/predict-loading.html" class="">產能負荷</a></li> -->
                            <li class=""><a href="/delay-orders.html" class="">工單逾時</a></li>
                            <li class=""><a href="/bottleneck-analytics.html" class="">製程瓶頸</a></li>
                            <li class=""><a href="/material-analytics.html" class="">物料短缺</a></li>
                        </ul> 
                    </li>
                    <li data-username="orders 工單" class="nav-item"><a href="/work-center.html" class="nav-link"><span class="pcoded-micon"><i class="feather icon-play"></i></span><span class="pcoded-mtext">各站排程</span></a></li>



                    <li class="nav-item pcoded-menu-caption">
                        <label>MANAGEMENT</label>
                    </li>
                    <li data-username="orders 工單" class="nav-item"><a href="/order-list.html" class="nav-link"><span class="pcoded-micon"><i class="feather icon-layers"></i></span><span class="pcoded-mtext">工單</span></a></li>
                    <li data-username="jobs 工作" class="nav-item"><a href="/job-list.html" class="nav-link"><span class="pcoded-micon"><i class="fas fa-tasks"></i></span><span class="pcoded-mtext">工作</span></a></li>
                    <li data-username="processes 製程" class="nav-item"><a href="/process-list.html" class="nav-link"><span class="pcoded-micon"><i class="feather icon-settings"></i></span><span class="pcoded-mtext">製程</span></a></li>
                    <li data-username="resources 資源" class="nav-item"><a href="/resource-list.html" class="nav-link"><span class="pcoded-micon"><i class="feather icon-share-2"></i></span><span class="pcoded-mtext">資源</span></a></li>
                    <li data-username="materials 物料" class="nav-item"><a href="/material-list.html" class="nav-link"><span class="pcoded-micon"><i class="feather icon-package"></i></span><span class="pcoded-mtext">物料</span></a></li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>REPORT</label>
                    </li>
                    <li data-username="報表 Report 資源績效 缺料採購 製程外包" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-check-square"></i></span><span class="pcoded-mtext">即時報表</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/order-analytics.html" class="">工時分析</a></li>
                            <li class=""><a href="/performance-analytics.html" class="">資源績效</a></li>
                            <li class=""><a href="/tbl_datatable_outsourcing.html" class="">缺料管控</a></li>
                            <li class=""><a href="/tbl_datatable_outsourcing.html" class="">加班調度</a></li>    
                            <li class=""><a href="/tbl_datatable_outsourcing.html" class="">外包管控</a></li>
                        </ul>
                    </li>

                    <!-- <li class="nav-item pcoded-menu-caption">
                        <label>HISTORIES</label>
                    </li>
                    <li data-username="processes 製程" class="nav-item"><a href="/history.html" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">歷程記錄</span></a></li> -->


                    <li class="nav-item pcoded-menu-caption">
                        <label>ADMIN</label>
                    </li>
                    <!-- <li data-username="使用者管理 系統設定 settings users administrator" class="nav-item"><a href="{{ url_for('base_blueprint.user_list') }}" class="nav-link"><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">使用者管理</span></a></li> -->
                    <!-- <li data-username="使用者管理 系統設定 settings users administrator" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">使用者管理</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/auth-signup.html" class="" target="_blank">Sign up</a></li>
                            <li class=""><a href="/auth-signup-v2.html" class="" target="_blank">Sign up v2<span class="pcoded-badge label label-primary">New</span></a></li>
                            <li class=""><a href="/auth-signup-v3.html" class="" target="_blank">Sign up v3<span class="pcoded-badge label label-primary">New</span></a></li>
                            <li class=""><a href="/auth-signup-v4.html" class="" target="_blank">Sign up v4<span class="pcoded-badge label label-primary">New</span></a></li>
                            <li class=""><a href="/auth-signup-v5.html" class="" target="_blank">Sign up v5<span class="pcoded-badge label label-primary">New</span></a></li>
                            <li class=""><a href="/auth-signin.html" class="" target="_blank">Sign in</a></li>
                            <li class=""><a href="/auth-signin-v2.html" class="" target="_blank">Sign in v2<span class="pcoded-badge label label-primary">New</span></a></li>
                            <li class=""><a href="/auth-signin-v3.html" class="" target="_blank">Sign in v3<span class="pcoded-badge label label-primary">New</span></a></li>
                            <li class=""><a href="/auth-signin-v4.html" class="" target="_blank">Sign in v4<span class="pcoded-badge label label-primary">New</span></a></li>
                            <li class=""><a href="/auth-signin-v5.html" class="" target="_blank">Sign in v5<span class="pcoded-badge label label-primary">New</span></a></li>
                            <li class=""><a href="/auth-reset-password.html" class="" target="_blank">Reset password</a></li>
                            <li class=""><a href="/auth-reset-password-v2.html" class="" target="_blank">Reset password v2<span class="pcoded-badge label label-primary">New</span></a></li>
                            <li class=""><a href="/auth-reset-password-v3.html" class="" target="_blank">Reset password v3<span class="pcoded-badge label label-primary">New</span></a></li>
                            <li class=""><a href="/auth-reset-password-v4.html" class="" target="_blank">Reset password v4<span class="pcoded-badge label label-primary">New</span></a></li>
                            <li class=""><a href="/auth-reset-password-v5.html" class="" target="_blank">Reset password v5<span class="pcoded-badge label label-primary">New</span></a></li>
                            <li class=""><a href="/auth-change-password.html" class="" target="_blank">Change password</a></li>
                            <li class=""><a href="/auth-personal-information.html" class="" target="_blank">Personal information</a></li>
                            <li class=""><a href="/auth-profile-settings.html" class="" target="_blank">Profile settings</a></li>
                            <li class=""><a href="/auth-map-form.html" class="" target="_blank">Map form</a></li>
                            <li class=""><a href="/auth-subscribe.html" class="" target="_blank">Subscribe</a></li>
                        </ul>
                    </li> -->
                    <li data-username="Maintenance Error Comming soon offline ui" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-sliders"></i></span><span class="pcoded-mtext">系統設定</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/maint-comming-soon.html" class="">排程管理</a></li>
                            <li class=""><a href="/alarm-list.html" class="">異常管理</a></li>
                            <li class=""><a href="{{ url_for('base_blueprint.user_list') }}">使用者管理</a></li>
                        </ul>
                    </li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>&copy; 2020 InterAgent.io</label>
                    </li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>UI Element</label>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Basic</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/bc_alert.html" class="">Alert</a></li>
                            <li class=""><a href="/bc_button.html" class="">Button</a></li>
                            <li class=""><a href="/bc_badges.html" class="">Badges</a></li>
                            <li class=""><a href="/bc_breadcrumb-pagination.html" class="">Breadcrumb & Pagination</a></li>
                            <li class=""><a href="/bc_card.html" class="">Cards</a></li>
                            <li class=""><a href="/bc_collapse.html" class="">Collapse</a></li>
                            <li class=""><a href="/bc_carousel.html" class="">Carousel</a></li>
                            <li class=""><a href="/bc_grid.html" class="">Grid system</a></li>
                            <li class=""><a href="/bc_progress.html" class="">Progress</a></li>
                            <li class=""><a href="/bc_modal.html" class="">Modal</a></li>
                            <li class=""><a href="/bc_spinner.html" class="">Spinner<span class="pcoded-badge label label-danger">NEW</span></a></li>
                            <li class=""><a href="/bc_tabs.html" class="">Tabs & pills</a></li>
                            <li class=""><a href="/bc_typography.html" class="">Typography</a></li>
                            <li class=""><a href="/bc_tooltip-popover.html" class="">Tooltip & popovers</a></li>
                            <li class=""><a href="/bc_toasts.html" class="">Toasts<span class="pcoded-badge label label-danger">NEW</span></a></li>
                            <li class=""><a href="/bc_extra.html" class="">Other<span class="pcoded-badge label label-primary">NEW</span></a></li>
                        </ul>
                    </li>
                    <li data-username="advance components Alert gridstack lightbox modal notification pnotify rating rangeslider slider syntax highlighter Tour Tree view Nestable Toolbar" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-gitlab"></i></span><span class="pcoded-mtext">Advance</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/ac_alert.html" class="">Sweet alert</a></li>
                            <li class=""><a href="/ac-datepicker-componant.html" class="">Datepicker</a></li>
                            <li class=""><a href="/ac_gridstack.html" class="">Gridstack</a></li>
                            <li class=""><a href="/ac_lightbox.html" class="">Lightbox</a></li>
                            <li class=""><a href="/ac_modal.html" class="">Modal</a></li>
                            <li class=""><a href="/ac_notification.html" class="">Notification</a></li>
                            <li class=""><a href="/ac_nestable.html" class="">Nestable</a></li>
                            <li class=""><a href="/ac_pnotify.html" class="">Pnotify</a></li>
                            <li class=""><a href="/ac_rating.html" class="">Rating</a></li>
                            <li class=""><a href="/ac_rangeslider.html" class="">Rangeslider</a></li>
                            <li class=""><a href="/ac_slider.html" class="">Slider</a></li>
                            <li class=""><a href="/ac_syntax_highlighter.html" class="">Syntax highlighter</a></li>
                            <li class=""><a href="/ac_tour.html" class="">Tour</a></li>
                            <li class=""><a href="/ac_treeview.html" class="">Tree view</a></li>
                            <li class=""><a href="/ac_toolbar.html" class="">Toolbar</a></li>
                        </ul>
                    </li>
                    <li data-username="extra components Session Timeout Session Idle Timeout Offline" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-package"></i></span><span class="pcoded-mtext">Extra</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/ec-session-timeout.html" class="">Session timeout</a></li>
                            <li class=""><a href="/ec-session-idle-timeout.html" class="">Session idle timeout</a></li>
                            <li class=""><a href="/ec-offline.html" class="">Offline</a></li>
                        </ul>
                    </li>
                    <!-- Bug: missing images referred in the HTML 
                    <li data-username="Animations" class="nav-item"><a href="animation.html" class="nav-link"><span class="pcoded-micon"><i class="feather icon-aperture"></i></span><span class="pcoded-mtext">Animations</span></a></li>
                    -->
                    <li data-username="icons Feather Fontawsome flag material simple line themify" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-feather"></i></span><span class="pcoded-mtext">Icons</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/icon-feather.html" class="">Feather<span class="pcoded-badge label label-danger">NEW</span></a></li>
                            <li class=""><a href="/icon-fontawsome.html" class="">Font Awesome 5<span class="pcoded-badge label label-primary">1000+</span></a></li>
                            <li class=""><a href="/icon-flag.html" class="">Flag</a></li>
                            <li class=""><a href="/icon-material.html" class="">Material</a></li>
                            <li class=""><a href="/icon-simple-line.html" class="">Simple line</a></li>
                            <li class=""><a href="/icon-themify.html" class="">Themify</a></li>
                        </ul>
                    </li>
                    <li data-username="widget Statistic Data Table User card Chart" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-layers"></i></span><span class="pcoded-mtext">Widget</span><span class="pcoded-badge label label-info">100+</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/widget-statistic.html" class="">Statistic</a></li>
                            <li class=""><a href="/widget-data.html" class="">Data</a></li>
                            <li class=""><a href="/widget-table.html" class="">Table</a></li>
                            <li class=""><a href="/widget-user-card.html" class="">User</a></li>
                            <li class=""><a href="/widget-chart.html" class="">Chart</a></li>
                        </ul>
                    </li>        

                    <li data-username="form elements advance componant validation masking wizard picker select" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Forms</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/form_elements.html" class="">Form elements</a></li>
                            <li class=""><a href="/form-elements-advance.html" class="">Form advance</a></li>
                            <li class=""><a href="/form-validation.html" class="">Form validation</a></li>
                            <li class=""><a href="/form-masking.html" class="">Form masking</a></li>
                            <li class=""><a href="/form-wizard.html" class="">Form wizard</a></li>
                            <li class=""><a href="/form-picker.html" class="">Form picker</a></li>
                            <li class=""><a href="/form-select.html" class="">Form select</a></li>
                        </ul>
                    </li>

                    <li data-username="Charts AM Chart js Echart Google Highchart Knob Morris Nvd3 Peity Radial" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/chart-am.html" class="">amChart 4</a></li>
                            <li class=""><a href="/chart-chartjs.html" class="">Chart js</a></li>
                            <li class=""><a href="/chart-echart.html" class="">Echart</a></li>
                            <li class=""><a href="/chart-google.html" class="">Google</a></li>
                            <li class=""><a href="/chart-highchart.html" class="">Highchart</a></li>
                            <li class=""><a href="/chart-knob.html" class="">Knob</a></li>
                            <li class=""><a href="/chart-morris.html" class="">Morris</a></li>
                            <li class=""><a href="/chart-nvd3.html" class="">Nvd3</a></li>
                            <li class=""><a href="/chart-peity.html" class="">Peity</a></li>
                            <li class=""><a href="/chart-radial.html" class="">Radial</a></li>
                        </ul>
                    </li>
                    <li data-username="Maps Google Vector Google Map Search API Location" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/map-google.html" class="">Google</a></li>
                            <li class=""><a href="/map-vector.html" class="">Vector</a></li>
                            <li class=""><a href="/map-api.html" class="">Gmap search API</a></li>
                        </ul>
                    </li>

                    <li data-username="message" class="nav-item"><a href="/message.html" class="nav-link"><span class="pcoded-micon"><i class="feather icon-message-circle"></i></span><span class="pcoded-mtext">Message</span></a></li>
                    <li data-username="Task list board details" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-clipboard"></i></span><span class="pcoded-mtext">Task</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/task-list.html" class="">List</a></li>
                            <li class=""><a href="/task-board.html" class="">Board</a></li>
                            <li class=""><a href="/task-detail.html" class="">Detail</a></li>
                        </ul>
                    </li>
                    <li data-username="To-Do notes" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-check-square"></i></span><span class="pcoded-mtext">To-Do</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/todo.html" class="">To-Do</a></li>
                            <li class=""><a href="/notes.html" class="">Notes</a></li>
                        </ul>
                    </li>
                    <li data-username="Gallery Grid Masonry Advance" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-image"></i></span><span class="pcoded-mtext">Gallery</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/gallery-grid.html" class="">Grid</a></li>
                            <li class=""><a href="/gallery-masonry.html" class="">Masonry</a></li>
                            <li class=""><a href="/gallery-advance.html" class="">Advance</a></li>
                        </ul>
                    </li>
                    
                    <li data-username="Editor CK-Editor Tinemce" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-plus"></i></span><span class="pcoded-mtext">Editor</span></a>
                        <ul class="pcoded-submenu">
                            <li class="pcoded-hasmenu">
                                <a href="#!" class="">CK editor</a>
                                <ul class="pcoded-submenu">
                                    <li class=""><a href="/editor-classic.html" class="">Classic</a></li>
                                    <li class=""><a href="/editor-balloon.html" class="">Balloon</a></li>
                                    <li class=""><a href="/editor-inline.html" class="">Inline</a></li>
                                    <li class=""><a href="/editor-document.html" class="">Document</a></li>
                                </ul>
                            </li>
                            <li class=""><a href="/editor-tinymce.html" class="">Tinymce editor</a></li>
                        </ul>
                    </li>
                    <li data-username="Invoice Summury List" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-minus"></i></span><span class="pcoded-mtext">Invoice</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/invoice.html" class="">Invoice</a></li>
                            <li class=""><a href="/invoice-summary.html" class="">Invoice summary</a></li>
                            <li class=""><a href="/invoice-list.html" class="">Invoice list</a></li>
                        </ul>
                    </li>
                    <li data-username="Full Calendar" class="nav-item"><a href="/full-calendar.html" class="nav-link"><span class="pcoded-micon"><i class="feather icon-calendar"></i></span><span class="pcoded-mtext">Full calendar</span></a></li>
                    <li data-username="File Upload" class="nav-item"><a href="/file-upload.html" class="nav-link"><span class="pcoded-micon"><i class="feather icon-upload-cloud"></i></span><span class="pcoded-mtext">File upload</span></a></li>

                    <!-- <li data-username="Menu levels Menu level 2.1 Menu level 2.2" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext">Menu levels</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="" class="">Menu Level 2.1</a></li>
                            <li class="pcoded-hasmenu">
                                <a href="#!" class="">Menu level 2.2</a>
                                <ul class="pcoded-submenu">
                                    <li class=""><a href="" class="">Menu level 3.1</a></li>
                                    <li class=""><a href="" class="">Menu level 3.2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li data-username="Disabled Menu" class="nav-item disabled"><a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Disabled menu</span></a></li>
                    <li data-username="Sample Page" class="nav-item"><a href="sample-page.html" class="nav-link"><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a></li>

                    <li data-username="Documentation" class="nav-item"><a href="/ui-docs.html" class="nav-link" target="_blank"><span class="pcoded-micon"><i class="feather icon-book"></i></span><span class="pcoded-mtext">UI Docs</span></a></li>
                    <li data-username="App Docs" class="nav-item"><a href="https://docs.appseed.us/admin-dashboards/flask-dashboard-dattaable-pro" class="nav-link" target="_blank">
                        <span class="pcoded-micon">
                            <i class="feather icon-book"></i></span><span class="pcoded-mtext">App Docs</span></a>
                    </li>
                    <li data-username="Need Support" class="nav-item">
                        <a href="https://appseed.us/support" class="nav-link" target="_blank"><span class="pcoded-micon"><i class="feather icon-help-circle"></i></span><span class="pcoded-mtext">Need
                                support ?</span></a></li> -->
                    <li class="nav-item pcoded-menu-caption">
                        <label>&copy; 2020 INTERAGENT</label>
                    </li>                        
                </ul>
            </div>
        </div>
    </nav>
